{{! 页面头部导航 }}
<nav class="navbar navbar-reserve navbar-fixed-top my-navbar-transparent-black">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header my-navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#introduction-header" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}
          <!-- <img src="assets/images/logo/logo1.png" class="logo-style"/> -->
          <strong>DD</strong>LISTING
      {{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="introduction-header">
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'index'}}简介{{/link-to}}</li>
        <li><a href="http://blog.ddlisting.com" target="_blank">博客</a></li>
        <li><a href="http://notes.ddlisting.com" target="_blank">天天笔记</a></li>
        <li><a href="http://feedback.ddlisting.com" target="_blank">意见反馈</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->

      </ul>
      <ul class="nav navbar-nav pull-right" style="padding-right: 20px;">
          {{#if model}}
          <li><a href="#" {{action 'invalidateSession'}}>退出</a></li>
          <!--
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" style="position: absolute;right: 50px;">
              <li><a href="#" {{action 'invalidateSession'}}>退出</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
 -->
          {{else}}
              <li class="text-right">{{#link-to 'login'}}登录{{/link-to}}</li>
              <li class="text-right">{{#link-to 'register'}}注册{{/link-to}}</li>
          {{/if}}

      </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<script type="text/javascript">
    // $(function(){
    //     $("#introduction-header > ul > li").click(function() {
    //         console.log('11111');
    //         $(this).addClass('header-active-bg');
    //     });
    // });
</script>
