<!--  左侧菜单  -->

{{!yield}}
<ul class="nav navbar-nav side-nav" id="sidebar">
              
  <li class="collapsed-content"> 
    <ul>
      <li class="search"><!-- Collapsed search pasting here at 768px --></li>
    </ul>
  </li>

  <li class="navigation" id="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="#navigation">项目 
    <i class="fa fa-angle-up"></i></a>
    
    <ul class="menu">
      
      <li>
        <a href="/">
          <i class="fa fa-tachometer"></i> 项目一
          <span class="badge badge-success" style="margin-right: 30px;">23</span>
          <span class="badge badge-transparent-black">193</span>
        </a>
        
      </li>

      <li class="">
        <a href="#">
          <i class="fa fa-tachometer"></i> 项目二
          <span class="badge badge-success" style="margin-right: 30px;">2</span>
          <span class="badge badge-transparent-black">32</span>
        </a>
      </li>

      <li>
        <a href="/">
          <i class="fa fa-tint"></i> 项目三
          <span class="badge badge-success" style="margin-right: 30px;">12</span>
          <span class="badge badge-transparent-black">65</span>
        </a>
        
      </li>

    </ul>

  </li>
  
</ul>
