<!--  APP的logo信息 -->
{{!yield}}
<div class="navbar-header col-md-2">
  <a class="navbar-brand" href="/">
    <strong>DD</strong>LIST
  </a>
  <div class="sidebar-collapse">
    <a href="#">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
