<!--  APP的logo信息 -->
{{!yield}}
<!-- <div class="navbar-header col-md-2"> -->
  {{#link-to 'todoitems' class="navbar-brand"}}
    DDLIST<strong>ING</strong>
  {{/link-to}}
  <div class="sidebar-collapse">
      {{#link-to 'todoitems' id="closeLeftMenu"}}
      <i class="fa fa-bars"></i>
      {{/link-to}}
    <!-- <a href="/todoitems" onclick="closeOrCollapsLeftMenu()">
      <i class="fa fa-bars"></i>
    </a> -->
  </div>
<!-- </div> -->
<script type="text/javascript">
    (function() {
        $("#closeLeftMenu").click(function() {
            closeOrCollapsLeftMenu();
        });
    })();
</script>
