<!--  APP的logo信息 -->
{{!yield}}
<!-- <div class="navbar-header col-md-2"> -->
  <a class="navbar-brand" href="/">
    DDLIST<strong>ING</strong>
  </a>
  <div class="sidebar-collapse">
    <a href="#" onclick="closeOrCollapsLeftMenu()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
<!-- </div> -->
