<!-- 右侧项目详细信息设置面板 -->

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified">
  <!--
  <li class="active"><a href="#mmenu-users" data-toggle="tab"><i class="fa fa-users"></i></a></li>
  <li class=""><a href="#mmenu-history" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
  <li class=""><a href="#mmenu-friends" data-toggle="tab"><i class="fa fa-heart"></i></a></li>
  
  -->
  <li style="color: #fff; font-size: 18px; text-align: center; padding-top: 13px;">
  todo项详细设置
  <span class="glyphicon glyphicon-remove todo-list-common todo-list-destroy"
   id="right-panel-title-close"></span>
  </li>
</ul>
    
<div style="background-color: rgba(0, 0, 0, 0.3); left: 0; padding: 5px 15px;" id="right-panel-id">

              <!-- col 12 -->
              <div class="" id="right-panel-style">

                <!-- tile -->
                <section class="tile color transparent-black">
                    
                    <form class="form-horizontal" role="form">
                      
                      <div class="form-group">
                        <div class="col-sm-12">
                          <input type="text" class="form-control" id="input01">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-12">
                          <input type="password" class="form-control" id="input02">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-12">
                          <input type="text" class="form-control" id="input03">
                          <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                        </div>
                      </div>

                    </form>

                </section>
                <!-- /tile -->

          </div>

    
</div><!-- tab-content -->
