<!-- 右侧项目详细信息设置面板 -->
<div class="tab-content">
  <div class="tab-pane active" id="mmenu-users">
    <h5><strong>Online</strong> Users</h5>

    <ul class="users-list">
      
      <li class="online">
        <div class="media">
          <a class="pull-left profile-photo" href="#">
            <img class="media-object" src="assets/images/ici-avatar.jpg" alt>
          </a>
          <div class="media-body">
            <h6 class="media-heading">Ing. Imrich <strong>Kamarel</strong></h6>
            <small><i class="fa fa-map-marker"></i> Ulaanbaatar, Mongolia</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

     

      <li class="busy">
        <div class="media">
          <a class="pull-left profile-photo" href="#">
            <img class="media-object" src="assets/images/random-avatar1.jpg" alt>
          </a>
          <div class="media-body">
            <h6 class="media-heading">Lucius <strong>Cashmere</strong></h6>
            <small><i class="fa fa-map-marker"></i> Wien, Austria</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

    </ul>

    <h5><strong>Offline</strong> Users</h5>

    <ul class="users-list">
      
      <li class="offline">
        <div class="media">
          <a class="pull-left profile-photo" href="#">
            <img class="media-object" src="assets/images/random-avatar4.jpg" alt>
          </a>
          <div class="media-body">
            <h6 class="media-heading">Dell <strong>MacApple</strong></h6>
            <small><i class="fa fa-map-marker"></i> Paris, France</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

    </ul>

  </div>
    
</div><!-- tab-content -->
