{{! 子TODO}}

<div class="sub-todo">
    <ul class="nolisttypes" id="todolist">
        <li>
          <div class="checkbox check-transparent">
            <input type="checkbox" value="1" id="todo-01">
            <label for="todo-01" class="sub-todo-text">Make a backup</label>
          </div>
        </li>
        <li>
          <div class="checkbox check-transparent">
            <input type="checkbox" checked="checked" value="1" id="todo-02">
            <label for="todo-02" class="sub-todo-text done">Send e-mail to Ici</label>
          </div>
        </li>
        <li>
          <div class="checkbox check-transparent">
            <input type="checkbox" value="1" id="todo-03">
            <label for="todo-03" class="sub-todo-text">Buy tickets</label>
          </div>
        </li>
        <li>
          <div class="checkbox check-transparent">
            <input type="checkbox" value="1" id="todo-04">
            <label for="todo-04" class="sub-todo-text">Resolve issues</label>
          </div>
        </li>
  </ul>
</div>
