<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>天天清单--天天清，天天轻。</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/assets/images/logo/logo1.png">

    <link href="/assets/fonts/font-awesome.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/assets/css/awesome-bootstrap-checkbox.css"> -->
    <link type="text/css" rel="stylesheet" media="all" href="/assets/css/jquery.mmenu.all.css" />
    <link href="/assets/css/login.css" rel="stylesheet">
    <!-- <link href="assets/css/mmenu.css" rel="stylesheet"> -->
    <!-- 字体动画 -->
    <link href="//cdn.bootcss.com/animate.css/3.5.0/animate.css" rel="stylesheet">
    <!-- 时间选择插件 -->
    <!-- <link rel="stylesheet" href="assets/datepicker/css/bootstrap-datetimepicker.css"> -->
    <link rel="stylesheet" href="/assets/My97DatePicker/skin/WdatePicker.css">

    <!-- 右侧面板展开样式 -->
    <link href="/assets/effeckt/css/modules/off-screen-nav.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


    {{content-for 'head'}}

    <link rel="stylesheet" href="/assets/vendor.css">
    <link rel="stylesheet" href="/assets/todos-v2.css">
    <!-- 主要的样式文件 -->
    <link href="/assets/css/minimal.css" rel="stylesheet">
    <!-- 把自定义的样式放在最后，目的是让自定义样式覆盖其他库的样式 -->
    <link href="/assets/css/todos.css" rel="stylesheet">

    {{content-for 'head-footer'}}


  </head>
  <body class="" style="overflow: auto; overflow-x: hidden;">
    {{content-for 'body'}}

    <script src="/assets/vendor.js"></script>
    <script src="/assets/todos-v2.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/config.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.nicescroll.min.js"></script>

    <script src="/assets/js/pinyin.js"></script>
    <script src="/assets/js/minimal.min.js"></script>

    <script src="//cdn.bootcss.com/blueimp-md5/2.1.0/js/md5.min.js"></script>
    <!-- 时间选择插件 -->
    <!-- <script src="//cdn.bootcss.com/bootstrap-datetimepicker/2.1.30/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script> -->
    <!-- <script src="/assets/momentjs/moment-with-langs.min.js"></script>
    <script src="/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/assets/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script> -->
    <script src="/assets/My97DatePicker/WdatePicker.js"></script>

    <!-- 右侧面板展开样式 -->
    <script type="text/javascript" src="/assets/effeckt/js/core.js"></script>
    <script type="text/javascript" src="/assets/effeckt/js/modules/off-screen-nav.js"></script>

    <!-- 自定义的脚本放在最后，因为脚本内引用的前面的js库 -->
    <script src="/assets/js/todos.js"></script>

    <script type="text/javascript">
    // 对Date的扩展，将 Date 转化为指定格式的String
    // 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
    // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
    // 例子：
    // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
    // (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };

        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));

        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));

        return fmt;
    }

    $(function() {
		// 设置默认背景图片
		$("body").addClass('bg-1');
	});
    </script>

    <!-- 引入textarea根据内容自适应插件 -->
    <script src="/assets/jquery-flextext/jquery.flexText.min.js"></script>
    <link href="/assets/jquery-flextext/style.css" rel="stylesheet">

    <!-- 介绍页面样式 -->
    <link href="/assets/css/intro/font_lato_default.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/intro/main.css" rel="stylesheet" type="text/css" />


    {{content-for 'body-footer'}}
  </body>
</html>
