.no-text-decoration {
    text-decoration:none !important;
}
.show-mask-loading {
  display: block;
}
.hidden-mask-loading {
  display: none;
}

.show-todos-list-style {
    border-bottom: 1px dotted #ccc;
    min-height: 45px;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.show-todos-list-style:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.show-todos-list-style > div > label {
    font-size: 18px;
    padding-top: 4px;
}

.todo-list-ok-wc {
    border: 1px solid #717171;
    padding: 6px 1px 2px 4px;
    transition: border 0.2s linear 0s,color 0.2s linear 0s;
    border-radius: 4px;
    height: 24px;
    width: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 5px;
    cursor: pointer;
}

/* todo列表前面的钩 */
.todo-list-ok-btn {
  font-size: 16px;
  opacity: 0;
}

.todo-list-ok-btn-checked {
  opacity: 1;
  font-size: 16px;
}

/*  覆盖原有的样式为自定义样式  */
.label-font-style {
    color: white;
}

.label-font-style-checked {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: line-through;
}
/*
body #content div.checkbox.check-transparent input[type=checkbox]:checked + label {

    color: rgba(255, 255, 255, 0.5);
}

input[type=checkbox] {
	cursor: pointer;
}
*/
#todolist > li > div > label {
  cursor: pointer;
}


/*body .navbar .navbar-nav.side-nav > li.navigation .menu > li > a .badge {
  position: absolute;
  top: 8px;
  right: 2px;
  z-index: 9;
  font-size: 9px;
  padding: 2px 4px;
}*/
/* ====================== 覆盖原有的样式为自定义样式 end ====================== */


/* 设置列表右边图标样式  */
#todolist li .todo-list-common {
	display: none;
	position: absolute;
	top: 6px;
	/*right: 10px;*/
	bottom: 0;
	font-size: 18px;
	margin-top: 3px;
	cursor: pointer;
    color: white;
}

/* 回收站图片样式 */
.trash-todo-list-common {
  /*display: none;*/
  position: absolute;
  top: 6px;
  right: 10px;
  bottom: 0;
  font-size: 18px;
  margin-top: 3px;
  cursor: pointer;
}
/* 回收站标题样式 */
.trash-font-style-ul {
  border-bottom: 1px solid #000;
}
/* 关闭回收站列表图片样式 */
.trash-todo-list-destroy {
  right: 25px;
}

.trash-font-style {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}


.todo-list-destroy {
	right: 10px;
}

.todo-list-edit {
	right: 10px;
}

.todo-list-star {
	right: 39px;
  opacity: 0.3;
}
.todo-list-star-ed {
  right: 39px;
  opacity: 1;
}

.todo-list-tag {
	right: 39px;
}

.main-with-from-open-right-panel {
	padding-right: 360px !important;
}

/* ========================= 右侧面板样式 =========================   */
#right-panel-title-close {
  position: absolute;
  top: 13px;
  cursor: pointer;
}

#mmenu .nav.nav-tabs {
  background-color: rgba(0, 0, 0, 0.03);
}

#right-panel-style {
  color: #fff;
  margin-top: 50px;
}

#right-panel-style .tile {
  -webkit-font-smoothing: antialiased;
  position: relative;
  margin-bottom: 20px;
  color: #717171;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  /*background-color: white;*/
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
}
#right-panel-style .tile.color.transparent-black {
    /*background-color: rgba(0, 0, 0, 0.3);*/
}

#right-panel-style .tile.color.transparent-black.textured {
      background: rgba(0, 0, 0, 0.3) url(../images/dot_pattern.png) repeat;
}

#right-panel-style .tile.color.transparent-white {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#right-panel-style .tile.color.white {
    background-color: white;
    color: #717171;
}

#right-panel-style .tile.color .tile-body {
  color: #fafafa;
  background-color: transparent;
}

#right-panel-style .tile.transparent-black input[type="text"],
#right-panel-style .tile.transparent-black input[type="password"] {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 26px;
}

#right-panel-style input[type="text"],
#right-panel-style input[type="password"] {
    -webkit-appearance: none !important;
    color: #717171;
    outline: 0;
    height: 16px;
    padding: 6px 11px !important;
    line-height: 18px;
    font-size: 13px;
    vertical-align: top;
    background-color: #fff;
    min-height: 37px;
    filter: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/* 列表底部的过滤按钮样式 */
.filter-tools-commen {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 30px;
  cursor: pointer;
}
/* 列表底部回收站样式 */
.filter-tools-trash {
  position: absolute;
  right: 20px;
}
/* 激活状态 */
.filter-tools-active {
  color: white;
  /*font-weight: bold;*/
}


/* ==================== 介绍页面样式 ====================== */
/* 覆盖bootstrap的样式，去掉 margin-bottom 值*/
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
     margin-bottom: 0 !important;
    color: inherit;
    background-color: #eee;
}

.my-navbar-transparent-black {  /* 导航条的背景色 */
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.my-navbar-header {  /* 左侧logo背景 */
    background-color: rgba(0, 0, 0, 0) !important;
    width: auto !important;
}
.my-bg-transparent-black-3 {
    background-color: rgba(0, 0, 0, 0.2) !important;
}
/* 设置页面导航栏鼠标移上去样式 */
#introduction-header > ul > li > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#introduction-header > ul > li > a:focus {
    background-color: rgba(0, 0, 0, 0.1);
}
/* 介绍页面字体颜色 */
.intro-font-color {
    color: white !important;
}

.intro-section {
    /*background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));*/
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.feature-grid > a:hover, .hero-wrapper > a:hover {
    text-decoration: none;
}
.mr30 {
    margin-right: 30px;
}
.personal-center {
    position: absolute;
    right: 20px;
    display: none;
}
.dropdown-menu-personal {
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

.dropdown-menu-personal > li > a {
	color: #717171;
	font-size: 12px;
}

.dropdown-menu-personal > li:last-child > a {
	font-size: 12px;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-ms-border-radius: 0 0 2px 2px;
	-o-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
}

.personal-settings {
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-ms-border-radius: 0 0 2px 2px;
	-o-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	border: 0;
	padding: 5px;
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;
	animation-duration: 0.3s;
	background: #fff;
}

.personal-settings .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	width: 100% !important;
	background-color: #e5e5e5 !important;
	opacity: 1 !important;
}

.personal-settings > li {
	display: block;
}

.ps-li {
	padding: 4px 0 4px 0;
}

.personal-settings > li:hover {
	background-color: #f2f2f2;
	text-decoration: none;
}

.personal-settings > li > a {
	padding: 5px 10px;
	text-decoration: none;
	font-size: 12px;
    color: #717171;
}

.personal-settings > li > a i {
	font-size: 14px;
}

.personal-settings > li > h3 {
	padding: 0;
	margin: 5px 10px;
	font-size: 12px;
	font-family: "Roboto", "Arial", sans-serif;
	color: #717171;
	font-weight: 600;
    line-height: 8px;
    text-align: center;
}

#color-schemes {
	margin: 10px;
	text-align: center;
	list-style-type: none;
	padding: 0;
}

#color-schemes > li {
	width: 17px;
	text-align: center;
	display: inline-block;
}

#color-schemes > li > a {
	display: inline-block;
	width: 70%;
	height: 12px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

#color-schemes > li > a:hover {
	-webkit-transform: scale(1.3, 1.3);
	-moz-transform: scale(1.3, 1.3);
	-ms-transform: scale(1.3, 1.3);
	-o-transform: scale(1.3, 1.3);
	transform: scale(1.3, 1.3);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#color-schemes > li > a.bg-1 {
	background: url(/assets/images/backgrounds/thumbs/1.jpg) center center no-repeat;
}

#color-schemes > li > a.bg-2 {
	background: url(/assets/images/backgrounds/thumbs/2.jpg) center center no-repeat;
}

#color-schemes > li > a.bg-3 {
	background: url(/assets/images/backgrounds/thumbs/3.jpg) center center no-repeat;
}

#color-schemes > li > a.bg-4 {
	background: url(/assets/images/backgrounds/thumbs/4.jpg) center center no-repeat;
}

#color-schemes > li > a.bg-5 {
	background: url(/assets/images/backgrounds/thumbs/5.jpg) center center no-repeat;
}

#color-schemes > li > a.bg-6 {
	background: url(/assets/images/backgrounds/thumbs/6.jpg) center center no-repeat;
}

/* todo创建时间 */
.todo-create-date {
    color: #EEE;
    position: absolute;
    right: 20px;
    font-size: 13px;
    top: 23px;
}
/* 自动隐藏超过TODO宽度的字体，并且用省略号替换 */
.auto-hide-overflow-font {
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: -5px;
}

/* ================== 右侧TODO面板 ================*/
.right-panel {
    height: 100%;
    width: 45%;
    position: absolute;
    right: 0;
    top: 45px;
    /*display: none;*/
    background-color: white;

    -webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-ms-border-radius: 0 0 2px 2px;
	-o-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;
	animation-duration: 0.3s;

    padding: 0 15px;

    overflow:hidden;;
}
.right-panel .title {
    font-size: 16px;
    margin: 10px 0 0 15px;
}
/* 右侧面板顶部关闭按钮样式 */
.right-panel-close-btn {
    font-size: 16px;
    cursor: pointer;
    position: absolute;
}
/* 右侧面板底部关闭按钮样式 */
.right-panel-close-btn-btom {
    position: absolute;
    top: 90%;
    cursor: pointer;
    font-size: 16px
}
/* 右侧面板底部删除按钮样式 */
.right-panel-del-btn {
    position: absolute;
    right: 15px;
    /* bottom: 55px; */
    /*margin-top: -10px;*/
    top: 8px;
}
/* 底部折叠按钮 */
.right-panel-right-btn {
    margin-bottom: -15px;
}
/* 分隔线公共部分 */
.common-divider {
    bottom: 10px !important;
    position: relative !important;
    margin: 0 !important;
}
/* 分割线 */
#right-panel-id .divider {
    width: 100%;
    background-color: #e5e5e5 !important;
    opacity: 1 !important;
    height: 1px;
    position: absolute;
    bottom: 90px;
    margin-left: -15px;
}
/* 评论输入框 */
.todo-comment-style {
    position: absolute;
    right: 2%;
    width: 96%;
    left: 2%;
    bottom: 100px;
}
/* 起止日期样式 */
.todo-date {
    width: 160px;
    display: inline;
}
.todo-start-date {
    float: left;
    margin-left: 15px;
}
.todo-end-date {
    /*float: right;
    margin-right: 15px;*/
}
.data-divider-flag {
    margin: 0 5px 0 10px;
}
/* 子todo项样式 */
.sub-todo {
    margin-top: -10px;
}
.sub-todo .sub-todo-label {
    width: 100% !important;
}
.sub-todo .sub-todo-input {
    border: 0 !important;
    border-bottom: 1px dotted #ccc !important;
    width: 100% !important;
    background: white !important;
    margin-top: -10px !important;
}
.sub-todo .sub-todo-text {
    font-size: 15px;
}
.sub-todo .sub-todo-text:hover {
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.comment-list {
}
.middle-content {
    overflow: auto;
    padding-top: 10px;
    overflow-x: hidden;
}
.middle-content .remark {
    border: 1px dotted #ccc;
    padding: 8px;
}
/* 固定顶部标题文字位置，固定底部工具栏位置 */
.fixed-comm {
    /*position: absolute;*/
}
.fixed-top {
    /* height: 47px; */
    position: relative;
    /* background: #f2f2f2; */
    /* right: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* top: 0px; */
    z-index: 9999;
    margin-left: -10px;
    /* margin-right: -50px; */
}
.fixed-top textarea {
    border: 0;
    box-shadow: none;
    margin-top: 10px;
}
.fixed-bottom {
    position: absolute;
    bottom: 20px;
    background: #f2f2f2;
    height: 60px;
    width: 100%;
    right: 0px;
    padding-left: 20px;
    /*padding-top: 20px;*/
}
/* 完成状态下的子任务样式：中划线，颜色淡黑色 */
.sub-todo-complete-style {
    color: #ccc;
    text-decoration: line-through;
}
/* 未完成状态的子任务演示：正确显示即可 */
.sub-todo-nocomplete-style {
    color: #000;
    text-decoration:none;
}
/* 鼠标移动到子任务上显示删除按钮 */
.sub-todo-remove {
    display: none;  /* 默认不显示，当鼠标移动到其上时才显示 */
    font-size: 6px;
    color: #777;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
