.show-todos-list-style {
    border-bottom: 1px dotted #ccc;
    min-height: 45px;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.show-todos-list-style:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.show-todos-list-style > div > label {
    font-size: 18px;
    padding-top: 4px;
}

.todo-list-ok-wc {
    border: 1px solid #717171;
    padding: 6px 1px 2px 4px;
    transition: border 0.2s linear 0s,color 0.2s linear 0s;
    border-radius: 4px;
    height: 24px;
    width: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 5px;
    cursor: pointer;
}

/* todo列表前面的钩 */
.todo-list-ok-btn {
  font-size: 16px;
  opacity: 0;
}

.todo-list-ok-btn-checked {
  opacity: 1;  
  font-size: 16px;
}

/*  覆盖原有的样式为自定义样式  */
.label-font-style {
    color: white;
}

.label-font-style-checked {
    color: rgba(255, 255, 255, 0.5); 
    text-decoration: line-through;  
}
/*
body #content div.checkbox.check-transparent input[type=checkbox]:checked + label {
    
    color: rgba(255, 255, 255, 0.5);
}

input[type=checkbox] {
	cursor: pointer;
}
*/
#todolist > li > div > label {
  cursor: pointer;
}


/*body .navbar .navbar-nav.side-nav > li.navigation .menu > li > a .badge {
  position: absolute;
  top: 8px;
  right: 2px;
  z-index: 9;
  font-size: 9px;
  padding: 2px 4px; 
}*/
/* ====================== 覆盖原有的样式为自定义样式 end ====================== */


/* 设置列表右边图标样式  */
#todolist li .todo-list-common {
	display: none;
	position: absolute;
	top: 6px;
	/*right: 10px;*/
	bottom: 0;
	font-size: 18px;
	margin-top: 3px;
	cursor: pointer;
}

/* 回收站图片样式 */
.trash-todo-list-common {
  /*display: none;*/
  position: absolute;
  top: 6px;
  right: 10px;
  bottom: 0;
  font-size: 18px;
  margin-top: 3px;
  cursor: pointer;
}
/* 回收站标题样式 */
.trash-font-style-ul {
  border-bottom: 1px solid #000;
}
/* 关闭回收站列表图片样式 */
.trash-todo-list-destroy {
  right: 25px;
}

.trash-font-style {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}


.todo-list-destroy {
	right: 10px;
}

.todo-list-edit {
	right: 40px;
}

.todo-list-star {
	right: 70px;
  opacity: 0.3;
}
.todo-list-star-ed {
  right: 70px;
  opacity: 1;
}

.todo-list-tag {
	right: 70px;
}

.main-with-from-open-right-panel {
	padding-right: 360px !important;
}

/* 右侧面板样式  */
#right-panel-title-close {
  position: absolute;
  top: 13px;
  cursor: pointer;
}

#mmenu .nav.nav-tabs {
  background-color: rgba(0, 0, 0, 0.03);
}

#right-panel-style {
  color: #fff;
  margin-top: 50px;
}

#right-panel-style .tile {
  -webkit-font-smoothing: antialiased;
  position: relative;
  margin-bottom: 20px;
  color: #717171;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  /*background-color: white;*/
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
}
#right-panel-style .tile.color.transparent-black {
    /*background-color: rgba(0, 0, 0, 0.3);*/
}

#right-panel-style .tile.color.transparent-black.textured {
      background: rgba(0, 0, 0, 0.3) url(../images/dot_pattern.png) repeat; 
}

#right-panel-style .tile.color.transparent-white {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.1); 
}

#right-panel-style .tile.color.white {
    background-color: white;
    color: #717171; 
}

#right-panel-style .tile.color .tile-body {
  color: #fafafa;
  background-color: transparent;
}

#right-panel-style .tile.transparent-black input[type="text"],
#right-panel-style .tile.transparent-black input[type="password"] {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 26px;
}

#right-panel-style input[type="text"],
#right-panel-style input[type="password"] {
    -webkit-appearance: none !important;
    color: #717171;
    outline: 0;
    height: 16px;
    padding: 6px 11px !important;
    line-height: 18px;
    font-size: 13px;
    vertical-align: top;
    background-color: #fff;
    min-height: 37px;
    filter: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/* 列表底部的过滤按钮样式 */
.filter-tools-commen {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 30px;
  cursor: pointer;
}
/* 列表底部回收站样式 */
.filter-tools-trash {
  position: absolute;
  right: 20px;
}
/* 激活状态 */
.filter-tools-active {
  color: white;
  /*font-weight: bold;*/
}

