
@font-face {
	font-family: 'wundercon';
	src: url('wundercon-light.otf');
	src:
url('wundercon-light.eot') format('eot'),
url('wundercon-light.ttf') format('ttf'),
url('wundercon-light.woff') format('woff'),
url('wundercon-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	margin:0;
	padding:0
}
html {
	overflow-x:hidden
}
body {
	-webkit-font-smoothing:antialiased;
	font-family:"Lato","Helvetica Neue","Helvetica",sans-serif;
	font-size:16px;
	color:#333;
	background:#fafafa;
}
body.ja {
	font-family:"Meiryo UI","Meiryo","Lato","Helvetica Neue","Helvetica",sans-serif
}
.img-wrapper {
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	pointer-events:none
}
.hero-background {
	background:-webkit-linear-gradient(bottom left, rgba(0,0,0,0.01), rgba(0,0,0,0.04));
	background:-moz-linear-gradient(bottom left, rgba(0,0,0,0.01), rgba(0,0,0,0.04));
	background:-o-linear-gradient(bottom left, rgba(0,0,0,0.01), rgba(0,0,0,0.04));
	background:-ms-linear-gradient(bottom left, rgba(0,0,0,0.01), rgba(0,0,0,0.04));
	background:linear-gradient(to top right, rgba(0,0,0,0.01), rgba(0,0,0,0.04));
	padding-bottom:40px;
	overflow:hidden
}
.wrapper {
	position:relative;
	width:920px;
	margin:0 auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	min-height:100%;
}
.wrapper.wide {
	width:1104px
}
.wrapper.top {
	padding:200px 10px 50px 10px
}
.wrapper.half-top {
	padding:120px 10px 50px 10px
}
.hero-wrapper {
	padding-top: 60px;
	text-align: center;
	color: white;
}
.hero-wrapper .button {
	margin:10px 10px 10px 0
}
h1 {
	font-size:68px;
	font-weight:200;
	letter-spacing:-2px;
	margin-bottom:6px;
	line-height:80px
}
h2 {
	font-size:48px;
	line-height:58px;
	font-weight:200;
	letter-spacing:-1px;
	margin-top:100px;
	margin-bottom:15px
}
h3 {
	font-size:36px;
	line-height:44px;
	font-weight:200;
	margin-top:30px;
	margin-bottom:5px
}
h4 {
	font-size:30px;
	line-height:38px;
	font-weight:200;
	margin-top:10px;
	margin-bottom:5px
}
h5 {
	font-size:22px;
	line-height:28px;
	font-weight:400;
	margin:0;
	display:inline-block
}
h6 {
	font-size:18px;
	line-height:26px;
	font-weight:600;
}
h6.light {
	font-weight:400
}
h6 {
	font-size:16px;
	line-height:1.5em
}
a {
	cursor:pointer;
	text-decoration:none;
	color:#FFF;
}
ul {
	list-style:none
}
p {
	margin-bottom:20px;
	line-height:1.5em;
}
p.subline {
	color:#FFF;
	font-size:18px;
	line-height:28px;
	margin-bottom:50px
}
p.thinner {
	padding-left:180px;
	padding-right:180px
}
p.small {
	font-size:14px
}
.hidden {
	display:none !important
}
.invisible {
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	-webkit-transition:opacity 1s ease;
	-moz-transition:opacity 1s ease;
	-o-transition:opacity 1s ease;
	-ms-transition:opacity 1s ease;
	transition:opacity 1s ease;
}
.invisible.visible {
	opacity:1;
	-ms-filter:none;
	filter:none
}
.disabled {
	cursor:default;
	opacity:.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=50)
}
.center {
	text-align:center;
	position:relative;
}
.center .img-wrapper {
	margin:0 auto
}
.right {
	float:right
}
.wundercon {
	font-family:"wundercon"
}
.text-content {
	padding:0 8%
}
.no-padding {
	padding:0 !important
}
.blue {
	font-size:43px;
	color:#2b88d9
}
.inline-block {
	display:inline-block
}
.over-sized {
	margin-left:-200px !important;
	margin-right:-200px !important
}
.sublinenudge {
	font-size:16px;
	margin:10px 0
}
.tag {
	font-size:10px;
	line-height:10px;
	font-weight:600;
	text-transform:uppercase;
	padding:5px 8px;
	margin:0 10px;
	border:1px solid rgba(96,96,96,0.7);
	color:rgba(96,96,96,0.7);
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	vertical-align:middle
}
.pro-badge {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/e3639a82cc1325e786461cdd4189171f43e8c5af/site/images/pro/badge@2x.png");
	width:25px;
	height:26px;
	-webkit-background-size:25px;
	-moz-background-size:25px;
	background-size:25px;
	display:inline-block
}
.hero-image {
	position:absolute;
	top:30px;
	right:-170px
}
@media screen and (max-width:1024px) {
	.wrapper,.wrapper.top {
	width:100%;
	padding-left:40px;
	padding-right:40px;
}
.wrapper .hero-image,.wrapper.top .hero-image {
	width:50%;
	top:20px;
	right:-340px
}
.hero-background {
	padding-bottom:30px
}
.text-content {
	padding:0
}
.img-wrapper {
	-webkit-background-size:contain !important;
	-moz-background-size:contain !important;
	background-size:contain !important;
	width:100% !important
}
}@media screen and (max-width:768px) {
	.wrapper .subline.thinner {
	padding-left:0;
	padding-right:0
}
.wrapper .hero-wrapper {
	text-align:center;
	width:100% !important
}
.wrapper .hero-image {
	position:static;
	display:block;
	margin:0 auto;
	margin-top:-200px
}
.wrapper .img-wrapper {
	-webkit-background-size:contain !important;
	-moz-background-size:contain !important;
	background-size:contain !important;
	width:100% !important
}
}@media screen and (max-width:640px) {
	.wrapper {
	text-align:center;
	padding-left:10px;
	padding-right:10px;
}
.wrapper.top {
	padding-bottom:0;
	padding-left:20px;
	padding-right:20px;
}
.wrapper.top .hero-image {
	margin-top:-250px;
	width:70%
}
h1 {
	font-size:40px;
	line-height:48px
}
h2 {
	font-size:32px;
	line-height:40px;
	margin-top:50px
}
h3 {
	font-size:20px;
	line-height:30px;
	font-weight:400
}
h4 {
	font-size:16px;
	line-height:130%;
	font-weight:400
}
p,p.subline {
	font-size:16px;
	line-height:130%
}
.img-wrapper {
	-webkit-background-size:contain !important;
	-moz-background-size:contain !important;
	background-size:contain !important;
	width:100% !important
}
}.open-in-safari-modal {
	z-index:99999;
	background-color:#000;
	background-color:rgba(0,0,0,0.8);
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
.open-in-safari-modal .modal-container {
	padding:0 25px 0 50px;
	margin:10px auto;
}
.open-in-safari-modal .modal-container .safari-icon {
	float:left;
	margin-top:60px;
	margin-bottom:1em;
	width:60px;
	height:60px;
	background:url("//dr0wv9n0kx6h5.cloudfront.net/8c5bfc89056793ace8af6c86a64bd7e008fbbadf/site/images/open-in-safari/safari_icon@2x.png");
	-webkit-background-size:100%;
	-moz-background-size:100%;
	background-size:100%
}
.open-in-safari-modal .modal-container .arrow {
	margin-bottom:1em;
	float:right;
	width:160px;
	height:79px;
	background:url("//dr0wv9n0kx6h5.cloudfront.net/44e0565d845cb0f38f118fab260928da1264f5cb/site/images/open-in-safari/arrow@2x.png");
	-webkit-background-size:100%;
	-moz-background-size:100%;
	background-size:100%
}
.open-in-safari-modal .modal-container p {
	margin-top:1em;
	clear:both;
	font-size:20px;
	color:#fff
}
body.ja h1 {
	font-size:50px
}
body.ja h2 {
	font-size:40px
}
@font-face {
	font-family: 'wundercon';
	src: url('wundercon-light.otf');
	src:
url('wundercon-light.eot') format('eot'),
url('wundercon-light.ttf') format('ttf'),
url('wundercon-light.woff') format('woff'),
url('wundercon-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.container {
	background:#fff;
	padding:50px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.06);
	box-shadow:0 2px 5px rgba(0,0,0,0.06);
	border:1px solid #e3e3e3
}
.wrapper.page {
	padding-left:100px;
	padding-right:100px;
}
.wrapper.page p {
	color:#606060
}
.wrapper.page ul {
	list-style:disc;
	padding-left:20px;
	line-height:1.5em;
	margin-bottom:20px;
	color:#606060;
}
.wrapper.page ul li {
	margin:10px 0
}
.wrapper.page ul p {
	margin:0
}
@media screen and (max-width:1024px) {
	.wrapper.page {
	padding-left:40px;
	padding-right:40px;
	text-align:left
}
}@media screen and (max-width:640px) {
	.container {
	padding:0;
	-webkit-box-shadow:none;
	box-shadow:none;
	border:none;
	background:#fafafa
}
}
@font-face {
	font-family: 'wundercon';
	src: url('wundercon-light.otf');
	src:
url('wundercon-light.eot') format('eot'),
url('wundercon-light.ttf') format('ttf'),
url('wundercon-light.woff') format('woff'),
url('wundercon-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body.home .wrapper.top {
	padding-top:70px;
	padding-bottom:70px;
}
body.home .wrapper.top .img-wrapper {
	background-position:right
}
body.home .hero-wrapper {
	width:46%
}
body.home .intro-image {
	bottom:-40px;
	right:-40px
}
body.home .intro {
	background-image:url("/site/images/home/pictos.svg");
	background-position:center center;
}
body.home .intro h2 {
	margin-top:50px
}
body.home .platforms .subline {
	margin-bottom:20px
}
body.home .feature-header {
	margin-bottom:40px
}
body.home .tag {
	margin:-9px 10px 0 10px
}
body.home .feature-item-icon {
	font-size:40px;
	margin-top:20px
}
body.home span.devices {
	margin-top:40px
}
body.home img.collab {
	margin-left:-450px;
	margin-bottom:40px
}
body.home .twitter-love h2 {
	margin-bottom:40px
}
body.home .newsimg {
	margin:30px 0 20px 0;
	width:100%;
	height:auto
}
@media screen and (max-width:1024px) {
	body.home .intro-image {
	right:-160px
}
body.home .feature .feature-section {
	margin-bottom:100px
}
body.home .feature img {
	width:80%;
}
body.home .feature img.collab {
	width:100%;
	margin-left:-40px
}
}@media screen and (max-width:768px) {
	body.home .intro-image {
	right:auto;
	left:50%;
	margin-left:-304px;
	bottom:auto;
	top:60%
}
body.home .wrapper.top {
	padding-top:50px;
	padding-bottom:300px;
}
body.home .feature .feature-section {
	margin-bottom:45px
}
}@media screen and (max-width:640px) {
	body.home .button.outlined.play-button {
	margin:20px 20px 0 20px
}
body.home .wrapper.top {
	padding-top:40px;
	padding-bottom:320px
}
body.home .hero-wrapper {
	text-align:center
}
body.home .feature img {
	width:50%
}
body.home .feature .feature-section {
	margin-bottom:20px
}
body.home .feature p span {
	margin:0 5px
}
body.home .feature:last-child {
	padding-bottom:0
}
}body.pro .pro-badge {
	vertical-align:top;
	margin:3px 0 0 0
}
body.pro .hero-image {
	top:20px;
	right:-230px
}
body.pro h2:first-of-type {
	margin-top:90px
}
body.pro .pro-table table {
	margin:100px 0 -60px 0;
	position:relative;
	z-index:2;
}
body.pro .pro-table table td:nth-child(2),body.pro .pro-table table td:nth-child(3) {
	text-align:center
}
body.pro .pro-table .wundercon {
	float:left;
	margin-top:5px;
	margin-right:25px;
	color:#2b88d9;
	line-height:.7
}
body.pro .feature:last-child {
	padding-bottom:0
}
@media screen and (max-width:1024px) {
	body.pro .col img {
	-webkit-transform:translateX(0) !important;
	-moz-transform:translateX(0) !important;
	-o-transform:translateX(0) !important;
	-ms-transform:translateX(0) !important;
	transform:translateX(0) !important
}
body.pro .feature img {
	width:80%
}
}@media screen and (max-width:640px) {
	body.pro .pro-table table tr:first-child td {
	font-size:18px
}
body.pro .pro-table table td {
	text-align:left;
	padding:15px 10px;
}
body.pro .pro-table table td h5 {
	font-size:14px
}
body.pro .pro-table table td p {
	font-size:12px
}
body.pro .pro-table table td span {
	display:none
}
}body.business .hero-image {
	top:0;
	right:-300px
}
body.business .features .feature .feature-section {
	margin:70px 0;
}
body.business .features .feature .feature-section h4 {
	margin:0;
	display:inline-block
}
body.business .features .feature .feature-section h4,body.business .features .feature .feature-section .tag {
	vertical-align:middle
}
body.business .features .feature .feature-section .tag {
	margin-top:6px
}
body.business .download-section {
	display:block;
	margin:20px 0;
}
body.business .download-section span {
	margin:0 20px
}
body.business .detailview {
	margin-left:-150px
}
body.business .cols .col:nth-child(even) {
	border-bottom:none
}
@media screen and (max-width:1024px) {
	body.business .feature img {
	width:80%;
}
body.business .feature img.detailview {
	height:842px;
	width:auto;
	float:right;
	margin-right:40px
}
}@media screen and (max-width:768px) {
	body.business .features .feature .feature-section {
	margin-bottom:50px
}
body.business .features .feature img {
	width:80%;
}
body.business .features .feature img.detailview {
	height:780px;
	width:auto;
	float:right;
	margin-right:20px
}
}@media screen and (max-width:640px) {
	body.business .button.outlined.play-button {
	margin:20px 20px 0 20px
}
body.business .detailview {
	margin-left:0;
	width:80%;
	margin-bottom:40px
}
body.business .feature.padding-bottom {
	padding-bottom:20px
}
body.business .cols .col:nth-child(even) {
	padding-bottom:0
}
}
body.download h2 {
	margin:0;
}
body.download h2.spacer {
	margin-top:2em
}
body.download .download-grid {
	font-size:0;
}
body.download .download-grid li {
	display:inline-block;
	width:33.33%;
	padding:10px 20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body.download .download-grid li span {
	margin:30px 0;
}
body.download .download-grid li span.android-qr {
	margin:0
}
body.download .download-grid li a {
	display:block;
	width:auto
}
@media screen and (max-width:1024px) {
	body.download .download-grid li {
	display:inline-block;
	width:50%;
	padding:10px 20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
}@media screen and (max-width:640px) {
	body.download .download-grid li {
	display:inline-block;
	width:100%;
	padding:0 20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body.download .download-grid li span.android-qr {
	margin:30px 0 0 0
}
}body.imprint .cols {
	margin-top:0 !important
}

}

}
@media screen and (max-width:640px) {
	.toggle-download {
	display:none
}
}@media screen and (max-width:480px) {
	.header .button.small {
	padding-left:10px;
	padding-right:10px
}
}
@font-face {
	font-family: 'wundercon';
	src: url('wundercon-light.otf');
	src:
url('wundercon-light.eot') format('eot'),
url('wundercon-light.ttf') format('ttf'),
url('wundercon-light.woff') format('woff'),
url('wundercon-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.footer {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	padding:50px 0;
	border-top:1px solid #e3e3e3;
	height:130px;
}
.footer ul {
	display:inline-block
}
.footer li {
	display:inline;
	margin:0 20px
}
.footer a {
	color:#808080;
	font-weight:bold;
	font-size:14px
}
.footer .footerAnnouncement {
	padding:20px 30px 30px;
}
.footer .footerAnnouncement a {
	position:relative;
	font-weight:normal;
	color:#2b88d9;
}
.footer .footerAnnouncement a .wundercon {
	font-size:20px;
	position:absolute;
	top:-5px;
	left:-26px
}
.footer .footerAnnouncement a:hover {
	text-decoration:underline
}
.newsletterWrapper {
	margin-bottom:100px;
}
.newsletterWrapper .button {
	margin-left:10px
}
.newsletterWrapper label {
	display:block;
	font-size:12px;
	font-weight:400;
	padding:10px;
	margin:5px 0 10px 0
}
.newsletterWrapper .footer-social {
	margin-top:10px;
}
.newsletterWrapper .footer-social .share-twitter,.newsletterWrapper .footer-social .share-fb,.newsletterWrapper .footer-social .share-gplus,.newsletterWrapper .footer-social .share-insta {
	width:auto;
	margin:0 5px
}
@media screen and (max-width:640px) {
	.wunderlist-website .footer li {
	display:inline-block;
	margin:10px
}
.wunderlist-website .newsletterWrapper input[type=email].big,.wunderlist-website .newsletterWrapper .button {
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:inline-block
}
.wunderlist-website .newsletterWrapper .button {
	width:100%;
	margin-left:0;
	margin-top:10px
}
}
@font-face {
	font-family: 'wundercon';
	src: url('wundercon-light.otf');
	src:
url('wundercon-light.eot') format('eot'),
url('wundercon-light.ttf') format('ttf'),
url('wundercon-light.woff') format('woff'),
url('wundercon-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.intro {
	background-color: rgba(0, 0, 0, 0.2) !important;
	overflow:hidden;
	position:relative;
}
.intro:after {
	content:'';
	position:absolute;
	bottom:0;
	right:0;
	left:0;
	height:5px;
	background:-webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.02));
	background:-moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.02));
	background:-o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.02));
	background:-ms-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.02));
	background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.02))
}
.intro h1,.intro h2,.intro .subline {
	color:#fff;
	text-shadow:0 1px 3px rgba(0,0,0,0.2)
}
.intro-image {
	position:absolute;
	right:-40px
}
.cols {
	margin-top:80px;
	font-size:0;
}
.cols.top .col {
	vertical-align:top
}
.cols .col {
	width:50%;
	display:inline-block;
	font-size:16px;
	position:relative;
	vertical-align:middle;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position:relative;
}
.cols .col.col-15 {
	width:15%
}
.cols .col.col-50 {
	width:50%
}
.cols .col.col-85 {
	width:85%;
	vertical-align:top
}
.cols .col img,.cols .col .img-wrapper {
	float:right
}
.cols .col p {
	color:#808080
}
.cols:nth-child(odd) img,.cols:nth-child(odd) .img-wrapper {
	float:right
}
.cols:nth-child(odd) .col:first-child {
	left:0
}
.cols:nth-child(odd) .col:last-child {
	right:0
}
.cols:nth-child(even) img,.cols:nth-child(even) .img-wrapper {
	float:left
}
.cols:nth-child(even) .col:first-child {
	left:50%
}
.cols:nth-child(even) .col:last-child {
	right:50%
}
.cols.reverse:nth-child(odd) .col:first-child {
	left:50%
}
.cols.reverse:nth-child(odd) .col:last-child {
	right:50%
}
.cols.reverse:nth-child(odd) img,.cols.reverse:nth-child(odd) .img-wrapper {
	float:left
}
.cols.reverse:nth-child(even) img,.cols.reverse:nth-child(even) .img-wrapper {
	float:right
}
.cols.reverse:nth-child(even) .col:first-child {
	left:0
}
.cols.reverse:nth-child(even) .col:last-child {
	right:0
}
@media screen and (max-width:1024px) {
	.cols .col {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.cols .col h3 {
	margin-top:0
}
.cols .col img,.cols .col .img-wrapper {
	width:90%;
	height:auto;
	-webkit-transform:translateX(0) !important;
	-moz-transform:translateX(0) !important;
	-o-transform:translateX(0) !important;
	-ms-transform:translateX(0) !important;
	transform:translateX(0) !important;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	background-size:contain
}
}@media screen and (max-width:640px) {
	.cols {
	margin-top:50px;
}
.cols .col,.cols .col:nth-child(even) {
	position:static !important;
	width:100%;
	padding:0 10px;
}
.cols .col img,.cols .col:nth-child(even) img,.cols .col .img-wrapper,.cols .col:nth-child(even) .img-wrapper {
	float:none;
	width:80%;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	background-size:contain
}
.cols .col:nth-child(even) {
	padding-bottom:50px
}
}
@font-face {
	font-family: 'wundercon';
	src: url('wundercon-light.otf');
	src:
url('wundercon-light.eot') format('eot'),
url('wundercon-light.ttf') format('ttf'),
url('wundercon-light.woff') format('woff'),
url('wundercon-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.button {
	display:inline-block;
	padding:12px 15px;
	border:none;
	font-size:16px;
	font-weight:bold;
	-webkit-border-radius:5px;
	border-radius:5px;
	outline:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:background 200ms ease;
	-moz-transition:background 200ms ease;
	-o-transition:background 200ms ease;
	-ms-transition:background 200ms ease;
	transition:background 200ms ease;
	color:#606060;
}
.button:focus {
	outline:1px #808080 dotted !important
}
.button.small {
	padding:10px 20px
}
.button.big {
	font-size:18px;
	padding:20px 40px
}
.button.gray {
	background-color:#fff;
	-webkit-box-shadow:inset 0 0 0 1px #e3e3e3;
	box-shadow:inset 0 0 0 1px #e3e3e3
}
.button.blue {
	background-color:#2b88d9;
	color:#fff;
}
.button.blue:hover {
	background-color:#2683d4
}
.button.green {
	background-color:#65b01b;
	color:#fff;
}
.button.green:hover {
	background-color:#60a71a
}
.button.red {
	background-image:-webkit-linear-gradient(top, #df332b, #d3251f);
	background-image:-moz-linear-gradient(top, #df332b, #d3251f);
	background-image:-o-linear-gradient(top, #df332b, #d3251f);
	background-image:-ms-linear-gradient(top, #df332b, #d3251f);
	background-image:linear-gradient(to bottom, #df332b, #d3251f);
	color:#fff;
}
.button.red:active {
	background-image:-webkit-linear-gradient(top, #d3251f, #df332b);
	background-image:-moz-linear-gradient(top, #d3251f, #df332b);
	background-image:-o-linear-gradient(top, #d3251f, #df332b);
	background-image:-ms-linear-gradient(top, #d3251f, #df332b);
	background-image:linear-gradient(to bottom, #d3251f, #df332b)
}
.button.white {
	-webkit-box-shadow:none;
	box-shadow:none;
	background:#fff;
	color:#db4c3f
}
.button.outlined-white {
	background:none;
	position:relative;
	-webkit-box-shadow:inset 0 0 0 2px #fff;
	box-shadow:inset 0 0 0 2px #fff;
	color:#fff;
}
.button.outlined-white:hover {
	background:#fff;
	color:#db4c3f
}
.button.outlined {
	background:none;
	position:relative;
	-webkit-box-shadow:inset 0 0 0 2px #2b88d9;
	box-shadow:inset 0 0 0 2px #2b88d9;
	color:#2b88d9;
}
.button.outlined:hover {
	background:#2b88d9;
	color:#fff
}
.button.outlined-rounded {
	background:none;
	position:relative;
	-webkit-box-shadow:inset 0 0 0 1px #2b88d9;
	box-shadow:inset 0 0 0 1px #2b88d9;
	color:#2b88d9;
	-webkit-border-radius:50px;
	border-radius:50px;
	font-size:12px;
	line-height:12px;
	text-transform:uppercase;
	padding:10px 15px 13px 15px
}
.button.outlined-rounded:hover {
	background:#2b88d9;
	color:#fff
}
.button.goto-button:after {
	content:"»";
	font-size:20px;
	display:inline-block;
	margin-left:8px
}
.button.play-button:before {
	content:"▶";
	display:inline-block;
	margin-right:8px
}
.button.appstore {
	background:#000;
	-webkit-box-shadow:none;
	box-shadow:none;
	color:#fff;
	text-transform:uppercase
}
.button.windows-phone,.button.windows-desktop {
	text-indent:-9999px;
	margin:0 8px;
	-webkit-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	box-shadow:none
}
.button.windows-phone {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/01aa3f6226b8f87b90d38e25fb3ea3ded7bfa7d1/site/images/buttons/windows-phone@2x.jpg");
	width:259px;
	height:67px;
	-webkit-background-size:259px;
	-moz-background-size:259px;
	background-size:259px
}
.button.windows-desktop {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/b688fe46c3c0b60904772496194779a90eed5a36/site/images/buttons/windows-desktop@2x.jpg");
	width:258px;
	height:67px;
	-webkit-background-size:258px;
	-moz-background-size:258px;
	background-size:258px
}
@media screen and (max-width:640px) {
	.button.small {
	padding:10px
}
.button.big {
	font-size:14px;
	padding:15px 30px
}
.button.windows-phone,.button.windows-desktop {
	margin:8px
}
}
.icon {
	width:47px;
	height:47px;
	display:inline-block;
	vertical-align:middle;
	-webkit-background-size:47px;
	-moz-background-size:47px;
	background-size:47px;
	background-repeat:no-repeat;
	background-position:center center;
}
.icon.mac {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/7bdad17afa1b379ae9b9881366035665d385b06b/site/images/download/mac@2x.png")
}
.icon.windows {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/16c3c053580ed8a45e0d31f9a7d4aff666fb0a21/site/images/download/windows@2x.png")
}
.icon.android {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/e18f79b86acbb10136e3c7a14a27030433f1661f/site/images/download/android@2x.png")
}
.icon.ios {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/db5dc4eb4418037e143d8502ed3e0b0da79ded07/site/images/download/ios@2x.png")
}
.icon.chrome {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/156ff155909707faea6ca221be12967241af975b/site/images/download/chrome@2x.png")
}
.icon.extension {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/0fcfb316598c100a88d0d80e3543428610639331/site/images/download/extension@2x.png")
}
.icon.extension-chrome {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/16ee7a8a9cd791f7a2b888a08bb6a734013631fc/site/images/download/extension-chrome@2x.png")
}
.icon.extension-firefox {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/43546cafd29ada1b4a11b3ea190cc7aae9e8454a/site/images/download/extension-firefox@2x.png")
}
.icon.extension-safari {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/89d3cbeb3316763931a57ae00838e0c20440d825/site/images/download/extension-safari@2x.png")
}
.icon.kindle {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/34c4093e1e390ed8e5838fd205d9a6b5a2f3638c/site/images/download/kindle@2x.png")
}
.icon.windowsphone {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/eb749b15dcf735604430fde7cdf9a049b307d7e2/site/images/download/big_winphone@2x.png")
}
.icon.windowstablet {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/9fdce34ab85f1b297879a3b649fbd957e0146a88/site/images/download/big_wintablet@2x.png")
}
.icon.windows7 {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/6fa56b9527589fabeb25d83623229685b5332fb7/site/images/download/big_windows@2x.png")
}
.icon-medium {
	-webkit-background-size:auto 50px;
	-moz-background-size:auto 50px;
	background-size:auto 50px;
	background-position:top center;
	height:50px;
	width:80px;
	display:inline-block;
	background-repeat:no-repeat;
}
.icon-medium.android {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/abf432bd0d3a6de2789e23e3ac389e738ba9deee/site/images/whatsnew/android.png")
}
.icon-medium.mac {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/51e1ad4af463d2e699e9e167587f810b5860752f/site/images/whatsnew/mac.png")
}
.icon-medium.web {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/27e8d1c98a285d02bb23ce2d18e90e0111ba3841/site/images/whatsnew/web.png")
}
.icon-medium.windows {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/289c91eda8da1a5fdc6358f3c13e153a7fb90419/site/images/whatsnew/windows.png")
}
.icon-medium.ios {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/d1827930fa1011cc581385d22f1c6bfbe3a96197/site/images/whatsnew/ios.png")
}
.icon-medium.chrome {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/57313742b77038d4fc52a83b7636a2e3f113a4da/site/images/whatsnew/chrome.png")
}
.icon-big {
	width:96px;
	height:62px;
	display:inline-block;
	vertical-align:middle;
	-webkit-background-size:96px 62px;
	-moz-background-size:96px 62px;
	background-size:96px 62px;
}
.icon-big svg {
	width:96px;
	height:62px;
}
.icon-big svg g {
	fill:#2b88d9
}
.icon-big.mac {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/dacd6db1eaeedf66cca1b3f1e0d9426e5f92c509/site/images/download/big_mac@2x.png")
}
.icon-big.windows {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/6fa56b9527589fabeb25d83623229685b5332fb7/site/images/download/big_windows@2x.png")
}
.icon-big.android {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/42d4af4eb335f6635eea3d6a06115ae187782d4f/site/images/download/big_android@2x.png")
}
.icon-big.ios {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/e5b0b406f822c89e5789e243eb7d8f66d47c85e3/site/images/download/big_ios@2x.png")
}
.icon-big.chrome {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/2b4f2cfbac2bda97b6e67b20220c087ee663e3fb/site/images/download/big_chrome@2x.png")
}
.icon-big.extension {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/b42812ba4bbbb86deeeb456e146746aee0ebae66/site/images/download/big_extension@2x.png")
}
.icon-big.extension-chrome {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/16ee7a8a9cd791f7a2b888a08bb6a734013631fc/site/images/download/extension-chrome@2x.png")
}
.icon-big.extension-firefox {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/43546cafd29ada1b4a11b3ea190cc7aae9e8454a/site/images/download/extension-firefox@2x.png")
}
.icon-big.extension-safari {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/89d3cbeb3316763931a57ae00838e0c20440d825/site/images/download/extension-safari@2x.png")
}
.icon-big.kindle {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/8b306dda1222d576282da3d83717981151832cd3/site/images/download/big_kindle@2x.png")
}
.icon-big.androidapk {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/164d8e03722ecc29d9c84a0ec4133923985b0dbd/site/images/download/big_androidapk@2x.png")
}
.icon-big.web {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/6e4ef20ba1177cd8d565773078758fdca7fc9d62/site/images/download/big_web@2x.png")
}
.icon-big.windowsphone {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/eb749b15dcf735604430fde7cdf9a049b307d7e2/site/images/download/big_winphone@2x.png")
}
.icon-big.windowstablet {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/9fdce34ab85f1b297879a3b649fbd957e0146a88/site/images/download/big_wintablet@2x.png")
}
.icon-big.windows7 {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/6fa56b9527589fabeb25d83623229685b5332fb7/site/images/download/big_windows@2x.png")
}
.icon-big.extension-chrome,.icon-big.extension-firefox,.icon-big.extension-safari {
	width:59px;
	height:52px;
	-webkit-background-size:59px 52px;
	-moz-background-size:59px 52px;
	background-size:59px 52px
}
.android-qr {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/1934a8ff573382e93be725dc9875e42b4c067886/site/images/download/androidqr_.png");
	background-repeat:no-repeat;
	width:81px;
	height:81px;
	display:inline-block;
	-webkit-background-size:81px 81px;
	-moz-background-size:81px 81px;
	background-size:81px 81px
}
.svg-icon {
	display:inline-block;
	vertical-align:middle;
	background-position:center center;
	height:40px;
	width:60px;
	margin-bottom:8px;
}
.svg-icon g {
	fill:#808080
}
.active .svg-icon g {
	fill:#2b88d9
}
@font-face {
	font-family: 'wundercon';
	src: url('wundercon-light.otf');
	src:
url('wundercon-light.eot') format('eot'),
url('wundercon-light.ttf') format('ttf'),
url('wundercon-light.woff') format('woff'),
url('wundercon-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.wunderlist-website input[type=text],.wunderlist-website input[type=email],.wunderlist-website button {
	display:inline-block;
	padding:12px 15px;
	border:none;
	font-size:16px;
	font-weight:bold;
	-webkit-border-radius:5px;
	border-radius:5px;
	outline:none;
	-webkit-box-shadow:inset 0 0 0 1px #e3e3e3;
	box-shadow:inset 0 0 0 1px #e3e3e3;
	-webkit-transition:200ms all ease;
	-moz-transition:200ms all ease;
	-o-transition:200ms all ease;
	-ms-transition:200ms all ease;
	transition:200ms all ease;
	-webkit-font-smoothing:antialiased;
	font-family:"Lato","Helvetica Neue","Helvetica",sans-serif;
	-webkit-appearance:none;
}
.wunderlist-website input[type=text].big,.wunderlist-website input[type=email].big,.wunderlist-website button.big {
	width:300px
}
.wunderlist-website button {
	-webkit-box-shadow:none;
	box-shadow:none;
}
.wunderlist-website button.wide {
	width:50%
}
.wunderlist-website select {
	display:inline-block
}
.wunderlist-website label.error {
	color:#cc2d1a
}
.wunderlist-website input.error,.wunderlist-website input.error:focus {
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.06),inset 0 0 0 1px #cc2d1a;
	box-shadow:0 1px 1px rgba(0,0,0,0.06),inset 0 0 0 1px #cc2d1a
}
.important-box {
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.06);
	box-shadow:0 2px 5px rgba(0,0,0,0.06);
	background:-webkit-linear-gradient(top, #fff, #fafafa);
	background:-moz-linear-gradient(top, #fff, #fafafa);
	background:-o-linear-gradient(top, #fff, #fafafa);
	background:-ms-linear-gradient(top, #fff, #fafafa);
	background:linear-gradient(to bottom, #fff, #fafafa);
	border:1px solid #e3e3e3;
	padding:50px;
	margin:50px 20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.important-box h3 {
	margin-top:0
}
.important-box p {
	color:#808080
}
@media screen and (max-width:1024px) {
	.important-box {
	padding:40px 20px
}
}.testimonials {
	border-bottom:1px solid #e3e3e3;
	height:130px;
	width:100%;
}
.testimonials .teamtestimonials {
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/a7b27c32ea0d0658ff5b815af850e121958bf8eb/site/images/business/testimonials@2x.png");
	-webkit-background-size:914px;
	-moz-background-size:914px;
	background-size:914px;
	background-repeat:no-repeat;
	background-position:center center;
	height:58px;
	width:100%
}
.testimonials p {
	font-size:16px;
	color:#606060;
	margin:20px auto
}
@media screen and (max-width:1024px) {
	.testimonials .teamtestimonials {
	-webkit-background-size:90%;
	-moz-background-size:90%;
	background-size:90%
}
}@media screen and (max-width:640px) {
	.testimonials {
	height:90px;
}
.testimonials .teamtestimonials {
	-webkit-background-size:90%;
	-moz-background-size:90%;
	background-size:90%;
	height:40px
}
.testimonials p {
	margin:20px auto 10px auto
}
}
@font-face {
	font-family: 'wundercon';
	src: url('wundercon-light.otf');
	src:
url('wundercon-light.eot') format('eot'),
url('wundercon-light.ttf') format('ttf'),
url('wundercon-light.woff') format('woff'),
url('wundercon-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.faq {
	font-size:0;
}
.faq ul {
	width:50%;
	padding:30px 50px;
	list-style:none;
	display:inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	vertical-align:top;
}
.faq ul li {
	font-size:14px;
	padding:0
}
.faq ul label {
	position:relative;
	color:#2b88d9;
	cursor:pointer;
}
.faq ul label:before {
	content:"▸";
	color:#2b88d9;
	position:absolute;
	left:-15px;
	top:0
}
.faq .reply {
	max-height:0;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#808080;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	transition:all 300ms ease
}
.faq input[type=checkbox] {
	display:none;
}
.faq input[type=checkbox]:checked + .reply {
	max-height:150px;
	opacity:1;
	-ms-filter:none;
	filter:none;
	margin:10px 0 20px 0
}
.faq input[type=checkbox]:checked + label:before {
	content:"▾"
}
@media screen and (max-width:640px) {
	.faq ul {
	width:100%;
	padding:0 50px;
	display:block;
	text-align:left;
}
.faq ul :first-child {
	margin-top:30px
}
.faq ul li {
	width:100%
}
}
@font-face {
	font-family: 'wundercon';
	src: url('wundercon-light.otf');
	src:
url('wundercon-light.eot') format('eot'),
url('wundercon-light.ttf') format('ttf'),
url('wundercon-light.woff') format('woff'),
url('wundercon-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.feature-grid {
	font-size:0;
	margin-top:50px
}
.sidefeatures-item {
	display:inline-block;
	font-size:16px;
	width:25%;
	vertical-align:top;
	padding:10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:20px;
}
.sidefeatures-item:hover .sidefeatures-item-icon {
	color:#2b88d9
}
.sidefeatures-item p,.sidefeatures-item h6 {
	/*color:#606060*/
}
.sidefeatures-item-icon {
	font-size:40px;
	/*color:#606060*/
}
@media screen and (max-width:1024px) {
	.sidefeatures-item {
	width:33%
}
}@media screen and (max-width:640px) {
	.sidefeatures-item {
	padding:10px;
	width:50%
}
}
@font-face {
	font-family: 'wundercon';
	src: url('wundercon-light.otf');
	src:
url('wundercon-light.eot') format('eot'),
url('wundercon-light.ttf') format('ttf'),
url('wundercon-light.woff') format('woff'),
url('wundercon-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.features .cols {
	margin:0
}
.features .feature-header {
	background-image:none;
	padding-bottom:90px
}
.features .feature {
	background-image:-webkit-linear-gradient(top, #fafafa, #f3f3f3);
	background-image:-moz-linear-gradient(top, #fafafa, #f3f3f3);
	background-image:-o-linear-gradient(top, #fafafa, #f3f3f3);
	background-image:-ms-linear-gradient(top, #fafafa, #f3f3f3);
	background-image:linear-gradient(to bottom, #fafafa, #f3f3f3);
	overflow:hidden;
}
.features .feature.padding-bottom {
	padding-bottom:50px
}
.features .feature.padding-top {
	padding-top:50px
}
.features .feature .feature-section {
	margin-bottom:145px;
	position:relative;
	z-index:1;
}
.features .feature .feature-section:last-child {
	margin-bottom:0
}
.features .feature .feature-section:before {
	content:'';
	background-image:url("//dr0wv9n0kx6h5.cloudfront.net/cf492e3a3fcb90303ca95ea45c3ffc10f4f4f8b5/site/images/home/features/arrow@2x.png");
	width:158px;
	height:30px;
	-webkit-background-size:158px;
	-moz-background-size:158px;
	background-size:158px;
	position:absolute;
	left:-150px;
	top:40px;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	transition:all 300ms ease
}
.features .feature .feature-section.active:before {
	opacity:1;
	-ms-filter:none;
	filter:none;
	left:-170px
}
.features .feature .feature-section.active h4,.features .feature .feature-section.active p {
	color:#2b88d9
}
.features .feature .feature-section.active .tag {
	color:#2b88d9;
	border-color:#2b88d9
}
.features .feature img {
	vertical-align:middle
}
.features .feature p span {
	margin:0 15px
}
@media screen and (max-width:640px) {
	.features .feature.padding-bottom {
	padding-bottom:0
}
}.backgrounds-ui {
	width:958px;
	height:372px;
	margin-left:-19px
}
