
/*************************************/
/************* ACCORDION *************/
/*************************************/
.panel-group .panel {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  .panel-group .panel .panel-heading {
    position: relative; }
    .panel-group .panel .panel-heading .panel-title {
      font-size: 14px;
      margin-left: 30px; }
    .panel-group .panel .panel-heading + .panel-collapse .panel-body {
      border-top: 0; }
    .panel-group .panel .panel-heading:before {
      content: "\f0da";
      font-family: 'FontAwesome';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: block;
      padding: 10px 15px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.05); }
  .panel-group .panel.active .panel-heading:before {
    content: "\f0d7";
    padding: 10px 14px 10px 13px; }
  .panel-group .panel .panel-body {
    font-size: 12px;
    color: #717171;
    line-height: 20px; }