
/**************************************************/
/************* ALERTS & NOTIFICATIONS *************/
/**************************************************/
.alert {
  padding: 5px 15px;
  font-size: 12px; }
  .alert.alert-big {
    padding: 15px; }
  .alert.alert-dismissable {
    padding-right: 35px; }
  .alert.alert-red {
    color: #ff4a43;
    background-color: #ffdddc;
    border-color: #ffaca9; }
    .alert.alert-red .alert-link {
      color: #ff1910; }
  .alert.alert-cyan {
    color: #22beef;
    background-color: #e0f6fd;
    border-color: #b1e8f9; }
    .alert.alert-cyan .alert-link {
      color: #0fa1cf; }
  .alert.alert-green {
    color: #a2d200;
    background-color: #fbffeb;
    border-color: #efffb8; }
    .alert.alert-green .alert-link {
      color: #7b9f00; }
  .alert.alert-orange {
    color: #ffc100;
    background-color: #fff3cc;
    border-color: #ffe699; }
    .alert.alert-orange .alert-link {
      color: #cc9a00; }
  .alert.alert-amethyst {
    color: #cd97eb;
    background-color: #f6edfb;
    border-color: #e2c2f3; }
    .alert.alert-amethyst .alert-link {
      color: #b86ce3; }
  .alert.alert-greensea {
    color: #16a085;
    background-color: #d5f9f2;
    border-color: #92f0de; }
    .alert.alert-greensea .alert-link {
      color: #107360; }
  .alert.alert-hotpink {
    color: #ff0066;
    background-color: #ffcce0;
    border-color: #ff99c2; }
    .alert.alert-hotpink .alert-link {
      color: #cc0052; }
  .alert.alert-drank {
    color: #a40778;
    background-color: #fdc7ee;
    border-color: #fb96de; }
    .alert.alert-drank .alert-link {
      color: #730554; }
  .alert.alert-dutch {
    color: #1693a5;
    background-color: #c3f0f7;
    border-color: #96e6f1; }
    .alert.alert-dutch .alert-link {
      color: #106b78; }
  .alert.alert-blue {
    color: #418bca;
    background-color: #e1ecf6;
    border-color: #b9d4eb; }
    .alert.alert-blue .alert-link {
      color: #2f71a9; }
  .alert.alert-slategray {
    color: #3f4e62;
    background-color: #c6cfda;
    border-color: #a7b4c6; }
    .alert.alert-slategray .alert-link {
      color: #2b3543; }
  .alert.alert-redbrown {
    color: #d9544f;
    background-color: #f4cecd;
    border-color: #eba6a3; }
    .alert.alert-redbrown .alert-link {
      color: #c9312c; }

.notification {
  padding: 15px;
  background-color: #fafafa;
  border-left: 3px solid #e5e5e5;
  margin: 20px 0;
  color: #717171;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .notification.notification-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #f8e2b5; }
  .notification.notification-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #e4bac0; }
  .notification.notification-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #a7e1ed; }
  .notification.notification-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #c9e2b4; }
  .notification.notification-red {
    color: #ff4a43;
    background-color: #ffdddc;
    border-color: #ffaca9; }
  .notification.notification-cyan {
    color: #22beef;
    background-color: #e0f6fd;
    border-color: #b1e8f9; }
  .notification.notification-green {
    color: #a2d200;
    background-color: #fbffeb;
    border-color: #efffb8; }
  .notification.notification-orange {
    color: #ffc100;
    background-color: #fff3cc;
    border-color: #ffe699; }
  .notification.notification-amethyst {
    color: #cd97eb;
    background-color: #f6edfb;
    border-color: #e2c2f3; }
  .notification.notification-greensea {
    color: #16a085;
    background-color: #d5f9f2;
    border-color: #92f0de; }
  .notification.notification-hotpink {
    color: #ff0066;
    background-color: #ffcce0;
    border-color: #ff99c2; }
  .notification.notification-drank {
    color: #a40778;
    background-color: #fdc7ee;
    border-color: #fb96de; }
  .notification.notification-dutch {
    color: #1693a5;
    background-color: #c3f0f7;
    border-color: #96e6f1; }
  .notification.notification-blue {
    color: #418bca;
    background-color: #e1ecf6;
    border-color: #b9d4eb; }
  .notification.notification-slategray {
    color: #3f4e62;
    background-color: #c6cfda;
    border-color: #a7b4c6; }
  .notification.notification-redbrown {
    color: #d9544f;
    background-color: #f4cecd;
    border-color: #eba6a3; }