

/***********************************/
/************* COLORS **************/


/***********************************/
/* backgrounds */
.bg-transparent-black-05 {
  background-color: rgba(0, 0, 0, 0.05) !important;
  color: white; }

.bg-transparent-black-1 {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: white; }

.bg-transparent-black-15 {
  background-color: rgba(0, 0, 0, 0.15) !important;
  color: white; }

.bg-transparent-black-2 {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: white; }

.bg-transparent-black-3 {
  background-color: rgba(0, 0, 0, 0.3) !important;
  color: white; }

.bg-transparent-black-4 {
  background-color: rgba(0, 0, 0, 0.4) !important;
  color: white; }

.bg-transparent-black-5 {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white; }

.bg-transparent-black-6 {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: white; }

.bg-transparent-black-7 {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: white; }

.bg-transparent-black-8 {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white; }

.bg-transparent-white-05 {
  background-color: rgba(255, 255, 255, 0.05) !important;
  color: white; }

.bg-transparent-white-1 {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: white; }

.bg-transparent-white-15 {
  background-color: rgba(255, 255, 255, 0.15) !important;
  color: white; }

.bg-transparent-white-2 {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white; }

.bg-transparent-white-3 {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: white; }

.bg-transparent-white-4 {
  background-color: rgba(255, 255, 255, 0.4) !important; }

.bg-transparent-white-5 {
  background-color: rgba(255, 255, 255, 0.5) !important; }

.bg-transparent-white-6 {
  background-color: rgba(255, 255, 255, 0.6) !important; }

.bg-transparent-white-7 {
  background-color: rgba(255, 255, 255, 0.7) !important; }

.bg-transparent-white-8 {
  background-color: rgba(255, 255, 255, 0.8) !important; }

.bg-red {
  background-color: #ff4a43 !important; }

.bg-green {
  background-color: #a2d200 !important; }

.bg-cyan {
  background-color: #22beef !important; }

.bg-orange {
  background-color: #ffc100 !important; }

.bg-amethyst {
  background-color: #cd97eb !important; }

.bg-greensea {
  background-color: #16a085 !important; }

.bg-drank {
  background-color: #a40778 !important; }

.bg-dutch {
  background-color: #1693a5 !important; }

.bg-hotpink {
  background-color: #ff0066 !important; }

.bg-blue {
  background-color: #418bca !important; }

.bg-slategray {
  background-color: #3f4e62 !important; }

.bg-redbrown {
  background-color: #d9544f !important; }

/* colors */
.color-red {
  color: #ff4a43 !important; }

.color-green {
  color: #a2d200 !important; }

.color-cyan {
  color: #22beef !important; }

.color-orange {
  color: #ffc100 !important; }

.color-amethyst {
  color: #cd97eb !important; }

.color-greensea {
  color: #16a085 !important; }

.color-drank {
  color: #a40778 !important; }

.color-dutch {
  color: #1693a5 !important; }

.color-hotpink {
  color: #ff0066 !important; }

.color-blue {
  color: #418bca !important; }

.color-slategray {
  color: #3f4e62 !important; }

.color-redbrown {
  color: #d9544f !important; }

.color-transparent-black {
  color: rgba(0, 0, 0, 0.4) !important; }
