
/***********************************/
/************* BADGES **************/
/***********************************/
.badge {
  font-size: 11px;
  font-weight: 400;
  color: white;
  padding: 3px 5px;
  margin: 0 2px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }
  .badge.badge-primary {
    background-color: #428bca; }
  .badge.badge-success {
    background-color: #5cb85c; }
  .badge.badge-info {
    background-color: #5bc0de; }
  .badge.badge-warning {
    background-color: #f0ad4e; }
  .badge.badge-danger {
    background-color: #d9534f; }
  .badge.badge-red {
    background-color: #ff635c; }
  .badge.badge-cyan {
    background-color: #3ac5f1; }
  .badge.badge-green {
    background-color: #a2d200; }
  .badge.badge-orange {
    background-color: #ffc71a; }
  .badge.badge-amethyst {
    background-color: #d7acef; }
  .badge.badge-greensea {
    background-color: #19b698; }
  .badge.badge-dutch {
    background-color: #19a7bc; }
  .badge.badge-hotpink {
    background-color: #ff1a75; }
  .badge.badge-drank {
    background-color: #bc088a; }
  .badge.badge-blue {
    background-color: #5597d0; }
  .badge.badge-slategray {
    background-color: #495a72; }
  .badge.badge-redbrown {
    background-color: #de6864; }
  .badge.badge-transparent-black {
    background-color: rgba(0, 0, 0, 0.15); }
  .badge.badge-outline {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: 1px solid #717171;
    background: transparent; }