
/****************************************/
/************* BREADCRUMBS **************/
/****************************************/
ol.breadcrumb {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 15px; }
  ol.breadcrumb > li {
    font-size: 12px;
    font-weight: 500; }
    ol.breadcrumb > li + li:before {
      content: "\f105";
      font-family: "FontAwesome"; }
  ol.breadcrumb.transparent-black {
    background-color: rgba(0, 0, 0, 0.3); }
    ol.breadcrumb.transparent-black > li > a {
      color: white; }