
/**********************************/
/************* CHARTS *************/
/**********************************/
.pie-chart.inline {
  display: inline-block;
  margin: 15px 30px;
  position: relative; }
  .pie-chart.inline > div {
    position: absolute;
    width: 100%; }
    .pie-chart.inline > div i {
      line-height: 140px; }

.legend table .legendColorBox > div {
  margin-right: 5px;
  margin-bottom: 3px; }
.legend table .legendLabel {
  font-size: 11px;
  font-family: "Roboto Slab", serif; }

/* rickshaw */
.rickshaw_graph .detail .x_label {
  background-color: white;
  opacity: 1;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #717171; }
.rickshaw_graph .detail .item {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.custom-labels {
  margin-top: 15px;
  text-align: center; }
  .custom-labels > ul > li {
    display: inline-block;
    margin: 5px 5px 0 0; }

/* easy pie chart */
.easypiechart {
  position: relative;
  text-align: center; }
  .easypiechart.inline {
    display: inline-block;
    margin: 15px 30px; }
  .easypiechart canvas {
    position: absolute;
    top: 0;
    left: 0; }
  .easypiechart .percentage,
  .easypiechart .label {
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 0.3em;
    color: #717171; }
  .easypiechart .label {
    display: block; }

#serverload-chart {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  overflow: hidden; }

/* morris */
.morris-chart text {
  fill: white;
  font-family: "Roboto Slab", serif !important; }
.morris-chart svg {
  width: 100% !important; }