
/****************************************/
/************* COLORPALETTE *************/
/****************************************/
.bootstrap-colorpalette .btn-color {
  border: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .bootstrap-colorpalette .btn-color:focus {
    outline: 0; }
  .bootstrap-colorpalette .btn-color:hover {
    border: 0;
    -webkit-transform: scale(1.25, 1.25);
    -moz-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3); }