
/**************************************/
/************* DROPDOWNS **************/
/**************************************/
ul.dropdown-menu.example {
  position: static;
  display: block;
  margin-bottom: 5px;
  float: none;
  max-width: 170px; }
ul.dropdown-menu > li.divider {
  width: 100% !important;
  background-color: #e5e5e5 !important;
  opacity: 1 !important; }

li.dropdown ul.dropdown-menu.wide, li.dropdown ul.dropdown-menu.wider {
  max-width: 300px !important;
  min-width: 160px !important;
  width: 240px !important;
  border: 0;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  -o-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176); }
  li.dropdown ul.dropdown-menu.wide > li h1, li.dropdown ul.dropdown-menu.wider > li h1 {
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
    font-size: 11px;
    padding: 15px;
    font-weight: 300;
    background-color: #444;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase; }
  li.dropdown ul.dropdown-menu.wide > li > a, li.dropdown ul.dropdown-menu.wider > li > a {
    padding: 10px !important; }
  li.dropdown ul.dropdown-menu.wide > li.topborder, li.dropdown ul.dropdown-menu.wider > li.topborder {
    border-top: 1px dotted #eaeaea; }
li.dropdown ul.dropdown-menu.wider {
  width: 350px !important;
  max-width: 400px !important; }
li.dropdown ul.dropdown-menu.nopadding {
  padding: 0; }
li.dropdown ul.dropdown-menu.arrow:before {
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-bottom-color: #444;
  position: absolute;
  top: -10px;
  left: 12px;
  z-index: 1; }
li.dropdown ul.dropdown-menu.bordered > li {
  border-bottom: 1px dotted #eaeaea; }
  li.dropdown ul.dropdown-menu.bordered > li:last-child {
    border-bottom: 0; }