
/*********************************/
/************* FORMS *************/
/*********************************/
body #content .uneditable-input,
body #content textarea,
body #content input[type="text"],
body #content input[type="password"],
body #content input[type="datetime"],
body #content input[type="datetime-local"],
body #content input[type="date"],
body #content input[type="month"],
body #content input[type="time"],
body #content input[type="week"],
body #content input[type="number"],
body #content input[type="email"],
body #content input[type="url"],
body #content input[type="search"],
body #content input[type="tel"],
body #content input[type="color"],
body #content .modal .modal-dialog .modal-content .uneditable-input,
body #content .modal .modal-dialog .modal-content textarea,
body #content .modal .modal-dialog .modal-content input[type="text"],
body #content .modal .modal-dialog .modal-content input[type="password"],
body #content .modal .modal-dialog .modal-content input[type="datetime"],
body #content .modal .modal-dialog .modal-content input[type="datetime-local"],
body #content .modal .modal-dialog .modal-content input[type="date"],
body #content .modal .modal-dialog .modal-content input[type="month"],
body #content .modal .modal-dialog .modal-content input[type="time"],
body #content .modal .modal-dialog .modal-content input[type="week"],
body #content .modal .modal-dialog .modal-content input[type="number"],
body #content .modal .modal-dialog .modal-content input[type="email"],
body #content .modal .modal-dialog .modal-content input[type="url"],
body #content .modal .modal-dialog .modal-content input[type="search"],
body #content .modal .modal-dialog .modal-content input[type="tel"],
body #content .modal .modal-dialog .modal-content input[type="color"] {
  -webkit-appearance: none !important;
  color: #717171;
  outline: 0;
  height: 16px;
  padding: 6px 11px !important;
  line-height: 18px;
  font-size: 13px;
  vertical-align: top;
  background-color: #fff;
  min-height: 37px;
  filter: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  /* sizing */
  /*parsley */ }
  body #content .uneditable-input:focus,
  body #content textarea:focus,
  body #content input[type="text"]:focus,
  body #content input[type="password"]:focus,
  body #content input[type="datetime"]:focus,
  body #content input[type="datetime-local"]:focus,
  body #content input[type="date"]:focus,
  body #content input[type="month"]:focus,
  body #content input[type="time"]:focus,
  body #content input[type="week"]:focus,
  body #content input[type="number"]:focus,
  body #content input[type="email"]:focus,
  body #content input[type="url"]:focus,
  body #content input[type="search"]:focus,
  body #content input[type="tel"]:focus,
  body #content input[type="color"]:focus,
  body #content .modal .modal-dialog .modal-content .uneditable-input:focus,
  body #content .modal .modal-dialog .modal-content textarea:focus,
  body #content .modal .modal-dialog .modal-content input[type="text"]:focus,
  body #content .modal .modal-dialog .modal-content input[type="password"]:focus,
  body #content .modal .modal-dialog .modal-content input[type="datetime"]:focus,
  body #content .modal .modal-dialog .modal-content input[type="datetime-local"]:focus,
  body #content .modal .modal-dialog .modal-content input[type="date"]:focus,
  body #content .modal .modal-dialog .modal-content input[type="month"]:focus,
  body #content .modal .modal-dialog .modal-content input[type="time"]:focus,
  body #content .modal .modal-dialog .modal-content input[type="week"]:focus,
  body #content .modal .modal-dialog .modal-content input[type="number"]:focus,
  body #content .modal .modal-dialog .modal-content input[type="email"]:focus,
  body #content .modal .modal-dialog .modal-content input[type="url"]:focus,
  body #content .modal .modal-dialog .modal-content input[type="search"]:focus,
  body #content .modal .modal-dialog .modal-content input[type="tel"]:focus,
  body #content .modal .modal-dialog .modal-content input[type="color"]:focus {
    outline: none;
    border: 1px solid #b2b2b2;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1) !important; }
  body #content .uneditable-input.input-lg,
  body #content textarea.input-lg,
  body #content input[type="text"].input-lg,
  body #content input[type="password"].input-lg,
  body #content input[type="datetime"].input-lg,
  body #content input[type="datetime-local"].input-lg,
  body #content input[type="date"].input-lg,
  body #content input[type="month"].input-lg,
  body #content input[type="time"].input-lg,
  body #content input[type="week"].input-lg,
  body #content input[type="number"].input-lg,
  body #content input[type="email"].input-lg,
  body #content input[type="url"].input-lg,
  body #content input[type="search"].input-lg,
  body #content input[type="tel"].input-lg,
  body #content input[type="color"].input-lg,
  body #content .modal .modal-dialog .modal-content .uneditable-input.input-lg,
  body #content .modal .modal-dialog .modal-content textarea.input-lg,
  body #content .modal .modal-dialog .modal-content input[type="text"].input-lg,
  body #content .modal .modal-dialog .modal-content input[type="password"].input-lg,
  body #content .modal .modal-dialog .modal-content input[type="datetime"].input-lg,
  body #content .modal .modal-dialog .modal-content input[type="datetime-local"].input-lg,
  body #content .modal .modal-dialog .modal-content input[type="date"].input-lg,
  body #content .modal .modal-dialog .modal-content input[type="month"].input-lg,
  body #content .modal .modal-dialog .modal-content input[type="time"].input-lg,
  body #content .modal .modal-dialog .modal-content input[type="week"].input-lg,
  body #content .modal .modal-dialog .modal-content input[type="number"].input-lg,
  body #content .modal .modal-dialog .modal-content input[type="email"].input-lg,
  body #content .modal .modal-dialog .modal-content input[type="url"].input-lg,
  body #content .modal .modal-dialog .modal-content input[type="search"].input-lg,
  body #content .modal .modal-dialog .modal-content input[type="tel"].input-lg,
  body #content .modal .modal-dialog .modal-content input[type="color"].input-lg {
    height: 46px;
    padding: 10px 16px !important;
    font-size: 18px;
    line-height: 1.33; }
  body #content .uneditable-input.input-sm,
  body #content textarea.input-sm,
  body #content input[type="text"].input-sm,
  body #content input[type="password"].input-sm,
  body #content input[type="datetime"].input-sm,
  body #content input[type="datetime-local"].input-sm,
  body #content input[type="date"].input-sm,
  body #content input[type="month"].input-sm,
  body #content input[type="time"].input-sm,
  body #content input[type="week"].input-sm,
  body #content input[type="number"].input-sm,
  body #content input[type="email"].input-sm,
  body #content input[type="url"].input-sm,
  body #content input[type="search"].input-sm,
  body #content input[type="tel"].input-sm,
  body #content input[type="color"].input-sm,
  body #content .modal .modal-dialog .modal-content .uneditable-input.input-sm,
  body #content .modal .modal-dialog .modal-content textarea.input-sm,
  body #content .modal .modal-dialog .modal-content input[type="text"].input-sm,
  body #content .modal .modal-dialog .modal-content input[type="password"].input-sm,
  body #content .modal .modal-dialog .modal-content input[type="datetime"].input-sm,
  body #content .modal .modal-dialog .modal-content input[type="datetime-local"].input-sm,
  body #content .modal .modal-dialog .modal-content input[type="date"].input-sm,
  body #content .modal .modal-dialog .modal-content input[type="month"].input-sm,
  body #content .modal .modal-dialog .modal-content input[type="time"].input-sm,
  body #content .modal .modal-dialog .modal-content input[type="week"].input-sm,
  body #content .modal .modal-dialog .modal-content input[type="number"].input-sm,
  body #content .modal .modal-dialog .modal-content input[type="email"].input-sm,
  body #content .modal .modal-dialog .modal-content input[type="url"].input-sm,
  body #content .modal .modal-dialog .modal-content input[type="search"].input-sm,
  body #content .modal .modal-dialog .modal-content input[type="tel"].input-sm,
  body #content .modal .modal-dialog .modal-content input[type="color"].input-sm {
    height: 25px;
    min-height: 30px;
    padding: 5px 10px !important;
    font-size: 11px;
    line-height: 1.5; }
  body #content .uneditable-input.parsley-validated,
  body #content textarea.parsley-validated,
  body #content input[type="text"].parsley-validated,
  body #content input[type="password"].parsley-validated,
  body #content input[type="datetime"].parsley-validated,
  body #content input[type="datetime-local"].parsley-validated,
  body #content input[type="date"].parsley-validated,
  body #content input[type="month"].parsley-validated,
  body #content input[type="time"].parsley-validated,
  body #content input[type="week"].parsley-validated,
  body #content input[type="number"].parsley-validated,
  body #content input[type="email"].parsley-validated,
  body #content input[type="url"].parsley-validated,
  body #content input[type="search"].parsley-validated,
  body #content input[type="tel"].parsley-validated,
  body #content input[type="color"].parsley-validated,
  body #content .modal .modal-dialog .modal-content .uneditable-input.parsley-validated,
  body #content .modal .modal-dialog .modal-content textarea.parsley-validated,
  body #content .modal .modal-dialog .modal-content input[type="text"].parsley-validated,
  body #content .modal .modal-dialog .modal-content input[type="password"].parsley-validated,
  body #content .modal .modal-dialog .modal-content input[type="datetime"].parsley-validated,
  body #content .modal .modal-dialog .modal-content input[type="datetime-local"].parsley-validated,
  body #content .modal .modal-dialog .modal-content input[type="date"].parsley-validated,
  body #content .modal .modal-dialog .modal-content input[type="month"].parsley-validated,
  body #content .modal .modal-dialog .modal-content input[type="time"].parsley-validated,
  body #content .modal .modal-dialog .modal-content input[type="week"].parsley-validated,
  body #content .modal .modal-dialog .modal-content input[type="number"].parsley-validated,
  body #content .modal .modal-dialog .modal-content input[type="email"].parsley-validated,
  body #content .modal .modal-dialog .modal-content input[type="url"].parsley-validated,
  body #content .modal .modal-dialog .modal-content input[type="search"].parsley-validated,
  body #content .modal .modal-dialog .modal-content input[type="tel"].parsley-validated,
  body #content .modal .modal-dialog .modal-content input[type="color"].parsley-validated {
    position: relative; }
    body #content .uneditable-input.parsley-validated.parsley-error,
    body #content textarea.parsley-validated.parsley-error,
    body #content input[type="text"].parsley-validated.parsley-error,
    body #content input[type="password"].parsley-validated.parsley-error,
    body #content input[type="datetime"].parsley-validated.parsley-error,
    body #content input[type="datetime-local"].parsley-validated.parsley-error,
    body #content input[type="date"].parsley-validated.parsley-error,
    body #content input[type="month"].parsley-validated.parsley-error,
    body #content input[type="time"].parsley-validated.parsley-error,
    body #content input[type="week"].parsley-validated.parsley-error,
    body #content input[type="number"].parsley-validated.parsley-error,
    body #content input[type="email"].parsley-validated.parsley-error,
    body #content input[type="url"].parsley-validated.parsley-error,
    body #content input[type="search"].parsley-validated.parsley-error,
    body #content input[type="tel"].parsley-validated.parsley-error,
    body #content input[type="color"].parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content .uneditable-input.parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content textarea.parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content input[type="text"].parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content input[type="password"].parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content input[type="datetime"].parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content input[type="datetime-local"].parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content input[type="date"].parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content input[type="month"].parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content input[type="time"].parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content input[type="week"].parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content input[type="number"].parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content input[type="email"].parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content input[type="url"].parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content input[type="search"].parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content input[type="tel"].parsley-validated.parsley-error,
    body #content .modal .modal-dialog .modal-content input[type="color"].parsley-validated.parsley-error {
      background-color: #ffdddc;
      border: 1px solid #ffaca9; }
    body #content .uneditable-input.parsley-validated.parsley-success,
    body #content textarea.parsley-validated.parsley-success,
    body #content input[type="text"].parsley-validated.parsley-success,
    body #content input[type="password"].parsley-validated.parsley-success,
    body #content input[type="datetime"].parsley-validated.parsley-success,
    body #content input[type="datetime-local"].parsley-validated.parsley-success,
    body #content input[type="date"].parsley-validated.parsley-success,
    body #content input[type="month"].parsley-validated.parsley-success,
    body #content input[type="time"].parsley-validated.parsley-success,
    body #content input[type="week"].parsley-validated.parsley-success,
    body #content input[type="number"].parsley-validated.parsley-success,
    body #content input[type="email"].parsley-validated.parsley-success,
    body #content input[type="url"].parsley-validated.parsley-success,
    body #content input[type="search"].parsley-validated.parsley-success,
    body #content input[type="tel"].parsley-validated.parsley-success,
    body #content input[type="color"].parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content .uneditable-input.parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content textarea.parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content input[type="text"].parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content input[type="password"].parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content input[type="datetime"].parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content input[type="datetime-local"].parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content input[type="date"].parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content input[type="month"].parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content input[type="time"].parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content input[type="week"].parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content input[type="number"].parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content input[type="email"].parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content input[type="url"].parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content input[type="search"].parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content input[type="tel"].parsley-validated.parsley-success,
    body #content .modal .modal-dialog .modal-content input[type="color"].parsley-validated.parsley-success {
      background-color: #fbffeb;
      border: 1px solid #e9ff9f; }
body #content .checkbox input[type=checkbox].parsley-error + label::before,
body #content .modal .modal-dialog .modal-content .checkbox input[type=checkbox].parsley-error + label::before {
  background-color: #ffdddc;
  border: 1px solid #ffaca9; }
body #content .checkbox input[type=checkbox].parsley-success + label::before,
body #content .modal .modal-dialog .modal-content .checkbox input[type=checkbox].parsley-success + label::before {
  background-color: #fbffeb;
  border: 1px solid #e9ff9f; }
body #content .parsley-error-list,
body #content .modal .modal-dialog .modal-content .parsley-error-list {
  list-style-type: none;
  padding: 0;
  font-size: 11px; }
body #content textarea,
body #content .modal .modal-dialog .modal-content textarea {
  height: auto; }
body #content .form-group .help-block,
body #content .modal .modal-dialog .modal-content .form-group .help-block {
  font-size: 12px; }
body #content .form-group.form-footer,
body #content .modal .modal-dialog .modal-content .form-group.form-footer {
  margin-bottom: -15px;
  padding: 15px 0;
  background-color: #f2f2f2;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }
body #content .form-control[disabled],
body #content .form-control[readonly],
body #content fieldset[disabled] .form-control,
body #content .modal .modal-dialog .modal-content .form-control[disabled],
body #content .modal .modal-dialog .modal-content .form-control[readonly],
body #content .modal .modal-dialog .modal-content fieldset[disabled] .form-control {
  background-color: #e8e8e8;
  border: 0; }
  body #content .form-control[disabled]:focus,
  body #content .form-control[readonly]:focus,
  body #content fieldset[disabled] .form-control:focus,
  body #content .modal .modal-dialog .modal-content .form-control[disabled]:focus,
  body #content .modal .modal-dialog .modal-content .form-control[readonly]:focus,
  body #content .modal .modal-dialog .modal-content fieldset[disabled] .form-control:focus {
    background-color: #e8e8e8;
    border: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
body #content div.checkbox,
body #content .modal .modal-dialog .modal-content div.checkbox {
  margin: 5px 0; }
  body #content div.checkbox.check-transparent input[type=checkbox] + label:before,
  body #content .modal .modal-dialog .modal-content div.checkbox.check-transparent input[type=checkbox] + label:before {
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1); }
  body #content div.checkbox.check-transparent input[type=checkbox]:checked + label:before,
  body #content .modal .modal-dialog .modal-content div.checkbox.check-transparent input[type=checkbox]:checked + label:before {
    background-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0; }
  body #content div.checkbox.check-transparent input[type=checkbox]:checked + label::after,
  body #content .modal .modal-dialog .modal-content div.checkbox.check-transparent input[type=checkbox]:checked + label::after {
    color: #717171; }

  body #content div.checkbox.check-transparent label,
  body #content .modal .modal-dialog .modal-content div.checkbox.check-transparent label {
    color: rgba(255, 255, 255, 0.5); }
    
  body #content div.checkbox.check-transparent input[type=checkbox]:checked + label,
  body #content .modal .modal-dialog .modal-content div.checkbox.check-transparent input[type=checkbox]:checked + label {
    color: white; }
  body #content div.checkbox.check-transparent input[type=checkbox].parsley-error + label::before,
  body #content .modal .modal-dialog .modal-content div.checkbox.check-transparent input[type=checkbox].parsley-error + label::before {
    background-color: rgba(255, 74, 67, 0.2);
    border: 1px solid rgba(255, 74, 67, 0.5); }
  body #content div.checkbox.check-transparent input[type=checkbox].parsley-error + label::after,
  body #content .modal .modal-dialog .modal-content div.checkbox.check-transparent input[type=checkbox].parsley-error + label::after {
    color: white; }
  body #content div.checkbox.check-transparent input[type=checkbox].parsley-success + label::before,
  body #content .modal .modal-dialog .modal-content div.checkbox.check-transparent input[type=checkbox].parsley-success + label::before {
    background-color: rgba(162, 210, 0, 0.2);
    border: 1px solid rgba(162, 210, 0, 0.5); }
  body #content div.checkbox.check-transparent input[type=checkbox].parsley-success + label::after,
  body #content .modal .modal-dialog .modal-content div.checkbox.check-transparent input[type=checkbox].parsley-success + label::after {
    color: white; }
  body #content div.checkbox label,
  body #content .modal .modal-dialog .modal-content div.checkbox label {
    margin: 0;
    line-height: 24px; }
    body #content div.checkbox label:before,
    body #content .modal .modal-dialog .modal-content div.checkbox label:before {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px; }
    body #content div.checkbox label:after,
    body #content .modal .modal-dialog .modal-content div.checkbox label:after {
      width: 20px;
      height: 20px;
      font-size: 14px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px; }
    body #content div.checkbox label.done,
    body #content .modal .modal-dialog .modal-content div.checkbox label.done {
      text-decoration: line-through; }
body #content div.radio.radio-transparent input[type=radio] + label:before,
body #content .modal .modal-dialog .modal-content div.radio.radio-transparent input[type=radio] + label:before {
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1); }
body #content div.radio.radio-transparent input[type=radio]:checked + label:before,
body #content .modal .modal-dialog .modal-content div.radio.radio-transparent input[type=radio]:checked + label:before {
  background-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0; }
body #content div.radio.radio-transparent input[type=radio]:checked + label::after,
body #content .modal .modal-dialog .modal-content div.radio.radio-transparent input[type=radio]:checked + label::after {
  color: #717171; }
body #content div.radio.radio-transparent label,
body #content .modal .modal-dialog .modal-content div.radio.radio-transparent label {
  color: rgba(255, 255, 255, 0.5); }
body #content div.radio.radio-transparent input[type=radio]:checked + label,
body #content .modal .modal-dialog .modal-content div.radio.radio-transparent input[type=radio]:checked + label {
  color: white; }
body #content div.radio.radio-transparent input[type=radio].parsley-error + label::before,
body #content .modal .modal-dialog .modal-content div.radio.radio-transparent input[type=radio].parsley-error + label::before {
  background-color: rgba(255, 74, 67, 0.2);
  border: 1px solid rgba(255, 74, 67, 0.5); }
body #content div.radio.radio-transparent input[type=radio].parsley-error + label::after,
body #content .modal .modal-dialog .modal-content div.radio.radio-transparent input[type=radio].parsley-error + label::after {
  color: white; }
body #content div.radio.radio-transparent input[type=radio].parsley-success + label::before,
body #content .modal .modal-dialog .modal-content div.radio.radio-transparent input[type=radio].parsley-success + label::before {
  background-color: rgba(162, 210, 0, 0.2);
  border: 1px solid rgba(162, 210, 0, 0.5); }
body #content div.radio.radio-transparent input[type=radio].parsley-success + label::after,
body #content .modal .modal-dialog .modal-content div.radio.radio-transparent input[type=radio].parsley-success + label::after {
  color: white; }
body #content .chosen-container,
body #content .modal .modal-dialog .modal-content .chosen-container {
  width: 100% !important; }
body #content select + .chosen-container.chosen-container-single .chosen-single,
body #content .modal .modal-dialog .modal-content select + .chosen-container.chosen-container-single .chosen-single {
  -webkit-appearance: none !important;
  color: #717171;
  outline: 0;
  height: 16px;
  padding: 6px 11px !important;
  line-height: 18px;
  font-size: 13px;
  vertical-align: top;
  background-color: #fff;
  min-height: 37px;
  filter: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  body #content select + .chosen-container.chosen-container-single .chosen-single span,
  body #content .modal .modal-dialog .modal-content select + .chosen-container.chosen-container-single .chosen-single span {
    line-height: 24px; }
  body #content select + .chosen-container.chosen-container-single .chosen-single div,
  body #content .modal .modal-dialog .modal-content select + .chosen-container.chosen-container-single .chosen-single div {
    top: 7px; }
body #content select + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
body #content .modal .modal-dialog .modal-content select + .chosen-container.chosen-container-single.chosen-container-active .chosen-single {
  outline: none;
  border: 1px solid #b2b2b2;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1) !important; }
body #content select.parsley-error + .chosen-container.chosen-container-single .chosen-single,
body #content .modal .modal-dialog .modal-content select.parsley-error + .chosen-container.chosen-container-single .chosen-single {
  background-color: #ffdddc;
  border: 1px solid #ffaca9; }
body #content select.parsley-success + .chosen-container.chosen-container-single .chosen-single,
body #content .modal .modal-dialog .modal-content select.parsley-success + .chosen-container.chosen-container-single .chosen-single {
  background-color: #fbffeb;
  border: 1px solid #e9ff9f; }
body #content select + .chosen-container-multi .chosen-choices,
body #content .modal .modal-dialog .modal-content select + .chosen-container-multi .chosen-choices {
  -webkit-appearance: none !important;
  color: #717171;
  outline: 0;
  height: 16px;
  padding: 6px 11px !important;
  line-height: 18px;
  font-size: 13px;
  vertical-align: top;
  background-color: #fff;
  min-height: 37px;
  filter: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  body #content select + .chosen-container-multi .chosen-choices .search-field input,
  body #content .modal .modal-dialog .modal-content select + .chosen-container-multi .chosen-choices .search-field input {
    padding: 0 !important;
    margin: 3px 0;
    min-height: initial;
    color: inherit; }
    body #content select + .chosen-container-multi .chosen-choices .search-field input:focus,
    body #content .modal .modal-dialog .modal-content select + .chosen-container-multi .chosen-choices .search-field input:focus {
      -webkit-box-shadow: none !important;
      box-shadow: none !important; }
  body #content select + .chosen-container-multi .chosen-choices .search-choice,
  body #content .modal .modal-dialog .modal-content select + .chosen-container-multi .chosen-choices .search-choice {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: 11px;
    line-height: 18px; }
body #content select + .chosen-container-multi.chosen-container-active .chosen-choices,
body #content .modal .modal-dialog .modal-content select + .chosen-container-multi.chosen-container-active .chosen-choices {
  outline: none;
  border: 1px solid #b2b2b2;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1) !important; }
body #content select.parsley-error + .chosen-container-multi .chosen-choices,
body #content .modal .modal-dialog .modal-content select.parsley-error + .chosen-container-multi .chosen-choices {
  background-color: #ffdddc;
  border: 1px solid #ffaca9; }
body #content select.parsley-success + .chosen-container-multi .chosen-choices,
body #content .modal .modal-dialog .modal-content select.parsley-success + .chosen-container-multi .chosen-choices {
  background-color: #fbffeb;
  border: 1px solid #e9ff9f; }
body #content select.chosen-transparent + .chosen-container-multi .chosen-choices,
body #content .modal .modal-dialog .modal-content select.chosen-transparent + .chosen-container-multi .chosen-choices {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  color: rgba(255, 255, 255, 0.8); }
  body #content select.chosen-transparent + .chosen-container-multi .chosen-choices .search-choice,
  body #content .modal .modal-dialog .modal-content select.chosen-transparent + .chosen-container-multi .chosen-choices .search-choice {
    border-radius: 2px;
    border: 0;
    color: #717171;
    background-color: white;
    font-size: 11px;
    line-height: 18px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  body #content select.chosen-transparent + .chosen-container-multi .chosen-choices .search-field input,
  body #content .modal .modal-dialog .modal-content select.chosen-transparent + .chosen-container-multi .chosen-choices .search-field input {
    line-height: 18px;
    min-height: 18px;
    color: rgba(255, 255, 255, 0.8) !important; }
body #content select.chosen-transparent + .chosen-container-multi.chosen-container-active .chosen-choices,
body #content .modal .modal-dialog .modal-content select.chosen-transparent + .chosen-container-multi.chosen-container-active .chosen-choices {
  background-color: rgba(0, 0, 0, 0.5); }
body #content select.chosen-transparent.parsley-error + .chosen-container-multi .chosen-choices,
body #content .modal .modal-dialog .modal-content select.chosen-transparent.parsley-error + .chosen-container-multi .chosen-choices {
  background-color: rgba(255, 74, 67, 0.2);
  border: 1px solid rgba(255, 74, 67, 0.5); }
body #content select.chosen-transparent.parsley-success + .chosen-container-multi .chosen-choices,
body #content .modal .modal-dialog .modal-content select.chosen-transparent.parsley-success + .chosen-container-multi .chosen-choices {
  background-color: rgba(162, 210, 0, 0.2);
  border: 1px solid rgba(162, 210, 0, 0.5); }
body #content select.chosen-transparent + .chosen-container.chosen-container-single .chosen-single,
body #content .modal .modal-dialog .modal-content select.chosen-transparent + .chosen-container.chosen-container-single .chosen-single {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  color: rgba(255, 255, 255, 0.8); }
  body #content select.chosen-transparent + .chosen-container.chosen-container-single .chosen-single div b,
  body #content .modal .modal-dialog .modal-content select.chosen-transparent + .chosen-container.chosen-container-single .chosen-single div b {
    background: url(assets/images/chosen-sprite-transparent.png) no-repeat 0 2px; }
body #content select.chosen-transparent + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
body #content .modal .modal-dialog .modal-content select.chosen-transparent + .chosen-container.chosen-container-single.chosen-container-active .chosen-single {
  background-color: rgba(0, 0, 0, 0.5); }
body #content select.chosen-transparent.parsley-error + .chosen-container.chosen-container-single .chosen-single,
body #content .modal .modal-dialog .modal-content select.chosen-transparent.parsley-error + .chosen-container.chosen-container-single .chosen-single {
  background-color: rgba(255, 74, 67, 0.2);
  border: 1px solid rgba(255, 74, 67, 0.5); }
body #content select.chosen-transparent.parsley-success + .chosen-container.chosen-container-single .chosen-single,
body #content .modal .modal-dialog .modal-content select.chosen-transparent.parsley-success + .chosen-container.chosen-container-single .chosen-single {
  background-color: rgba(162, 210, 0, 0.2);
  border: 1px solid rgba(162, 210, 0, 0.5); }
body #content select + .chosen-container .chosen-drop,
body #content .modal .modal-dialog .modal-content select + .chosen-container .chosen-drop {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
body #content select + .chosen-container .chosen-results,
body #content .modal .modal-dialog .modal-content select + .chosen-container .chosen-results {
  font-size: 13px;
  color: #717171; }
body #content .input-group .input-group-btn .btn,
body #content .modal .modal-dialog .modal-content .input-group .input-group-btn .btn {
  line-height: 23px;
  min-height: 37px;
  min-width: 37px; }
body #content .input-group.input-group-lg > .form-control,
body #content .input-group.input-group-lg > .input-group-addon,
body #content .input-group.input-group-lg > .input-group-btn > .btn,
body #content .modal .modal-dialog .modal-content .input-group.input-group-lg > .form-control,
body #content .modal .modal-dialog .modal-content .input-group.input-group-lg > .input-group-addon,
body #content .modal .modal-dialog .modal-content .input-group.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33; }
body #content .input-group.input-group-sm > .form-control,
body #content .input-group.input-group-sm > .input-group-addon,
body #content .input-group.input-group-sm > .input-group-btn > .btn,
body #content .modal .modal-dialog .modal-content .input-group.input-group-sm > .form-control,
body #content .modal .modal-dialog .modal-content .input-group.input-group-sm > .input-group-addon,
body #content .modal .modal-dialog .modal-content .input-group.input-group-sm > .input-group-btn > .btn {
  height: 25px;
  min-height: 30px;
  font-size: 11px;
  line-height: 1.5; }
body #content .input-group .input-group-addon,
body #content .modal .modal-dialog .modal-content .input-group .input-group-addon {
  border-color: rgba(0, 0, 0, 0.1); }
  body #content .input-group .input-group-addon.addon-red,
  body #content .modal .modal-dialog .modal-content .input-group .input-group-addon.addon-red {
    background-color: #ff7b76;
    color: white; }
  body #content .input-group .input-group-addon.addon-green,
  body #content .modal .modal-dialog .modal-content .input-group .input-group-addon.addon-green {
    background-color: #a2d200;
    color: white; }
  body #content .input-group .input-group-addon.addon-cyan,
  body #content .modal .modal-dialog .modal-content .input-group .input-group-addon.addon-cyan {
    background-color: #52ccf2;
    color: white; }
  body #content .input-group .input-group-addon.addon-orange,
  body #content .modal .modal-dialog .modal-content .input-group .input-group-addon.addon-orange {
    background-color: #ffcd33;
    color: white; }
  body #content .input-group .input-group-addon.addon-amethyst,
  body #content .modal .modal-dialog .modal-content .input-group .input-group-addon.addon-amethyst {
    background-color: #cd97eb;
    color: white; }
  body #content .input-group .input-group-addon.addon-greensea,
  body #content .modal .modal-dialog .modal-content .input-group .input-group-addon.addon-greensea {
    background-color: #1ccdaa;
    color: white; }
  body #content .input-group .input-group-addon.addon-drank,
  body #content .modal .modal-dialog .modal-content .input-group .input-group-addon.addon-drank {
    background-color: #d5099c;
    color: white; }
  body #content .input-group .input-group-addon.addon-dutch,
  body #content .modal .modal-dialog .modal-content .input-group .input-group-addon.addon-dutch {
    background-color: #1cbbd2;
    color: white; }
  body #content .input-group .input-group-addon.addon-hotpink,
  body #content .modal .modal-dialog .modal-content .input-group .input-group-addon.addon-hotpink {
    background-color: #ff3385;
    color: white; }
  body #content .input-group .input-group-addon.addon-redbrown,
  body #content .modal .modal-dialog .modal-content .input-group .input-group-addon.addon-redbrown {
    background-color: #e27d79;
    color: white; }
  body #content .input-group .input-group-addon.addon-blue,
  body #content .modal .modal-dialog .modal-content .input-group .input-group-addon.addon-blue {
    background-color: #69a3d5;
    color: white; }
  body #content .input-group .input-group-addon.addon-slategray,
  body #content .modal .modal-dialog .modal-content .input-group .input-group-addon.addon-slategray {
    background-color: #536781;
    color: white; }
body #content .input-group .form-control:last-child,
body #content .input-group-addon:last-child,
body #content .input-group-btn:last-child > .btn,
body #content .input-group-btn:last-child > .btn-group > .btn,
body #content .input-group-btn:last-child > .dropdown-toggle,
body #content .input-group-btn:first-child > .btn:not(:first-child),
body #content .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
body #content .modal .modal-dialog .modal-content .input-group .form-control:last-child,
body #content .modal .modal-dialog .modal-content .input-group-addon:last-child,
body #content .modal .modal-dialog .modal-content .input-group-btn:last-child > .btn,
body #content .modal .modal-dialog .modal-content .input-group-btn:last-child > .btn-group > .btn,
body #content .modal .modal-dialog .modal-content .input-group-btn:last-child > .dropdown-toggle,
body #content .modal .modal-dialog .modal-content .input-group-btn:first-child > .btn:not(:first-child),
body #content .modal .modal-dialog .modal-content .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
body #content .input-group .form-control:first-child,
body #content .input-group-addon:first-child,
body #content .input-group-btn:first-child > .btn,
body #content .input-group-btn:first-child > .btn-group > .btn,
body #content .input-group-btn:first-child > .dropdown-toggle,
body #content .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
body #content .input-group-btn:last-child > .btn-group:not(:last-child) > .btn,
body #content .modal .modal-dialog .modal-content .input-group .form-control:first-child,
body #content .modal .modal-dialog .modal-content .input-group-addon:first-child,
body #content .modal .modal-dialog .modal-content .input-group-btn:first-child > .btn,
body #content .modal .modal-dialog .modal-content .input-group-btn:first-child > .btn-group > .btn,
body #content .modal .modal-dialog .modal-content .input-group-btn:first-child > .dropdown-toggle,
body #content .modal .modal-dialog .modal-content .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
body #content .modal .modal-dialog .modal-content .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
body #content .input-group-addon:not(:first-child):not(:last-child),
body #content .input-group-btn:not(:first-child):not(:last-child),
body #content .input-group .form-control:not(:first-child):not(:last-child),
body #content .modal .modal-dialog .modal-content .input-group-addon:not(:first-child):not(:last-child),
body #content .modal .modal-dialog .modal-content .input-group-btn:not(:first-child):not(:last-child),
body #content .modal .modal-dialog .modal-content .input-group .form-control:not(:first-child):not(:last-child) {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
