
/**************************************/
/************* LIST GROUP *************/
/**************************************/
.list-group {
  color: #717171; }

/*********************************/
/************* LISTS *************/
/*********************************/
ul.inline {
  padding: 0;
  margin: 0; }
  ul.inline > li {
    display: inline-block;
    padding: 5px 10px;
    vertical-align: top; }
  ul.inline.divided > li {
    border-right: 1px solid #f2f2f2; }
    ul.inline.divided > li:last-child {
      border: 0; }
ul.nolisttypes {
  list-style-type: none;
  padding: 0; }
ul.list-type {
  padding: 0;
  margin: 7px 0 7px 20px;
  list-style-type: none; }
  ul.list-type li {
    padding: 2px 2px 2px 0px;
    position: relative; }
    ul.list-type li:before {
      position: absolute;
      left: -18px;
      margin-top: 3px;
      font-family: FontAwesome;
      line-height: 1;
      font-size: 14px;
      -webkit-font-smoothing: antialiased; }
  ul.list-type.arrow li:before {
    content: "\f061"; }
  ul.list-type.circle li:before {
    content: "\f10c"; }
  ul.list-type.check li:before {
    content: "\f046"; }
  ul.list-type.caret-right li:before {
    content: "\f0da"; }
ul.chart-legend > li {
  font-size: 12px;
  font-weight: 400;
  padding: 5px; }
  ul.chart-legend > li small {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 5px;
    font-size: 12px; }