@import url(http://fonts.useso.com/css?family=Ubuntu+Mono|Roboto:400,100,300,500,700,300italic|Roboto+Condensed:300,400,700|Roboto+Slab:400,700&subset=latin,latin-ext);

/*****************************************/
/************* MAIN SETTINGS *************/
/*****************************************/
html,
body {
  height: 100%; }

html {
  padding-top: 45px;
  padding-bottom: 0;
  overflow: hidden; }
  html.mm-opened #wrap > .row #content {
    position: fixed;
    left: 0;
    padding-right: 275px; }

.mm-page {
  height: 100%;
  min-height: 100%; }

#wrap {
  margin: 0;
  padding: 0 15px;
  height: 100%;
  min-height: 100%; }
  #wrap > .row {
    height: 100%;
    min-height: 100%; }
  #wrap #content {
    padding-bottom: 0;
    padding-left: 265px;
    padding-right: 25px;
    height: 100%;
    width: 100%; }
    #wrap #content .main {
      margin: 10px 0; }

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }
  body.modal-open {
    overflow: auto;
    margin-right: 0; }
  body.bg-1 {
    background-image: url(/assets/images/noise.png), url(/assets/images/backgrounds/1.jpg);
    background-repeat: repeat, no-repeat;
    background-position: left top;
    background-size: auto, cover; }
  body.bg-2 {
    background-image: url(/assets/images/noise.png), url(/assets/images/backgrounds/2.jpg);
    background-repeat: repeat, no-repeat;
    background-position: left top;
    background-size: auto, cover; }
  body.bg-3 {
    background-image: url(/assets/images/noise.png), url(/assets/images/backgrounds/3.jpg);
    background-repeat: repeat, no-repeat;
    background-position: left top;
    background-size: auto, cover; }
  body.bg-4 {
    background-image: url(/assets/images/noise.png), url(/assets/images/backgrounds/4.jpg);
    background-repeat: repeat, no-repeat;
    background-position: left top;
    background-size: auto, cover; }
  body.bg-5 {
    background-image: url(/assets/images/noise.png), url(/assets/images/backgrounds/5.jpg);
    background-repeat: repeat, no-repeat;
    background-position: left top;
    background-size: auto, cover; }
  body.bg-6 {
    background-image: url(/assets/images/noise.png), url(/assets/images/backgrounds/6.jpg);
    background-repeat: repeat, no-repeat;
    background-position: left top;
    background-size: auto, cover; }
  body.no-bg {
    background: none; }
  body .navbar-default {
    border: 0; }
  body .mask {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
    top: -45px;
    padding-bottom: 45px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
    body .mask #loader {
      background: url(/assets/images/loader.gif) center center no-repeat;
      height: 15px;
      width: 15px;
      left: 50%;
      top: 50%;
      position: absolute;
      margin: -25px 0 0 -25px; }
  body > .videocontent {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    body > .videocontent .video-background {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      z-index: 0; }
      body > .videocontent .video-background video {
        min-height: 100%;
        min-width: 100%; }
    body > .videocontent .ui-video-background {
      display: none; }

.el-reloader {
  background: url(/assets/images/loader.gif) center center no-repeat;
  height: 15px;
  width: 15px;
  left: 75%;
  top: 75%;
  position: absolute;
  margin: -25px 0 0 -25px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased; }
  h1.sans-serif, h2.sans-serif, h3.sans-serif, h4.sans-serif, h5.sans-serif, h6.sans-serif, .h1.sans-serif, .h2.sans-serif, .h3.sans-serif, .h4.sans-serif, .h5.sans-serif, .h6.sans-serif {
    font-family: "Roboto", "Arial", sans-serif; }
  h1.underline, h2.underline, h3.underline, h4.underline, h5.underline, h6.underline, .h1.underline, .h2.underline, .h3.underline, .h4.underline, .h5.underline, .h6.underline {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 5px; }

*:before,
*:after {
  -webkit-transform: translateZ(0); }
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}