
/********************************/
/************* MISC *************/
/********************************/
#ascrail2000,
#ascrail2000-hr {
  left: 0 !important; }

.blockUI.blockOverlay {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.jumbotron {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.bottommargin {
  margin-bottom: 10px; }

.big-medium {
  font-size: 36px;
  font-weight: 500; }

.medium-light {
  font-size: 22px;
  font-weight: 300; }

.medium-thin {
  font-size: 22px;
  font-weight: 100; }

.nomargin {
  margin: 0 !important; }

.w100p {
  width: 100% !important; }


.w35 {
  width: 35px !important; }

.w80 {
  width: 80px !important; }

.font-slab {
  font-family: "Roboto Slab", serif; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-top-15 {
  margin-top: 15px; }

.margin-15 {
  margin: 15px; }

.inline-block {
  display: inline-block; }

.checkbox.inline {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 0;
  min-height: 0;
  position: relative;
  left: 5px;
  top: -17px; }

.rounded-corners {
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important; }
  .rounded-corners .jvectormap-container {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    border-radius: 4px !important; }

.rounded-top-corners {
  -webkit-border-radius: 4px 4px 0 0 !important;
  -moz-border-radius: 4px 4px 0 0 !important;
  -ms-border-radius: 4px 4px 0 0 !important;
  -o-border-radius: 4px 4px 0 0 !important;
  border-radius: 4px 4px 0 0 !important; }
  .rounded-top-corners .jvectormap-container {
    -webkit-border-radius: 4px 4px 0 0 !important;
    -moz-border-radius: 4px 4px 0 0 !important;
    -ms-border-radius: 4px 4px 0 0 !important;
    -o-border-radius: 4px 4px 0 0 !important;
    border-radius: 4px 4px 0 0 !important; }

.rounded-bottom-corners {
  -webkit-border-radius: 0 0 4px 4px !important;
  -moz-border-radius: 0 0 4px 4px !important;
  -ms-border-radius: 0 0 4px 4px !important;
  -o-border-radius: 0 0 4px 4px !important;
  border-radius: 0 0 4px 4px !important; }
  .rounded-bottom-corners .jvectormap-container {
    -webkit-border-radius: 0 0 4px 4px !important;
    -moz-border-radius: 0 0 4px 4px !important;
    -ms-border-radius: 0 0 4px 4px !important;
    -o-border-radius: 0 0 4px 4px !important;
    border-radius: 0 0 4px 4px !important; }

.rounded-left-corners {
  -webkit-border-radius: 4px 0 0 4px !important;
  -moz-border-radius: 4px 0 0 4px !important;
  -ms-border-radius: 4px 0 0 4px !important;
  -o-border-radius: 4px 0 0 4px !important;
  border-radius: 4px 0 0 4px !important; }

.rounded-right-corners {
  -webkit-border-radius: 0 4px 4px 0 !important;
  -moz-border-radius: 0 4px 4px 0 !important;
  -ms-border-radius: 0 4px 4px 0 !important;
  -o-border-radius: 0 4px 4px 0 !important;
  border-radius: 0 4px 4px 0 !important; }

.rounded-top-left-corner {
  -webkit-border-radius: 4px 0 0 0 !important;
  -moz-border-radius: 4px 0 0 0 !important;
  -ms-border-radius: 4px 0 0 0 !important;
  -o-border-radius: 4px 0 0 0 !important;
  border-radius: 4px 0 0 0 !important; }

.rounded-top-right-corner {
  -webkit-border-radius: 0 4px 0 0 !important;
  -moz-border-radius: 0 4px 0 0 !important;
  -ms-border-radius: 0 4px 0 0 !important;
  -o-border-radius: 0 4px 0 0 !important;
  border-radius: 0 4px 0 0 !important; }

.rounded-bottom-left-corner {
  -webkit-border-radius: 0 0 0 4px !important;
  -moz-border-radius: 0 0 0 4px !important;
  -ms-border-radius: 0 0 0 4px !important;
  -o-border-radius: 0 0 0 4px !important;
  border-radius: 0 0 0 4px !important; }

.rounded-bottom-right-corner {
  -webkit-border-radius: 0 0 4px 0 !important;
  -moz-border-radius: 0 0 4px 0 !important;
  -ms-border-radius: 0 0 4px 0 !important;
  -o-border-radius: 0 0 4px 0 !important;
  border-radius: 0 0 4px 0 !important; }

.as-table {
  display: table;
  width: 100%; }
  .as-table .tile {
    display: table-cell;
    float: none;
    vertical-align: top; }