
/**********************************/
/************* NAVBAR *************/
/**********************************/
body .navbar {
  min-height: 45px;
  height: 45px; }
  body .navbar.navbar-default {
    border: 0; }
  body .navbar.navbar-transparent-white {
    background-color: rgba(255, 255, 255, 0.1); }
    body .navbar.navbar-transparent-white .navbar-header {
      background-color: rgba(255, 255, 255, 0.1); }
  body .navbar.navbar-transparent-black {
    background-color: rgba(0, 0, 0, 0.1); }
    body .navbar.navbar-transparent-black .navbar-header {
      background-color: rgba(0, 0, 0, 0.05); }
  body .navbar .navbar-header {
    width: 250px;
    position: relative;
    z-index: 99; }
    body .navbar .navbar-header .navbar-brand {
      font-weight: 300;
      font-size: 18px;
      font-family: "Roboto Condensed", sans-serif;
      color: white;
      padding: 0;
      padding-left: 20px;
      height: 45px;
      line-height: 45px;
      background: url(/assets/images/minimal-logo.png) no-repeat 0 16px; }
      body .navbar .navbar-header .navbar-brand img {
        vertical-align: top; }
    body .navbar .navbar-header .sidebar-collapse {
      display: inline-block;
      float: right;
      line-height: 43px; }
      body .navbar .navbar-header .sidebar-collapse a {
        font-size: 18px;
        line-height: 45px;
        color: #f2f2f2; }
        body .navbar .navbar-header .sidebar-collapse a:hover {
          color: white; }
  body .navbar .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 45px;
    padding: 0 15px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    body .navbar .navbar-nav > li > a:hover, body .navbar .navbar-nav > li > a:focus {
      color: white; }
  body .navbar .navbar-nav > li.divided > a {
    display: inline-block;
    vertical-align: top; }
  body .navbar .navbar-nav > li.divided:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: 7px;
    margin-left: -3px;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0; }
  body .navbar .navbar-nav.quick-actions {
    float: right; }
    body .navbar .navbar-nav.quick-actions > li {
      display: inline-block;
      float: none;
      vertical-align: top; }
    body .navbar .navbar-nav.quick-actions .label {
      font-size: 10px;
      margin-left: 5px;
      vertical-align: middle; }
    body .navbar .navbar-nav.quick-actions .user .profile-photo {
      display: inline-block;
      width: 45px;
      vertical-align: top;
      overflow: hidden;
      margin-left: 15px; }
      body .navbar .navbar-nav.quick-actions .user .profile-photo img {
        width: 100%; }
    body .navbar .navbar-nav.quick-actions .user > a {
      font-size: 12px; }
      body .navbar .navbar-nav.quick-actions .user > a > i {
        margin-left: 10px; }
    body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu {
      -webkit-animation-duration: 0.3s;
      -moz-animation-duration: 0.3s;
      animation-duration: 0.3s; }
      body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a {
        color: #717171;
        font-size: 12px; }
        body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a .task-info .desc {
          font-size: 12px;
          color: rgba(113, 113, 113, 0.65);
          margin-bottom: 3px; }
        body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a .task-info .percent {
          padding-left: 10px;
          margin-top: -4px;
          display: inline-block;
          font-weight: 700;
          float: right;
          font-size: 12px; }
        body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a .progress {
          margin-bottom: 10px; }
        body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a .small {
          float: right;
          color: #bebebe;
          margin-top: 3px;
          font-weight: 300;
          font-size: 9px; }
        body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a:hover, body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a:focus {
          background-color: #f2f2f2; }
      body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li:last-child > a {
        font-size: 12px;
        -webkit-border-radius: 0 0 2px 2px;
        -moz-border-radius: 0 0 2px 2px;
        -ms-border-radius: 0 0 2px 2px;
        -o-border-radius: 0 0 2px 2px;
        border-radius: 0 0 2px 2px; }
        body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li:last-child > a i {
          font-size: 14px;
          float: right;
          line-height: 17px; }
      body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li {
        display: block; }
        body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a {
          margin: 10px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px;
          background-color: #f2f2f2;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out; }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a .profile-photo {
            width: 35px;
            display: inline-block; }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a .profile-photo img {
              width: 100%; }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.cyan {
            background-color: rgba(34, 190, 239, 0.1); }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.cyan:hover {
              background-color: rgba(34, 190, 239, 0.2); }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.green {
            background-color: rgba(162, 210, 0, 0.1); }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.green:hover {
              background-color: rgba(162, 210, 0, 0.2); }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.orange {
            background-color: rgba(255, 193, 0, 0.1); }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.orange:hover {
              background-color: rgba(255, 193, 0, 0.2); }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.red {
            background-color: rgba(255, 74, 67, 0.1); }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.red:hover {
              background-color: rgba(255, 74, 67, 0.2); }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.amethyst {
            background-color: rgba(205, 151, 235, 0.1); }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.amethyst:hover {
              background-color: rgba(205, 151, 235, 0.2); }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.greensea {
            background-color: rgba(22, 160, 133, 0.1); }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.greensea:hover {
              background-color: rgba(22, 160, 133, 0.2); }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.dutch {
            background-color: rgba(22, 147, 165, 0.1); }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.dutch:hover {
              background-color: rgba(22, 147, 165, 0.2); }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.drank {
            background-color: rgba(164, 7, 120, 0.1); }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.drank:hover {
              background-color: rgba(164, 7, 120, 0.2); }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.hotpink {
            background-color: rgba(255, 0, 102, 0.1); }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a.hotpink:hover {
              background-color: rgba(255, 0, 102, 0.2); }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a:hover {
            background-color: #eaeaea; }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a .message-info {
            vertical-align: top;
            display: inline-block;
            font-size: 11px;
            margin-left: 5px;
            width: 265px; }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a .message-info .sender {
              font-weight: 700; }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a .message-info .time {
              float: right;
              font-weight: 300;
              font-size: 9px;
              color: #bebebe; }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li > a .message-info .message-content {
              white-space: normal;
              margin-top: 5px;
              color: #a4a4a4; }
        body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li:last-child > a {
          margin: 0;
          -webkit-border-radius: 0 0 2px 2px;
          -moz-border-radius: 0 0 2px 2px;
          -ms-border-radius: 0 0 2px 2px;
          -o-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
          background-color: transparent; }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.messages > li:last-child > a:hover {
            background-color: #f2f2f2; }
      body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings {
        -webkit-border-radius: 0 0 2px 2px;
        -moz-border-radius: 0 0 2px 2px;
        -ms-border-radius: 0 0 2px 2px;
        -o-border-radius: 0 0 2px 2px;
        border-radius: 0 0 2px 2px;
        border: 0;
        padding: 5px;
        -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);
        -webkit-animation-duration: 0.3s;
        -moz-animation-duration: 0.3s;
        animation-duration: 0.3s; }
        body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li {
          display: block; }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li > a {
            padding: 5px 10px;
            font-size: 12px; }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li > a i {
              font-size: 14px; }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li h3 {
            padding: 0;
            margin: 5px 10px;
            font-size: 12px;
            font-family: "Roboto", "Arial", sans-serif;
            color: #717171;
            font-weight: 400; }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes {
            margin: 10px;
            text-align: center;
            list-style-type: none;
            padding: 0; }
            body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li {
              width: 17px;
              text-align: center;
              display: inline-block; }
              body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a {
                display: inline-block;
                width: 70%;
                height: 12px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                border-radius: 20px;
                -webkit-transition: all 0.25s ease;
                -moz-transition: all 0.25s ease;
                transition: all 0.25s ease; }
                body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a:hover {
                  -webkit-transform: scale(1.3, 1.3);
                  -moz-transform: scale(1.3, 1.3);
                  -ms-transform: scale(1.3, 1.3);
                  -o-transform: scale(1.3, 1.3);
                  transform: scale(1.3, 1.3);
                  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
                  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3); }
                body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-1 {
                  background: url(/assets/images/backgrounds/thumbs/1.jpg) center center no-repeat; }
                body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-2 {
                  background: url(/assets/images/backgrounds/thumbs/2.jpg) center center no-repeat; }
                body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-3 {
                  background: url(/assets/images/backgrounds/thumbs/3.jpg) center center no-repeat; }
                body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-4 {
                  background: url(/assets/images/backgrounds/thumbs/4.jpg) center center no-repeat; }
                body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-5 {
                  background: url(/assets/images/backgrounds/thumbs/5.jpg) center center no-repeat; }
                body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-6 {
                  background: url(/assets/images/backgrounds/thumbs/6.jpg) center center no-repeat; }
          body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li .form-group label {
            color: #717171;
            font-size: 12px;
            font-weight: 400; }
        body .navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings.arrow:before {
          border-bottom-color: white;
          left: 134px; }
    body .navbar .navbar-nav.quick-actions .dropdown.open > a,
    body .navbar .navbar-nav.quick-actions .dropdown.open > a:focus,
    body .navbar .navbar-nav.quick-actions .dropdown.open > a:hover {
      background-color: transparent;
      color: white; }
  body .navbar .search {
    display: inline-block;
    margin-left: 15px; }
    body .navbar .search i {
      line-height: 45px;
      margin-right: 10px;
      color: rgba(255, 255, 255, 0.7); }
    body .navbar .search input {
      font-family: "Ubuntu Mono", sans-serif;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.4);
      background: none;
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      -webkit-appearance: none !important;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      transition: all 0.2s linear;
      min-height: 28px; }
      body .navbar .search input:focus {
        outline: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
      body .navbar .search input::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.3); }
      body .navbar .search input:-moz-placeholder {
        color: rgba(0, 0, 0, 0.3); }
      body .navbar .search input::-moz-placeholder {
        color: rgba(0, 0, 0, 0.3); }
      body .navbar .search input:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.3); }
  body .navbar.collapsed .navbar-header {
    width: 40px; }
    body .navbar.collapsed .navbar-header .navbar-brand {
      display: none; }
    body .navbar.collapsed .navbar-header .sidebar-collapse a {
      margin-left: 2px; }