
/*********************************/
/************* PAGER *************/
/*********************************/
.pager > li {
  margin: 0 2px; }
.pager.pager-custom > li:first-child > a {
  -webkit-border-radius: 20px 2px 2px 20px;
  -moz-border-radius: 20px 2px 2px 20px;
  -ms-border-radius: 20px 2px 2px 20px;
  -o-border-radius: 20px 2px 2px 20px;
  border-radius: 20px 2px 2px 20px; }
  .pager.pager-custom > li:first-child > a > i {
    margin-right: 5px; }
.pager.pager-custom > li:last-child > a {
  -webkit-border-radius: 2px 20px 20px 2px;
  -moz-border-radius: 2px 20px 20px 2px;
  -ms-border-radius: 2px 20px 20px 2px;
  -o-border-radius: 2px 20px 20px 2px;
  border-radius: 2px 20px 20px 2px; }
  .pager.pager-custom > li:last-child > a > i {
    margin-left: 5px; }
.pager.pager-custom > li > a {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  border: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px; }
  .pager.pager-custom > li > a > i {
    font-size: 14px;
    position: relative;
    top: 1px; }
  .pager.pager-custom > li > a:hover {
    color: white;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5); }
.pager.pager-custom > .disabled > a,
.pager.pager-custom > .disabled > span,
.pager.pager-custom > .disabled > a:hover,
.pager.pager-custom > .disabled > span:hover,
.pager.pager-custom > .disabled > a:focus,
.pager.pager-custom > .disabled > span:focus {
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2); }
.pager.pager-full {
  margin: 0; }
  .pager.pager-full > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: 0;
    padding: 15px;
    background-color: transparent; }
    .pager.pager-full > li > a:hover {
      background-color: rgba(0, 0, 0, 0.05); }
  .pager.pager-full > li.disabled > a:hover {
    background-color: transparent; }