
/**************************************/
/************* PAGINATION *************/
/**************************************/
.pagination {
  vertical-align: bottom; }
  .pagination.pagination-xs > li:first-child > a,
  .pagination.pagination-xs > li:first-child > span {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -ms-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px; }
  .pagination.pagination-xs > li:last-child > a,
  .pagination.pagination-xs > li:last-child > span {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0; }
  .pagination.pagination-xs > li > a,
  .pagination.pagination-xs > li > span {
    font-size: 9px;
    font-weight: 900;
    padding: 3px 6px; }

.pagination-custom > li:first-child > a,
.pagination-custom > li:first-child > span,
.dataTables_paginate.paging_custombootstrap .pagination > li:first-child > a,
.dataTables_paginate.paging_custombootstrap .pagination > li:first-child > span {
  -webkit-border-radius: 20px 2px 2px 20px;
  -moz-border-radius: 20px 2px 2px 20px;
  -ms-border-radius: 20px 2px 2px 20px;
  -o-border-radius: 20px 2px 2px 20px;
  border-radius: 20px 2px 2px 20px; }
.pagination-custom > li:last-child > a,
.pagination-custom > li:last-child > span,
.dataTables_paginate.paging_custombootstrap .pagination > li:last-child > a,
.dataTables_paginate.paging_custombootstrap .pagination > li:last-child > span {
  -webkit-border-radius: 2px 20px 20px 2px;
  -moz-border-radius: 2px 20px 20px 2px;
  -ms-border-radius: 2px 20px 20px 2px;
  -o-border-radius: 2px 20px 20px 2px;
  border-radius: 2px 20px 20px 2px; }
.pagination-custom > li:first-child i, .pagination-custom > li:last-child i,
.dataTables_paginate.paging_custombootstrap .pagination > li:first-child i,
.dataTables_paginate.paging_custombootstrap .pagination > li:last-child i {
  font-size: 14px; }
.pagination-custom > li > a,
.pagination-custom > li > span,
.dataTables_paginate.paging_custombootstrap .pagination > li > a,
.dataTables_paginate.paging_custombootstrap .pagination > li > span {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  .pagination-custom > li > a:hover,
  .pagination-custom > li > span:hover,
  .dataTables_paginate.paging_custombootstrap .pagination > li > a:hover,
  .dataTables_paginate.paging_custombootstrap .pagination > li > span:hover {
    color: #717171;
    border: 1px solid rgba(0, 0, 0, 0.3); }
.pagination-custom > .active > a,
.pagination-custom > .active > span,
.pagination-custom > .active > a:hover,
.pagination-custom > .active > span:hover,
.pagination-custom > .active > a:focus,
.pagination-custom > .active > span:focus,
.dataTables_paginate.paging_custombootstrap .pagination > .active > a,
.dataTables_paginate.paging_custombootstrap .pagination > .active > span,
.dataTables_paginate.paging_custombootstrap .pagination > .active > a:hover,
.dataTables_paginate.paging_custombootstrap .pagination > .active > span:hover,
.dataTables_paginate.paging_custombootstrap .pagination > .active > a:focus,
.dataTables_paginate.paging_custombootstrap .pagination > .active > span:focus {
  color: #717171;
  border: 1px solid rgba(0, 0, 0, 0.3); }
.pagination-custom > .disabled > a,
.pagination-custom > .disabled > span,
.pagination-custom > .disabled > a:hover,
.pagination-custom > .disabled > span:hover,
.pagination-custom > .disabled > a:focus,
.pagination-custom > .disabled > span:focus,
.dataTables_paginate.paging_custombootstrap .pagination > .disabled > a,
.dataTables_paginate.paging_custombootstrap .pagination > .disabled > span,
.dataTables_paginate.paging_custombootstrap .pagination > .disabled > a:hover,
.dataTables_paginate.paging_custombootstrap .pagination > .disabled > span:hover,
.dataTables_paginate.paging_custombootstrap .pagination > .disabled > a:focus,
.dataTables_paginate.paging_custombootstrap .pagination > .disabled > span:focus {
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.05); }
.pagination-custom.pagination-lg > li > a,
.pagination-custom.pagination-lg > li > span,
.dataTables_paginate.paging_custombootstrap .pagination.pagination-lg > li > a,
.dataTables_paginate.paging_custombootstrap .pagination.pagination-lg > li > span {
  font-size: 14px; }
.pagination-custom.pagination-sm > li > a,
.pagination-custom.pagination-sm > li > span,
.dataTables_paginate.paging_custombootstrap .pagination.pagination-sm > li > a,
.dataTables_paginate.paging_custombootstrap .pagination.pagination-sm > li > span {
  font-size: 11px; }
.pagination-custom.pagination-sm > li:first-child i, .pagination-custom.pagination-sm > li:last-child i,
.dataTables_paginate.paging_custombootstrap .pagination.pagination-sm > li:first-child i,
.dataTables_paginate.paging_custombootstrap .pagination.pagination-sm > li:last-child i {
  font-size: 11px; }
.pagination-custom.pagination-xs > li > a,
.pagination-custom.pagination-xs > li > span,
.dataTables_paginate.paging_custombootstrap .pagination.pagination-xs > li > a,
.dataTables_paginate.paging_custombootstrap .pagination.pagination-xs > li > span {
  font-size: 10px; }
.pagination-custom.pagination-xs > li:first-child i, .pagination-custom.pagination-xs > li:last-child i,
.dataTables_paginate.paging_custombootstrap .pagination.pagination-xs > li:first-child i,
.dataTables_paginate.paging_custombootstrap .pagination.pagination-xs > li:last-child i {
  font-size: 10px; }
.pagination-custom.pagination-xs > li:first-child > a,
.pagination-custom.pagination-xs > li:first-child > span,
.dataTables_paginate.paging_custombootstrap .pagination.pagination-xs > li:first-child > a,
.dataTables_paginate.paging_custombootstrap .pagination.pagination-xs > li:first-child > span {
  -webkit-border-radius: 20px 2px 2px 20px;
  -moz-border-radius: 20px 2px 2px 20px;
  -ms-border-radius: 20px 2px 2px 20px;
  -o-border-radius: 20px 2px 2px 20px;
  border-radius: 20px 2px 2px 20px; }
.pagination-custom.pagination-xs > li:last-child > a,
.pagination-custom.pagination-xs > li:last-child > span,
.dataTables_paginate.paging_custombootstrap .pagination.pagination-xs > li:last-child > a,
.dataTables_paginate.paging_custombootstrap .pagination.pagination-xs > li:last-child > span {
  -webkit-border-radius: 2px 20px 20px 2px;
  -moz-border-radius: 2px 20px 20px 2px;
  -ms-border-radius: 2px 20px 20px 2px;
  -o-border-radius: 2px 20px 20px 2px;
  border-radius: 2px 20px 20px 2px; }