
/**********************************/
/************* PANELS *************/
/**********************************/
.panel {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #717171; }
  .panel .panel-heading {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
  .panel.panel-example .label,
  .panel.panel-example .badge {
    display: inline-block; }
  .panel.panel-example .panel-body {
    padding: 0;
    border: 0; }
    .panel.panel-example .panel-body pre {
      margin: 0;
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      -ms-border-radius: 0 0 4px 4px;
      -o-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px; }
  .panel.panel-default .panel-heading {
    background-color: #f2f2f2; }
  .panel.panel-transparent-black {
    background-color: transparent; }
    .panel.panel-transparent-black .panel-heading {
      background-color: rgba(0, 0, 0, 0.3);
      color: white; }
    .panel.panel-transparent-black .panel-body {
      color: white;
      background-color: rgba(0, 0, 0, 0.15);
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      -ms-border-radius: 0 0 4px 4px;
      -o-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px; }
  .panel.panel-transparent-white {
    background-color: transparent; }
    .panel.panel-transparent-white .panel-heading {
      background-color: rgba(255, 255, 255, 0.3);
      color: white; }
    .panel.panel-transparent-white .panel-body {
      color: white;
      background-color: rgba(255, 255, 255, 0.15);
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      -ms-border-radius: 0 0 4px 4px;
      -o-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px; }
  .panel.panel-red {
    border-color: #ff3129; }
    .panel.panel-red .panel-heading {
      background-color: #ff4a43;
      border-color: #ff3129;
      color: white; }
  .panel.panel-cyan {
    border-color: #11b4e7; }
    .panel.panel-cyan .panel-heading {
      background-color: #22beef;
      border-color: #11b4e7;
      color: white; }
  .panel.panel-green {
    border-color: #8eb800; }
    .panel.panel-green .panel-heading {
      background-color: #a2d200;
      border-color: #8eb800;
      color: white; }
  .panel.panel-orange {
    border-color: #e6ae00; }
    .panel.panel-orange .panel-heading {
      background-color: #ffc100;
      border-color: #e6ae00;
      color: white; }
  .panel.panel-amethyst {
    border-color: #c382e7; }
    .panel.panel-amethyst .panel-heading {
      background-color: #cd97eb;
      border-color: #c382e7;
      color: white; }
  .panel.panel-greensea {
    border-color: #16a085; }
    .panel.panel-greensea .panel-heading {
      background-color: #16a085;
      border-color: #16a085;
      color: white; }
  .panel.panel-dutch {
    border-color: #1693a5; }
    .panel.panel-dutch .panel-heading {
      background-color: #1693a5;
      border-color: #1693a5;
      color: white; }
  .panel.panel-hotpink {
    border-color: #ff0066; }
    .panel.panel-hotpink .panel-heading {
      background-color: #ff0066;
      border-color: #ff0066;
      color: white; }
  .panel.panel-drank {
    border-color: #a40778; }
    .panel.panel-drank .panel-heading {
      background-color: #a40778;
      border-color: #a40778;
      color: white; }
  .panel.panel-blue {
    border-color: #418bca; }
    .panel.panel-blue .panel-heading {
      background-color: #418bca;
      border-color: #418bca;
      color: white; }
  .panel.panel-slategray {
    border-color: #3f4e62; }
    .panel.panel-slategray .panel-heading {
      background-color: #3f4e62;
      border-color: #3f4e62;
      color: white; }
  .panel.panel-redbrown {
    border-color: #d9544f; }
    .panel.panel-redbrown .panel-heading {
      background-color: #d9544f;
      border-color: #d9544f;
      color: white; }