

/**************************************/
/************* RESPONSIVE *************/
/**************************************/
@media only screen and (max-width: 1700px) {
  /* mail */
  .mail-content .message .content {
    max-height: 845px; } }
@media only screen and (max-width: 1024px) {
  body {
    /* navbar */ }
    body .navbar .search input {
      width: 120px; }
    body .navbar .navbar-nav.quick-actions {
      position: absolute;
      right: -260px;
      top: 0; }
    body .navbar.collapsed .navbar-nav.quick-actions {
      right: 0; }
    body #wrap #content {
      padding-left: 55px; }

  html.mm-right.mm-opening .mm-fixed-top {
    right: 0; }

  html.mm-opened #wrap > .row #content {
    padding-right: 25px; }

  /* timeline */
  .timeline > li > .el-container .side {
    width: 100px;
    font-size: 30px; }
  .timeline > li > .el-container .content span.time {
    font-size: 11px; }
    .timeline > li > .el-container .content span.time i {
      font-size: 14px; }
  .timeline > li > .el-container .content h1 {
    font-size: 16px; } }
@media only screen and (max-width: 970px) {
  body {
    /* tables */
    /* tile navbar */
    /* mail */ }
    body .table-responsive {
      border: 0;
      overflow-y: hidden;
      overflow-x: scroll;
      width: 100%; }
      body .table-responsive table {
        min-width: 920px; }
      body .table-responsive.inbox {
        overflow: auto; }
        body .table-responsive.inbox table {
          min-width: 600px; }
    body #content .tile .tile-navbar {
      text-align: center; }
      body #content .tile .tile-navbar > li {
        border-right: 0; }
        body #content .tile .tile-navbar > li .checkbox label:after {
          text-align: left; }
        body #content .tile .tile-navbar > li.filters {
          float: none;
          display: block;
          margin-top: 5px;
          padding-top: 5px;
          border-top: 1px solid rgba(255, 255, 255, 0.1); }
    body #content ul.inbox > li.msg div p {
      width: 180px; } }
@media only screen and (max-width: 768px) {
  body {
    /* navbar */
    /* pageheader */
    /* recent activity */
    /* datatables */
    /* misc */
    /* timeline */
    /* mail */ }
    body .navbar.navbar-default .navbar-collapse {
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      max-height: 45px; }
      body .navbar.navbar-default .navbar-collapse .navbar-nav.side-nav > li.collapsed-content {
        display: block; }
      body .navbar.navbar-default .navbar-collapse .nav > li > a {
        padding: 0 10px; }
      body .navbar.navbar-default .navbar-collapse .nav .open .dropdown-menu {
        position: absolute;
        background-color: white; }
        body .navbar.navbar-default .navbar-collapse .nav .open .dropdown-menu.wide {
          left: -130px;
          width: 210px !important;
          max-width: 210px !important; }
        body .navbar.navbar-default .navbar-collapse .nav .open .dropdown-menu.wider {
          width: 280px !important;
          max-width: 280px !important;
          left: -180px; }
        body .navbar.navbar-default .navbar-collapse .nav .open .dropdown-menu.arrow:before {
          left: auto;
          right: 73px; }
        body .navbar.navbar-default .navbar-collapse .nav .open .dropdown-menu.arrow.wide:before {
          right: 53px; }
      body .navbar.navbar-default .navbar-collapse .nav.refresh {
        position: absolute;
        top: 0;
        left: 250px;
        margin: 0; }
        body .navbar.navbar-default .navbar-collapse .nav.refresh > li:after {
          display: none; }
      body .navbar.navbar-default .navbar-collapse .nav.quick-actions {
        margin: 0; }
        body .navbar.navbar-default .navbar-collapse .nav.quick-actions > li {
          display: inline-block;
          vertical-align: top; }
        body .navbar.navbar-default .navbar-collapse .nav.quick-actions .dropdown .dropdown-menu.messages > li > a .message-info {
          width: 195px; }
    body .navbar.collapsed .navbar-collapse .nav.refresh {
      left: 40px; }
    body .navbar.collapsed .navbar-nav.side-nav > li.collapsed-content {
      display: none !important; }
    body .right-panel .nav-tabs {
      overflow: hidden; }
      body .right-panel .nav-tabs > li {
        display: table-cell;
        width: 1%; }
    body .pageheader {
      text-align: center;
      position: static; }
      body .pageheader h2 {
        display: block;
        font-size: 26px; }
        body .pageheader h2 span {
          font-size: 14px; }
      body .pageheader .breadcrumbs {
        position: static;
        display: block; }
        body .pageheader .breadcrumbs .breadcrumb {
          background-color: rgba(0, 0, 0, 0.1); }
    body .table-options {
      margin: 5px 0; }
    body .recent-activity .tab-content > ul > li .time {
      display: none; }
    body .dataTables_wrapper div.dataTables_length label {
      float: none;
      width: 100%;
      margin-bottom: 10px !important; }
    body .dataTables_wrapper div.dataTables_filter label {
      float: none;
      width: 100%;
      text-align: center; }
      body .dataTables_wrapper div.dataTables_filter label input {
        width: 100% !important; }
    body .dataTables_wrapper .delete-row,
    body .dataTables_wrapper .add-row {
      left: auto !important;
      right: 0 !important; }
    body .sm-center {
      text-align: center;
      margin: 5px 0 !important; }
    body .sm-left {
      text-align: left;
      margin: 10px 0 !important; }
    body .timeline {
      padding-top: 25px; }
      body .timeline:after {
        left: 20px; }
      body .timeline > li {
        clear: both;
        float: none;
        width: 100%;
        z-index: 2;
        padding-left: 45px;
        margin-bottom: 25px; }
        body .timeline > li > .el-container {
          margin: 0 !important; }
        body .timeline > li:nth-of-type(odd):after, body .timeline > li:nth-of-type(even):after {
          border-right: 10px solid;
          border-right-color: white;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent;
          left: 25px;
          margin-left: 0;
          right: auto;
          top: 14px; }
        body .timeline > li:nth-of-type(odd) > .pointer, body .timeline > li:nth-of-type(even) > .pointer {
          left: 6px;
          right: auto;
          top: 10px;
          margin-left: 0; }
        body .timeline > li:nth-of-type(odd).color.red:after, body .timeline > li:nth-of-type(even).color.red:after {
          border-right: 10px solid;
          border-right-color: #ff4a43;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent; }
        body .timeline > li:nth-of-type(odd).color.cyan:after, body .timeline > li:nth-of-type(even).color.cyan:after {
          border-right: 10px solid;
          border-right-color: #22beef;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent; }
        body .timeline > li:nth-of-type(odd).color.green:after, body .timeline > li:nth-of-type(even).color.green:after {
          border-right: 10px solid;
          border-right-color: #a2d200;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent; }
        body .timeline > li:nth-of-type(odd).color.orange:after, body .timeline > li:nth-of-type(even).color.orange:after {
          border-right: 10px solid;
          border-right-color: #ffc100;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent; }
        body .timeline > li:nth-of-type(odd).color.amethyst:after, body .timeline > li:nth-of-type(even).color.amethyst:after {
          border-right: 10px solid;
          border-right-color: #cd97eb;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent; }
        body .timeline > li:nth-of-type(odd).color.greensea:after, body .timeline > li:nth-of-type(even).color.greensea:after {
          border-right: 10px solid;
          border-right-color: #16a085;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent; }
        body .timeline > li:nth-of-type(odd).color.drank:after, body .timeline > li:nth-of-type(even).color.drank:after {
          border-right: 10px solid;
          border-right-color: #a40778;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent; }
        body .timeline > li:nth-of-type(odd).color.hotpink:after, body .timeline > li:nth-of-type(even).color.hotpink:after {
          border-right: 10px solid;
          border-right-color: #ff0066;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent; }
        body .timeline > li:nth-of-type(odd).color.dutch:after, body .timeline > li:nth-of-type(even).color.dutch:after {
          border-right: 10px solid;
          border-right-color: #1693a5;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent; }
        body .timeline > li:nth-of-type(odd).color.blue:after, body .timeline > li:nth-of-type(even).color.blue:after {
          border-right: 10px solid;
          border-right-color: #418bca;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent; }
        body .timeline > li:nth-of-type(odd).color.redbrown:after, body .timeline > li:nth-of-type(even).color.redbrown:after {
          border-right: 10px solid;
          border-right-color: #d9544f;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent; }
        body .timeline > li:nth-of-type(odd).color.slategray:after, body .timeline > li:nth-of-type(even).color.slategray:after {
          border-right: 10px solid;
          border-right-color: #3f4e62;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent; }
        body .timeline > li:nth-of-type(odd).color.transparent-black:after, body .timeline > li:nth-of-type(even).color.transparent-black:after {
          border-right: 10px solid;
          border-right-color: rgba(0, 0, 0, 0.3);
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent; }
        body .timeline > li:nth-of-type(odd).color.transparent-white:after, body .timeline > li:nth-of-type(even).color.transparent-white:after {
          border-right: 10px solid;
          border-right-color: rgba(255, 255, 255, 0.2);
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent; }
    body #content .vertical-mail > .row,
    body #content .horizontal-mail > .row {
      display: block; }
      body #content .vertical-mail > .row > div[class*='col-'],
      body #content .horizontal-mail > .row > div[class*='col-'] {
        padding: 15px;
        display: block; }
    body #content .vertical-mail ul.navigation,
    body #content .vertical-mail ul.inbox,
    body #content .horizontal-mail ul.navigation,
    body #content .horizontal-mail ul.inbox {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px; }
    body #content .vertical-mail .mail-content .message .content,
    body #content .horizontal-mail .mail-content .message .content {
      max-height: none;
      overflow: visible !important; }
    body #content .horizontal-mail > .row > div[class*='col-']:last-child {
      padding-left: 15px; }
    body #content .horizontal-mail .inbox {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px; }
    body #content .horizontal-mail .mail-content {
      padding: 0; } }
@media only screen and (max-width: 479px) {
  body {
    /* pageheader */
    /* tiles */
    /* recent activity */
    /* timeline */
    /* login page */ }
    body .pageheader {
      text-align: left; }
      body .pageheader h2 {
        font-size: 18px;
        font-weight: 300; }
        body .pageheader h2 span {
          font-size: 12px; }
        body .pageheader h2 i {
          font-size: 14px;
          height: 30px;
          width: 30px;
          line-height: 24px !important; }
      body .pageheader .breadcrumbs ol.breadcrumb > li {
        font-size: 10px; }
    body #content .tile .tile-header .search {
      float: none;
      display: block;
      margin-top: 15px; }
      body #content .tile .tile-header .search input {
        width: 100%; }
    body .recent-activity .tab-content > ul > li {
      font-size: 11px; }
      body .recent-activity .tab-content > ul > li .user {
        margin: 0 0 0 10px;
        position: relative; }
        body .recent-activity .tab-content > ul > li .user:after {
          display: none; }
    body .timeline > li > .el-container .content span.time {
      display: block;
      float: none;
      margin-bottom: 4px;
      border-bottom: 1px solid;
      padding-bottom: 4px;
      text-align: center; }
    body .timeline > li > .el-container .content h1 {
      text-align: center; }
    body #content.full-page .inside-block, body #content.full-page.error .inside-block {
      width: 70%;
      height: 100%; }
      body #content.full-page .inside-block form, body #content.full-page.error .inside-block form {
        margin-bottom: 40px; }
    body #content.full-page .search, body #content.full-page.error .search {
      right: 25%;
      top: 10px; } }