
/***********************************/
/************* SIDEBAR *************/
/***********************************/
body .navbar .navbar-nav.side-nav {
  width: 250px;
  position: fixed;
  margin-top: 45px;
  padding-bottom: 0;
  top: 0;
  height: 100%;
  border-radius: 0;
  border: none;
  overflow-y: auto;
  z-index: 1; }
  body .navbar .navbar-nav.side-nav > *:last-child {
    margin-bottom: 90px; }
  body .navbar .navbar-nav.side-nav > li {
    float: none; }
    body .navbar .navbar-nav.side-nav > li.collapsed {
      height: 45px;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.05); }
      body .navbar .navbar-nav.side-nav > li.collapsed > a > i:before {
        content: "\f107"; }
    body .navbar .navbar-nav.side-nav > li.collapsed-content {
      display: none; }
      body .navbar .navbar-nav.side-nav > li.collapsed-content > ul {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.search {
          margin-left: 0; }
          body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.search input {
            width: 190px; }
        body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user {
          margin: 15px 0;
          text-align: center; }
          body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user .profile-photo {
            width: 70px;
            overflow: hidden;
            margin: 10px auto; }
            body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user .profile-photo img {
              width: 70px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              border-radius: 50%;
              border: 3px solid white; }
          body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > a {
            color: rgba(255, 255, 255, 0.9);
            font-size: 12px; }
            body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > a:hover, body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > a:focus {
              color: white;
              text-decoration: none;
              background-color: transparent; }
            body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > a i {
              margin-left: 5px; }
          body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings {
            -webkit-border-radius: 0 0 2px 2px;
            -moz-border-radius: 0 0 2px 2px;
            -ms-border-radius: 0 0 2px 2px;
            -o-border-radius: 0 0 2px 2px;
            border-radius: 0 0 2px 2px;
            border: 0;
            padding: 5px;
            -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);
            -webkit-animation-duration: 0.3s;
            -moz-animation-duration: 0.3s;
            animation-duration: 0.3s;
            left: 50px;
            top: 120px;
            text-align: left;
            width: 130px;
            min-width: 130px; }
            body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li {
              display: block; }
              body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li > a {
                padding: 5px 10px;
                font-size: 12px; }
                body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li > a i {
                  font-size: 14px; }
              body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li h3 {
                padding: 0;
                margin: 5px 10px;
                font-size: 12px;
                font-family: "Roboto", "Arial", sans-serif;
                color: #717171;
                font-weight: 400; }
              body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li #color-schemes {
                margin: 10px;
                text-align: center;
                list-style-type: none;
                padding: 0; }
                body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li #color-schemes > li {
                  width: 13px;
                  text-align: center;
                  display: inline-block; }
                  body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li #color-schemes > li > a {
                    display: inline-block;
                    width: 70%;
                    height: 10px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                    border-radius: 20px;
                    -webkit-transition: all 0.25s ease;
                    -moz-transition: all 0.25s ease;
                    transition: all 0.25s ease; }
                    body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li #color-schemes > li > a:hover {
                      -webkit-transform: scale(1.3, 1.3);
                      -moz-transform: scale(1.3, 1.3);
                      -ms-transform: scale(1.3, 1.3);
                      -o-transform: scale(1.3, 1.3);
                      transform: scale(1.3, 1.3);
                      -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
                      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3); }
                    body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li #color-schemes > li > a.bg-1 {
                      background: url(assets/images/backgrounds/thumbs/1.jpg) center center no-repeat; }
                    body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li #color-schemes > li > a.bg-2 {
                      background: url(assets/images/backgrounds/thumbs/2.jpg) center center no-repeat; }
                    body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li #color-schemes > li > a.bg-3 {
                      background: url(assets/images/backgrounds/thumbs/3.jpg) center center no-repeat; }
                    body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li #color-schemes > li > a.bg-4 {
                      background: url(assets/images/backgrounds/thumbs/4.jpg) center center no-repeat; }
                    body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li #color-schemes > li > a.bg-5 {
                      background: url(assets/images/backgrounds/thumbs/5.jpg) center center no-repeat; }
                    body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li #color-schemes > li > a.bg-6 {
                      background: url(assets/images/backgrounds/thumbs/6.jpg) center center no-repeat; }
              body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings > li .form-group label {
                color: #717171;
                font-size: 12px;
                font-weight: 400; }
            body .navbar .navbar-nav.side-nav > li.collapsed-content > ul > li.user > .settings.arrow:before {
              border-bottom-color: white;
              left: 55px; }
    body .navbar .navbar-nav.side-nav > li > a.sidebar-toggle {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 11px;
      color: rgba(0, 0, 0, 0.3);
      text-transform: uppercase;
      font-weight: 700; }
      body .navbar .navbar-nav.side-nav > li > a.sidebar-toggle > i {
        font-size: 14px;
        line-height: 45px;
        float: right; }
      body .navbar .navbar-nav.side-nav > li > a.sidebar-toggle:hover {
        color: rgba(0, 0, 0, 0.4); }
      body .navbar .navbar-nav.side-nav > li > a.sidebar-toggle.underline {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 0;
        margin: 0 15px; }
    body .navbar .navbar-nav.side-nav > li.navigation .menu {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      body .navbar .navbar-nav.side-nav > li.navigation .menu > li > a {
        display: inline-block;
        line-height: 40px;
        padding: 0 15px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.9);
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        width: 100%;
        position: relative;
        z-index: 2;
        font-weight: 700; }
        body .navbar .navbar-nav.side-nav > li.navigation .menu > li > a > i {
          font-size: 14px;
          margin-right: 8px;
          width: 15px;
          display: inline-block;
          text-align: center; }
        body .navbar .navbar-nav.side-nav > li.navigation .menu > li > a > b.dropdown-plus {
          float: right;
          line-height: 40px;
          color: rgba(0, 0, 0, 0.2); }
        body .navbar .navbar-nav.side-nav > li.navigation .menu > li > a:after {
          content: "";
          display: inline-block;
          width: 3px;
          height: 39px;
          background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
          background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          transition: all 0.2s linear; }
        body .navbar .navbar-nav.side-nav > li.navigation .menu > li > a:hover {
          text-decoration: none;
          color: white; }
          body .navbar .navbar-nav.side-nav > li.navigation .menu > li > a:hover:after {
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
            background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
            width: 100%; }
        body .navbar .navbar-nav.side-nav > li.navigation .menu > li > a:focus {
          text-decoration: none; }
        body .navbar .navbar-nav.side-nav > li.navigation .menu > li > a .badge {
          position: absolute;
          top: 8px;
          left: 23px;
          z-index: 9;
          font-size: 9px;
          padding: 2px 4px; }
        body .navbar .navbar-nav.side-nav > li.navigation .menu > li > a .label {
          position: absolute;
          top: 12px;
          right: 10px;
          z-index: 9;
          font-size: 10px;
          padding: 3px 5px 2px 5px; }
      body .navbar .navbar-nav.side-nav > li.navigation .menu > li.active > a,
      body .navbar .navbar-nav.side-nav > li.navigation .menu > li.active > a:hover,
      body .navbar .navbar-nav.side-nav > li.navigation .menu > li.active > a:focus {
        text-decoration: none;
        color: white;
        text-shadow: none; }
        body .navbar .navbar-nav.side-nav > li.navigation .menu > li.active > a:after,
        body .navbar .navbar-nav.side-nav > li.navigation .menu > li.active > a:hover:after,
        body .navbar .navbar-nav.side-nav > li.navigation .menu > li.active > a:focus:after {
          background: rgba(0, 0, 0, 0.2) !important;
          width: 100%; }
      body .navbar .navbar-nav.side-nav > li.navigation .menu > li.dropdown > a .label {
        right: 30px; }
      body .navbar .navbar-nav.side-nav > li.navigation .menu > li.dropdown.open > a {
        text-decoration: none;
        color: white;
        background-color: transparent; }
        body .navbar .navbar-nav.side-nav > li.navigation .menu > li.dropdown.open > a b.dropdown-plus {
          color: white; }
          body .navbar .navbar-nav.side-nav > li.navigation .menu > li.dropdown.open > a b.dropdown-plus:before {
            content: "\f068"; }
        body .navbar .navbar-nav.side-nav > li.navigation .menu > li.dropdown.open > a:after {
          background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
          background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
          width: 100%; }
      body .navbar .navbar-nav.side-nav > li.navigation .menu > li.dropdown.open > ul.dropdown-menu {
        float: none;
        position: relative;
        min-width: 250px;
        margin: 0;
        padding: 0;
        border: none;
        background: transparent;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-animation-duration: 0.3s;
        -moz-animation-duration: 0.3s;
        animation-duration: 0.3s;
        z-index: 1; }
        body .navbar .navbar-nav.side-nav > li.navigation .menu > li.dropdown.open > ul.dropdown-menu > li a {
          display: inline-block;
          line-height: 30px;
          padding: 0 30px;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          transition: all 0.2s linear;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.9);
          width: 100%;
          -webkit-transition: none;
          -moz-transition: none;
          transition: none;
          font-weight: 500;
          position: relative; }
          body .navbar .navbar-nav.side-nav > li.navigation .menu > li.dropdown.open > ul.dropdown-menu > li a > i {
            margin-right: 10px; }
          body .navbar .navbar-nav.side-nav > li.navigation .menu > li.dropdown.open > ul.dropdown-menu > li a:hover {
            background: transparent;
            color: #418bca; }
          body .navbar .navbar-nav.side-nav > li.navigation .menu > li.dropdown.open > ul.dropdown-menu > li a .badge {
            position: absolute;
            top: 9px;
            right: 12px;
            z-index: 9;
            font-size: 9px;
            padding: 2px 4px; }
          body .navbar .navbar-nav.side-nav > li.navigation .menu > li.dropdown.open > ul.dropdown-menu > li a .label {
            position: absolute;
            top: 8px;
            right: 12px;
            z-index: 9;
            font-size: 10px;
            padding: 3px 5px 2px 5px; }
        body .navbar .navbar-nav.side-nav > li.navigation .menu > li.dropdown.open > ul.dropdown-menu > li.active a {
          background: transparent;
          color: #418bca; }
    body .navbar .navbar-nav.side-nav > li.summary .media {
      padding: 0 15px; }
      body .navbar .navbar-nav.side-nav > li.summary .media .media-body {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase; }
        body .navbar .navbar-nav.side-nav > li.summary .media .media-body h3 {
          font-family: "Roboto", "Arial", sans-serif;
          font-size: 22px;
          color: rgba(255, 255, 255, 0.7);
          font-weight: 400; }
    body .navbar .navbar-nav.side-nav > li.settings .form-group {
      padding: 15px 0 10px 0; }
      body .navbar .navbar-nav.side-nav > li.settings .form-group > label {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 400; }
      body .navbar .navbar-nav.side-nav > li.settings .form-group .onoffswitch {
        right: -10px; }
        body .navbar .navbar-nav.side-nav > li.settings .form-group .onoffswitch .onoffswitch-label {
          filter: alpha(opacity=40);
          opacity: 0.4;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          transition: all 0.2s linear; }
      body .navbar .navbar-nav.side-nav > li.settings .form-group .onoffswitch-checkbox:checked + .onoffswitch-label {
        filter: alpha(opacity=100);
        opacity: 1; }
  body .navbar .navbar-nav.side-nav.collapsed {
    width: 40px; }
    body .navbar .navbar-nav.side-nav.collapsed.open {
      width: 250px; }
    body .navbar .navbar-nav.side-nav.collapsed > li.settings, body .navbar .navbar-nav.side-nav.collapsed > li.summary {
      display: none; }
    body .navbar .navbar-nav.side-nav.collapsed > li.navigation .sidebar-toggle {
      display: none; }
    body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li {
      max-height: 40px;
      max-width: 40px; }
      body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li > a {
        width: 40px;
        white-space: nowrap;
        overflow: hidden;
        padding: 0 12px;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        position: relative; }
        body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li > a i {
          margin-right: 10px; }
        body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li > a b {
          display: none; }
        body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li > a .badge {
          left: 20px; }
        body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li > a .label {
          display: none;
          right: 10px !important; }
      body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered {
        max-width: 100%; }
        body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered > a {
          width: 100%; }
          body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered > a:after {
            width: 100%;
            background: #1d2833; }
          body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered > a .label {
            display: block; }
        body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered.active > a {
          text-decoration: none;
          color: white;
          text-shadow: none; }
          body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered.active > a:after {
            background: #1d2833 !important;
            width: 100%; }
        body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered .dropdown-menu {
          display: block;
          left: 40px;
          top: 37px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border-radius: 0;
          border: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          width: 210px;
          background: #263543; }
          body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered .dropdown-menu > li {
            position: relative; }
            body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered .dropdown-menu > li > a {
              color: rgba(255, 255, 255, 0.8);
              font-size: 12px;
              line-height: 24px;
              position: relative; }
              body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered .dropdown-menu > li > a i {
                font-size: 14px;
                margin-right: 5px; }
              body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered .dropdown-menu > li > a:hover {
                background-color: transparent;
                color: #418bca; }
              body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered .dropdown-menu > li > a .badge {
                position: absolute;
                top: 9px;
                right: 12px;
                z-index: 9;
                font-size: 9px;
                padding: 2px 4px; }
              body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered .dropdown-menu > li > a .label {
                position: absolute;
                top: 8px;
                right: 12px;
                z-index: 9;
                font-size: 10px;
                padding: 3px 5px 2px 5px; }
            body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered .dropdown-menu > li.active > a,
            body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered .dropdown-menu > li.active > a:hover,
            body .navbar .navbar-nav.side-nav.collapsed > li.navigation > ul > li.hovered .dropdown-menu > li.active > a:focus {
              background-color: transparent;
              color: #418bca; }