
/****************************************/
/************* SOCIAL FEED **************/
/****************************************/
.social-feed {
  padding: 20px 0; }
  .social-feed img {
    width: 80px; }
  .social-feed .media-body .media-heading {
    margin-top: 20px;
    margin-bottom: 0; }
  .social-feed .media-body small a {
    color: rgba(255, 255, 255, 0.5); }
    .social-feed .media-body small a:hover {
      color: white;
      text-decoration: none; }
  .social-feed > li {
    width: 32%;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px; }
    .social-feed > li h4 {
      font-family: "Roboto", "Arial", sans-serif;
      font-weight: 300;
      color: white;
      margin: 0; }