

/**********************************/
/************* TABLES *************/
/**********************************/
body #content .tile table,
body #content .inbox table {
  margin-bottom: 0; }
  body #content .tile table > thead > tr td .checkbox,
  body #content .tile table > thead > tr th .checkbox,
  body #content .tile table > tbody > tr td .checkbox,
  body #content .tile table > tbody > tr th .checkbox,
  body #content .tile table > tfoot > tr td .checkbox,
  body #content .tile table > tfoot > tr th .checkbox,
  body #content .inbox table > thead > tr td .checkbox,
  body #content .inbox table > thead > tr th .checkbox,
  body #content .inbox table > tbody > tr td .checkbox,
  body #content .inbox table > tbody > tr th .checkbox,
  body #content .inbox table > tfoot > tr td .checkbox,
  body #content .inbox table > tfoot > tr th .checkbox {
    padding: 0;
    margin: 0;
    min-height: 10px; }
    body #content .tile table > thead > tr td .checkbox label:before,
    body #content .tile table > thead > tr th .checkbox label:before,
    body #content .tile table > tbody > tr td .checkbox label:before,
    body #content .tile table > tbody > tr th .checkbox label:before,
    body #content .tile table > tfoot > tr td .checkbox label:before,
    body #content .tile table > tfoot > tr th .checkbox label:before,
    body #content .inbox table > thead > tr td .checkbox label:before,
    body #content .inbox table > thead > tr th .checkbox label:before,
    body #content .inbox table > tbody > tr td .checkbox label:before,
    body #content .inbox table > tbody > tr th .checkbox label:before,
    body #content .inbox table > tfoot > tr td .checkbox label:before,
    body #content .inbox table > tfoot > tr th .checkbox label:before {
      top: -13px;
      width: 15px;
      height: 15px;
      left: 8px; }
    body #content .tile table > thead > tr td .checkbox label:after,
    body #content .tile table > thead > tr th .checkbox label:after,
    body #content .tile table > tbody > tr td .checkbox label:after,
    body #content .tile table > tbody > tr th .checkbox label:after,
    body #content .tile table > tfoot > tr td .checkbox label:after,
    body #content .tile table > tfoot > tr th .checkbox label:after,
    body #content .inbox table > thead > tr td .checkbox label:after,
    body #content .inbox table > thead > tr th .checkbox label:after,
    body #content .inbox table > tbody > tr td .checkbox label:after,
    body #content .inbox table > tbody > tr th .checkbox label:after,
    body #content .inbox table > tfoot > tr td .checkbox label:after,
    body #content .inbox table > tfoot > tr th .checkbox label:after {
      top: -17px;
      width: 15px;
      height: 15px;
      left: 10px;
      font-size: 12px; }
  body #content .tile table > thead > tr td.actions a,
  body #content .tile table > thead > tr th.actions a,
  body #content .tile table > tbody > tr td.actions a,
  body #content .tile table > tbody > tr th.actions a,
  body #content .tile table > tfoot > tr td.actions a,
  body #content .tile table > tfoot > tr th.actions a,
  body #content .inbox table > thead > tr td.actions a,
  body #content .inbox table > thead > tr th.actions a,
  body #content .inbox table > tbody > tr td.actions a,
  body #content .inbox table > tbody > tr th.actions a,
  body #content .inbox table > tfoot > tr td.actions a,
  body #content .inbox table > tfoot > tr th.actions a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #717171;
    text-transform: uppercase;
    padding: 5px 10px;
    margin-right: 10px; }
    body #content .tile table > thead > tr td.actions a:hover,
    body #content .tile table > thead > tr th.actions a:hover,
    body #content .tile table > tbody > tr td.actions a:hover,
    body #content .tile table > tbody > tr th.actions a:hover,
    body #content .tile table > tfoot > tr td.actions a:hover,
    body #content .tile table > tfoot > tr th.actions a:hover,
    body #content .inbox table > thead > tr td.actions a:hover,
    body #content .inbox table > thead > tr th.actions a:hover,
    body #content .inbox table > tbody > tr td.actions a:hover,
    body #content .inbox table > tbody > tr th.actions a:hover,
    body #content .inbox table > tfoot > tr td.actions a:hover,
    body #content .inbox table > tfoot > tr th.actions a:hover {
      text-decoration: none; }
    body #content .tile table > thead > tr td.actions a.delete:hover,
    body #content .tile table > thead > tr th.actions a.delete:hover,
    body #content .tile table > tbody > tr td.actions a.delete:hover,
    body #content .tile table > tbody > tr th.actions a.delete:hover,
    body #content .tile table > tfoot > tr td.actions a.delete:hover,
    body #content .tile table > tfoot > tr th.actions a.delete:hover,
    body #content .inbox table > thead > tr td.actions a.delete:hover,
    body #content .inbox table > thead > tr th.actions a.delete:hover,
    body #content .inbox table > tbody > tr td.actions a.delete:hover,
    body #content .inbox table > tbody > tr th.actions a.delete:hover,
    body #content .inbox table > tfoot > tr td.actions a.delete:hover,
    body #content .inbox table > tfoot > tr th.actions a.delete:hover {
      color: #ff4a43; }
    body #content .tile table > thead > tr td.actions a.edit:hover,
    body #content .tile table > thead > tr th.actions a.edit:hover,
    body #content .tile table > tbody > tr td.actions a.edit:hover,
    body #content .tile table > tbody > tr th.actions a.edit:hover,
    body #content .tile table > tfoot > tr td.actions a.edit:hover,
    body #content .tile table > tfoot > tr th.actions a.edit:hover,
    body #content .inbox table > thead > tr td.actions a.edit:hover,
    body #content .inbox table > thead > tr th.actions a.edit:hover,
    body #content .inbox table > tbody > tr td.actions a.edit:hover,
    body #content .inbox table > tbody > tr th.actions a.edit:hover,
    body #content .inbox table > tfoot > tr td.actions a.edit:hover,
    body #content .inbox table > tfoot > tr th.actions a.edit:hover {
      color: #22beef; }
    body #content .tile table > thead > tr td.actions a.save:hover,
    body #content .tile table > thead > tr th.actions a.save:hover,
    body #content .tile table > tbody > tr td.actions a.save:hover,
    body #content .tile table > tbody > tr th.actions a.save:hover,
    body #content .tile table > tfoot > tr td.actions a.save:hover,
    body #content .tile table > tfoot > tr th.actions a.save:hover,
    body #content .inbox table > thead > tr td.actions a.save:hover,
    body #content .inbox table > thead > tr th.actions a.save:hover,
    body #content .inbox table > tbody > tr td.actions a.save:hover,
    body #content .inbox table > tbody > tr th.actions a.save:hover,
    body #content .inbox table > tfoot > tr td.actions a.save:hover,
    body #content .inbox table > tfoot > tr th.actions a.save:hover {
      color: #a2d200; }
  body #content .tile table > thead > tr td.control,
  body #content .tile table > thead > tr th.control,
  body #content .tile table > tbody > tr td.control,
  body #content .tile table > tbody > tr th.control,
  body #content .tile table > tfoot > tr td.control,
  body #content .tile table > tfoot > tr th.control,
  body #content .inbox table > thead > tr td.control,
  body #content .inbox table > thead > tr th.control,
  body #content .inbox table > tbody > tr td.control,
  body #content .inbox table > tbody > tr th.control,
  body #content .inbox table > tfoot > tr td.control,
  body #content .inbox table > tfoot > tr th.control {
    cursor: pointer; }
    body #content .tile table > thead > tr td.control a,
    body #content .tile table > thead > tr th.control a,
    body #content .tile table > tbody > tr td.control a,
    body #content .tile table > tbody > tr th.control a,
    body #content .tile table > tfoot > tr td.control a,
    body #content .tile table > tfoot > tr th.control a,
    body #content .inbox table > thead > tr td.control a,
    body #content .inbox table > thead > tr th.control a,
    body #content .inbox table > tbody > tr td.control a,
    body #content .inbox table > tbody > tr th.control a,
    body #content .inbox table > tfoot > tr td.control a,
    body #content .inbox table > tfoot > tr th.control a {
      font-size: 14px;
      line-height: 14px;
      color: rgba(0, 0, 0, 0.2); }
    body #content .tile table > thead > tr td.control:hover a,
    body #content .tile table > thead > tr th.control:hover a,
    body #content .tile table > tbody > tr td.control:hover a,
    body #content .tile table > tbody > tr th.control:hover a,
    body #content .tile table > tfoot > tr td.control:hover a,
    body #content .tile table > tfoot > tr th.control:hover a,
    body #content .inbox table > thead > tr td.control:hover a,
    body #content .inbox table > thead > tr th.control:hover a,
    body #content .inbox table > tbody > tr td.control:hover a,
    body #content .inbox table > tbody > tr th.control:hover a,
    body #content .inbox table > tfoot > tr td.control:hover a,
    body #content .inbox table > tfoot > tr th.control:hover a {
      color: rgba(0, 0, 0, 0.6); }
  body #content .tile table.table-sortable > thead,
  body #content .inbox table.table-sortable > thead {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    body #content .tile table.table-sortable > thead > tr > th,
    body #content .tile table.table-sortable > thead > tr > td,
    body #content .inbox table.table-sortable > thead > tr > th,
    body #content .inbox table.table-sortable > thead > tr > td {
      position: relative; }
      body #content .tile table.table-sortable > thead > tr > th.sortable,
      body #content .tile table.table-sortable > thead > tr > td.sortable,
      body #content .inbox table.table-sortable > thead > tr > th.sortable,
      body #content .inbox table.table-sortable > thead > tr > td.sortable {
        cursor: pointer;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        body #content .tile table.table-sortable > thead > tr > th.sortable:hover,
        body #content .tile table.table-sortable > thead > tr > td.sortable:hover,
        body #content .inbox table.table-sortable > thead > tr > th.sortable:hover,
        body #content .inbox table.table-sortable > thead > tr > td.sortable:hover {
          background-color: rgba(0, 0, 0, 0.1); }
        body #content .tile table.table-sortable > thead > tr > th.sortable:before,
        body #content .tile table.table-sortable > thead > tr > td.sortable:before,
        body #content .inbox table.table-sortable > thead > tr > th.sortable:before,
        body #content .inbox table.table-sortable > thead > tr > td.sortable:before {
          content: "\f0dc";
          font-family: "FontAwesome";
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 14px;
          float: right;
          margin-top: 3px; }
        body #content .tile table.table-sortable > thead > tr > th.sortable.sort-asc:before,
        body #content .tile table.table-sortable > thead > tr > td.sortable.sort-asc:before,
        body #content .inbox table.table-sortable > thead > tr > th.sortable.sort-asc:before,
        body #content .inbox table.table-sortable > thead > tr > td.sortable.sort-asc:before {
          content: "\f0dd";
          margin-top: 0; }
        body #content .tile table.table-sortable > thead > tr > th.sortable.sort-desc:before,
        body #content .tile table.table-sortable > thead > tr > td.sortable.sort-desc:before,
        body #content .inbox table.table-sortable > thead > tr > th.sortable.sort-desc:before,
        body #content .inbox table.table-sortable > thead > tr > td.sortable.sort-desc:before {
          content: "\f0de";
          margin-top: 5px; }
        body #content .tile table.table-sortable > thead > tr > th.sortable.sort-numeric.sort-asc:before,
        body #content .tile table.table-sortable > thead > tr > td.sortable.sort-numeric.sort-asc:before,
        body #content .inbox table.table-sortable > thead > tr > th.sortable.sort-numeric.sort-asc:before,
        body #content .inbox table.table-sortable > thead > tr > td.sortable.sort-numeric.sort-asc:before {
          content: "\f162";
          margin-top: 3px; }
        body #content .tile table.table-sortable > thead > tr > th.sortable.sort-numeric.sort-desc:before,
        body #content .tile table.table-sortable > thead > tr > td.sortable.sort-numeric.sort-desc:before,
        body #content .inbox table.table-sortable > thead > tr > th.sortable.sort-numeric.sort-desc:before,
        body #content .inbox table.table-sortable > thead > tr > td.sortable.sort-numeric.sort-desc:before {
          content: "\f163";
          margin-top: 3px; }
        body #content .tile table.table-sortable > thead > tr > th.sortable.sort-alpha.sort-asc:before,
        body #content .tile table.table-sortable > thead > tr > td.sortable.sort-alpha.sort-asc:before,
        body #content .inbox table.table-sortable > thead > tr > th.sortable.sort-alpha.sort-asc:before,
        body #content .inbox table.table-sortable > thead > tr > td.sortable.sort-alpha.sort-asc:before {
          content: "\f15d";
          margin-top: 3px; }
        body #content .tile table.table-sortable > thead > tr > th.sortable.sort-alpha.sort-desc:before,
        body #content .tile table.table-sortable > thead > tr > td.sortable.sort-alpha.sort-desc:before,
        body #content .inbox table.table-sortable > thead > tr > th.sortable.sort-alpha.sort-desc:before,
        body #content .inbox table.table-sortable > thead > tr > td.sortable.sort-alpha.sort-desc:before {
          content: "\f15e";
          margin-top: 3px; }
        body #content .tile table.table-sortable > thead > tr > th.sortable.sort-amount.sort-asc:before,
        body #content .tile table.table-sortable > thead > tr > td.sortable.sort-amount.sort-asc:before,
        body #content .inbox table.table-sortable > thead > tr > th.sortable.sort-amount.sort-asc:before,
        body #content .inbox table.table-sortable > thead > tr > td.sortable.sort-amount.sort-asc:before {
          content: "\f160";
          margin-top: 3px; }
        body #content .tile table.table-sortable > thead > tr > th.sortable.sort-amount.sort-desc:before,
        body #content .tile table.table-sortable > thead > tr > td.sortable.sort-amount.sort-desc:before,
        body #content .inbox table.table-sortable > thead > tr > th.sortable.sort-amount.sort-desc:before,
        body #content .inbox table.table-sortable > thead > tr > td.sortable.sort-amount.sort-desc:before {
          content: "\f161";
          margin-top: 3px; }
      body #content .tile table.table-sortable > thead > tr > th.sort-asc, body #content .tile table.table-sortable > thead > tr > th.sort-desc, body #content .tile table.table-sortable > thead > tr > th.sort-asc:hover, body #content .tile table.table-sortable > thead > tr > th.sort-desc:hover,
      body #content .tile table.table-sortable > thead > tr > td.sort-asc,
      body #content .tile table.table-sortable > thead > tr > td.sort-desc,
      body #content .tile table.table-sortable > thead > tr > td.sort-asc:hover,
      body #content .tile table.table-sortable > thead > tr > td.sort-desc:hover,
      body #content .inbox table.table-sortable > thead > tr > th.sort-asc,
      body #content .inbox table.table-sortable > thead > tr > th.sort-desc,
      body #content .inbox table.table-sortable > thead > tr > th.sort-asc:hover,
      body #content .inbox table.table-sortable > thead > tr > th.sort-desc:hover,
      body #content .inbox table.table-sortable > thead > tr > td.sort-asc,
      body #content .inbox table.table-sortable > thead > tr > td.sort-desc,
      body #content .inbox table.table-sortable > thead > tr > td.sort-asc:hover,
      body #content .inbox table.table-sortable > thead > tr > td.sort-desc:hover {
        background-color: rgba(0, 0, 0, 0.1); }
  body #content .tile table.table-custom > thead > tr > th,
  body #content .tile table.table-custom > thead > tr > td,
  body #content .inbox table.table-custom > thead > tr > th,
  body #content .inbox table.table-custom > thead > tr > td {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 0;
    color: rgba(113, 113, 113, 0.7);
    position: relative;
    padding-left: 0;
    padding-bottom: 0;
    min-width: 35px;
    line-height: 26px;
    -webkit-font-smoothing: antialiased; }
    body #content .tile table.table-custom > thead > tr > th:last-child,
    body #content .tile table.table-custom > thead > tr > td:last-child,
    body #content .inbox table.table-custom > thead > tr > th:last-child,
    body #content .inbox table.table-custom > thead > tr > td:last-child {
      padding-right: 0; }
    body #content .tile table.table-custom > thead > tr > th:after,
    body #content .tile table.table-custom > thead > tr > td:after,
    body #content .inbox table.table-custom > thead > tr > th:after,
    body #content .inbox table.table-custom > thead > tr > td:after {
      content: "";
      display: block;
      height: 4px;
      width: 100%;
      background-color: rgba(113, 113, 113, 0.3);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    body #content .tile table.table-custom > thead > tr > th.sortable:hover, body #content .tile table.table-custom > thead > tr > th.sorting:hover,
    body #content .tile table.table-custom > thead > tr > td.sortable:hover,
    body #content .tile table.table-custom > thead > tr > td.sorting:hover,
    body #content .inbox table.table-custom > thead > tr > th.sortable:hover,
    body #content .inbox table.table-custom > thead > tr > th.sorting:hover,
    body #content .inbox table.table-custom > thead > tr > td.sortable:hover,
    body #content .inbox table.table-custom > thead > tr > td.sorting:hover {
      color: #717171;
      background-color: transparent; }
      body #content .tile table.table-custom > thead > tr > th.sortable:hover:after, body #content .tile table.table-custom > thead > tr > th.sorting:hover:after,
      body #content .tile table.table-custom > thead > tr > td.sortable:hover:after,
      body #content .tile table.table-custom > thead > tr > td.sorting:hover:after,
      body #content .inbox table.table-custom > thead > tr > th.sortable:hover:after,
      body #content .inbox table.table-custom > thead > tr > th.sorting:hover:after,
      body #content .inbox table.table-custom > thead > tr > td.sortable:hover:after,
      body #content .inbox table.table-custom > thead > tr > td.sorting:hover:after {
        background-color: rgba(113, 113, 113, 0.75); }
    body #content .tile table.table-custom > thead > tr > th.sortable:before, body #content .tile table.table-custom > thead > tr > th.sorting:before,
    body #content .tile table.table-custom > thead > tr > td.sortable:before,
    body #content .tile table.table-custom > thead > tr > td.sorting:before,
    body #content .inbox table.table-custom > thead > tr > th.sortable:before,
    body #content .inbox table.table-custom > thead > tr > th.sorting:before,
    body #content .inbox table.table-custom > thead > tr > td.sortable:before,
    body #content .inbox table.table-custom > thead > tr > td.sorting:before {
      font-size: 11px;
      margin-top: 9px; }
    body #content .tile table.table-custom > thead > tr > th.sortable.sort-asc:before, body #content .tile table.table-custom > thead > tr > th.sorting.sort-asc:before,
    body #content .tile table.table-custom > thead > tr > td.sortable.sort-asc:before,
    body #content .tile table.table-custom > thead > tr > td.sorting.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > th.sortable.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > th.sorting.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > td.sortable.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > td.sorting.sort-asc:before {
      margin-top: 6px; }
    body #content .tile table.table-custom > thead > tr > th.sortable.sort-desc:before, body #content .tile table.table-custom > thead > tr > th.sorting.sort-desc:before,
    body #content .tile table.table-custom > thead > tr > td.sortable.sort-desc:before,
    body #content .tile table.table-custom > thead > tr > td.sorting.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > th.sortable.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > th.sorting.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > td.sortable.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > td.sorting.sort-desc:before {
      margin-top: 10px; }
    body #content .tile table.table-custom > thead > tr > th.sortable.sort-numeric.sort-asc:before, body #content .tile table.table-custom > thead > tr > th.sorting.sort-numeric.sort-asc:before,
    body #content .tile table.table-custom > thead > tr > td.sortable.sort-numeric.sort-asc:before,
    body #content .tile table.table-custom > thead > tr > td.sorting.sort-numeric.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > th.sortable.sort-numeric.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > th.sorting.sort-numeric.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > td.sortable.sort-numeric.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > td.sorting.sort-numeric.sort-asc:before {
      margin-top: 9px; }
    body #content .tile table.table-custom > thead > tr > th.sortable.sort-numeric.sort-desc:before, body #content .tile table.table-custom > thead > tr > th.sorting.sort-numeric.sort-desc:before,
    body #content .tile table.table-custom > thead > tr > td.sortable.sort-numeric.sort-desc:before,
    body #content .tile table.table-custom > thead > tr > td.sorting.sort-numeric.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > th.sortable.sort-numeric.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > th.sorting.sort-numeric.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > td.sortable.sort-numeric.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > td.sorting.sort-numeric.sort-desc:before {
      margin-top: 9px; }
    body #content .tile table.table-custom > thead > tr > th.sortable.sort-alpha.sort-asc:before, body #content .tile table.table-custom > thead > tr > th.sorting.sort-alpha.sort-asc:before,
    body #content .tile table.table-custom > thead > tr > td.sortable.sort-alpha.sort-asc:before,
    body #content .tile table.table-custom > thead > tr > td.sorting.sort-alpha.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > th.sortable.sort-alpha.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > th.sorting.sort-alpha.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > td.sortable.sort-alpha.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > td.sorting.sort-alpha.sort-asc:before {
      margin-top: 9px; }
    body #content .tile table.table-custom > thead > tr > th.sortable.sort-alpha.sort-desc:before, body #content .tile table.table-custom > thead > tr > th.sorting.sort-alpha.sort-desc:before,
    body #content .tile table.table-custom > thead > tr > td.sortable.sort-alpha.sort-desc:before,
    body #content .tile table.table-custom > thead > tr > td.sorting.sort-alpha.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > th.sortable.sort-alpha.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > th.sorting.sort-alpha.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > td.sortable.sort-alpha.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > td.sorting.sort-alpha.sort-desc:before {
      margin-top: 9px; }
    body #content .tile table.table-custom > thead > tr > th.sortable.sort-amount.sort-asc:before, body #content .tile table.table-custom > thead > tr > th.sorting.sort-amount.sort-asc:before,
    body #content .tile table.table-custom > thead > tr > td.sortable.sort-amount.sort-asc:before,
    body #content .tile table.table-custom > thead > tr > td.sorting.sort-amount.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > th.sortable.sort-amount.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > th.sorting.sort-amount.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > td.sortable.sort-amount.sort-asc:before,
    body #content .inbox table.table-custom > thead > tr > td.sorting.sort-amount.sort-asc:before {
      margin-top: 9px; }
    body #content .tile table.table-custom > thead > tr > th.sortable.sort-amount.sort-desc:before, body #content .tile table.table-custom > thead > tr > th.sorting.sort-amount.sort-desc:before,
    body #content .tile table.table-custom > thead > tr > td.sortable.sort-amount.sort-desc:before,
    body #content .tile table.table-custom > thead > tr > td.sorting.sort-amount.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > th.sortable.sort-amount.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > th.sorting.sort-amount.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > td.sortable.sort-amount.sort-desc:before,
    body #content .inbox table.table-custom > thead > tr > td.sorting.sort-amount.sort-desc:before {
      margin-top: 9px; }
    body #content .tile table.table-custom > thead > tr > th.sort-asc, body #content .tile table.table-custom > thead > tr > th.sort-desc, body #content .tile table.table-custom > thead > tr > th.sort-asc:hover, body #content .tile table.table-custom > thead > tr > th.sort-desc:hover, body #content .tile table.table-custom > thead > tr > th.sorting_asc, body #content .tile table.table-custom > thead > tr > th.sorting_desc, body #content .tile table.table-custom > thead > tr > th.sorting_asc:hover, body #content .tile table.table-custom > thead > tr > th.sorting_desc:hover,
    body #content .tile table.table-custom > thead > tr > td.sort-asc,
    body #content .tile table.table-custom > thead > tr > td.sort-desc,
    body #content .tile table.table-custom > thead > tr > td.sort-asc:hover,
    body #content .tile table.table-custom > thead > tr > td.sort-desc:hover,
    body #content .tile table.table-custom > thead > tr > td.sorting_asc,
    body #content .tile table.table-custom > thead > tr > td.sorting_desc,
    body #content .tile table.table-custom > thead > tr > td.sorting_asc:hover,
    body #content .tile table.table-custom > thead > tr > td.sorting_desc:hover,
    body #content .inbox table.table-custom > thead > tr > th.sort-asc,
    body #content .inbox table.table-custom > thead > tr > th.sort-desc,
    body #content .inbox table.table-custom > thead > tr > th.sort-asc:hover,
    body #content .inbox table.table-custom > thead > tr > th.sort-desc:hover,
    body #content .inbox table.table-custom > thead > tr > th.sorting_asc,
    body #content .inbox table.table-custom > thead > tr > th.sorting_desc,
    body #content .inbox table.table-custom > thead > tr > th.sorting_asc:hover,
    body #content .inbox table.table-custom > thead > tr > th.sorting_desc:hover,
    body #content .inbox table.table-custom > thead > tr > td.sort-asc,
    body #content .inbox table.table-custom > thead > tr > td.sort-desc,
    body #content .inbox table.table-custom > thead > tr > td.sort-asc:hover,
    body #content .inbox table.table-custom > thead > tr > td.sort-desc:hover,
    body #content .inbox table.table-custom > thead > tr > td.sorting_asc,
    body #content .inbox table.table-custom > thead > tr > td.sorting_desc,
    body #content .inbox table.table-custom > thead > tr > td.sorting_asc:hover,
    body #content .inbox table.table-custom > thead > tr > td.sorting_desc:hover {
      color: #717171;
      background-color: transparent; }
      body #content .tile table.table-custom > thead > tr > th.sort-asc:after, body #content .tile table.table-custom > thead > tr > th.sort-desc:after, body #content .tile table.table-custom > thead > tr > th.sort-asc:hover:after, body #content .tile table.table-custom > thead > tr > th.sort-desc:hover:after, body #content .tile table.table-custom > thead > tr > th.sorting_asc:after, body #content .tile table.table-custom > thead > tr > th.sorting_desc:after, body #content .tile table.table-custom > thead > tr > th.sorting_asc:hover:after, body #content .tile table.table-custom > thead > tr > th.sorting_desc:hover:after,
      body #content .tile table.table-custom > thead > tr > td.sort-asc:after,
      body #content .tile table.table-custom > thead > tr > td.sort-desc:after,
      body #content .tile table.table-custom > thead > tr > td.sort-asc:hover:after,
      body #content .tile table.table-custom > thead > tr > td.sort-desc:hover:after,
      body #content .tile table.table-custom > thead > tr > td.sorting_asc:after,
      body #content .tile table.table-custom > thead > tr > td.sorting_desc:after,
      body #content .tile table.table-custom > thead > tr > td.sorting_asc:hover:after,
      body #content .tile table.table-custom > thead > tr > td.sorting_desc:hover:after,
      body #content .inbox table.table-custom > thead > tr > th.sort-asc:after,
      body #content .inbox table.table-custom > thead > tr > th.sort-desc:after,
      body #content .inbox table.table-custom > thead > tr > th.sort-asc:hover:after,
      body #content .inbox table.table-custom > thead > tr > th.sort-desc:hover:after,
      body #content .inbox table.table-custom > thead > tr > th.sorting_asc:after,
      body #content .inbox table.table-custom > thead > tr > th.sorting_desc:after,
      body #content .inbox table.table-custom > thead > tr > th.sorting_asc:hover:after,
      body #content .inbox table.table-custom > thead > tr > th.sorting_desc:hover:after,
      body #content .inbox table.table-custom > thead > tr > td.sort-asc:after,
      body #content .inbox table.table-custom > thead > tr > td.sort-desc:after,
      body #content .inbox table.table-custom > thead > tr > td.sort-asc:hover:after,
      body #content .inbox table.table-custom > thead > tr > td.sort-desc:hover:after,
      body #content .inbox table.table-custom > thead > tr > td.sorting_asc:after,
      body #content .inbox table.table-custom > thead > tr > td.sorting_desc:after,
      body #content .inbox table.table-custom > thead > tr > td.sorting_asc:hover:after,
      body #content .inbox table.table-custom > thead > tr > td.sorting_desc:hover:after {
        background-color: #717171; }
  body #content .tile table.table-custom > tbody > tr > th,
  body #content .tile table.table-custom > tbody > tr > td,
  body #content .inbox table.table-custom > tbody > tr > th,
  body #content .inbox table.table-custom > tbody > tr > td {
    font-size: 12px;
    padding-left: 0;
    line-height: 18px;
    -webkit-font-smoothing: antialiased; }
    body #content .tile table.table-custom > tbody > tr > th.priority,
    body #content .tile table.table-custom > tbody > tr > td.priority,
    body #content .inbox table.table-custom > tbody > tr > th.priority,
    body #content .inbox table.table-custom > tbody > tr > td.priority {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 700;
      line-height: 20px; }
    body #content .tile table.table-custom > tbody > tr > th:last-child,
    body #content .tile table.table-custom > tbody > tr > td:last-child,
    body #content .inbox table.table-custom > tbody > tr > th:last-child,
    body #content .inbox table.table-custom > tbody > tr > td:last-child {
      padding-right: 0; }
    body #content .tile table.table-custom > tbody > tr > th.progress-cell,
    body #content .tile table.table-custom > tbody > tr > td.progress-cell,
    body #content .inbox table.table-custom > tbody > tr > th.progress-cell,
    body #content .inbox table.table-custom > tbody > tr > td.progress-cell {
      width: 230px;
      min-width: 130px; }
      body #content .tile table.table-custom > tbody > tr > th.progress-cell .progress-info .percent,
      body #content .tile table.table-custom > tbody > tr > td.progress-cell .progress-info .percent,
      body #content .inbox table.table-custom > tbody > tr > th.progress-cell .progress-info .percent,
      body #content .inbox table.table-custom > tbody > tr > td.progress-cell .progress-info .percent {
        font-size: 11px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400; }
      body #content .tile table.table-custom > tbody > tr > th.progress-cell .progress,
      body #content .tile table.table-custom > tbody > tr > td.progress-cell .progress,
      body #content .inbox table.table-custom > tbody > tr > th.progress-cell .progress,
      body #content .inbox table.table-custom > tbody > tr > td.progress-cell .progress {
        margin: 0;
        margin-top: 7px; }
  body #content .tile table.table-custom > tbody > tr:first-child > th,
  body #content .tile table.table-custom > tbody > tr:first-child > td,
  body #content .inbox table.table-custom > tbody > tr:first-child > th,
  body #content .inbox table.table-custom > tbody > tr:first-child > td {
    border-top: 0; }
body #content .table-options select + .chosen-container.chosen-container-single .chosen-single {
  padding: 1px 11px !important;
  font-size: 11px;
  min-height: 25px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }
  body #content .table-options select + .chosen-container.chosen-container-single .chosen-single span {
    line-height: 24px; }
  body #content .table-options select + .chosen-container.chosen-container-single .chosen-single div {
    top: 1px; }
body #content .table-options select + .chosen-container .chosen-results {
  font-size: 11px;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
body #content .table-options .input-group-btn .btn {
  font-size: 11px;
  min-height: 25px;
  padding: 0 10px; }
body #content .table-options.btn-group-xs .btn {
  font-size: 11px;
  min-height: 25px; }
body #content .table-options.paging-info {
  color: #717171;
  line-height: 26px; }