
/************************************/
/************* TIMELINE *************/
/************************************/
.timeline-heading {
  font-size: 13px;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 8px 30px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.timeline {
  padding: 25px 1px 5px 1px;
  margin: 0 auto;
  overflow: hidden;
  list-style: none;
  position: relative; }
  .timeline:after {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    left: 50%;
    margin-left: -3px;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 6px;
    z-index: 1; }
  .timeline > li {
    position: relative;
    float: left;
    clear: left;
    text-align: right;
    width: 50%;
    margin: 0;
    margin-bottom: 30px; }
    .timeline > li > .el-container {
      margin-right: 25px;
      display: table;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      overflow: hidden; }
      .timeline > li > .el-container > .side {
        display: table-cell;
        width: 200px;
        text-align: center;
        font-size: 65px;
        vertical-align: middle;
        background-color: #555;
        color: #fff;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08); }
        .timeline > li > .el-container > .side img {
          width: 100%; }
      .timeline > li > .el-container > .content {
        display: table-cell;
        text-align: left;
        background: #ffffff;
        padding: 15px;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08); }
        .timeline > li > .el-container > .content span.time {
          float: right;
          color: rgba(0, 0, 0, 0.3);
          font-weight: 300;
          font-size: 14px; }
          .timeline > li > .el-container > .content span.time i {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.3); }
        .timeline > li > .el-container > .content h1 {
          margin-top: 0;
          font-size: 24px;
          color: #717171;
          -webkit-font-smoothing: antialiased; }
        .timeline > li > .el-container > .content p {
          color: #999;
          font-size: 13px; }
        .timeline > li > .el-container > .content img {
          width: 100%; }
        .timeline > li > .el-container > .content i.block {
          width: 100%;
          text-align: center;
          font-size: 180px;
          background-color: #fafafa;
          color: #717171;
          padding: 50px 0;
          margin-bottom: 20px; }
    .timeline > li > .pointer {
      position: absolute;
      background-color: white;
      right: -13px;
      top: 46px;
      width: 25px;
      height: 25px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      z-index: 2;
      text-align: center;
      line-height: 24px; }
      .timeline > li > .pointer.cyan {
        background-color: #22beef; }
        .timeline > li > .pointer.cyan i {
          color: white; }
      .timeline > li > .pointer.red {
        background-color: #ff4a43; }
        .timeline > li > .pointer.red i {
          color: white; }
      .timeline > li > .pointer.green {
        background-color: #a2d200; }
        .timeline > li > .pointer.green i {
          color: white; }
      .timeline > li > .pointer.orange {
        background-color: #ffc100; }
        .timeline > li > .pointer.orange i {
          color: white; }
      .timeline > li > .pointer.amethyst {
        background-color: #cd97eb; }
        .timeline > li > .pointer.amethyst i {
          color: white; }
      .timeline > li > .pointer.greensea {
        background-color: #16a085; }
        .timeline > li > .pointer.greensea i {
          color: white; }
      .timeline > li > .pointer.drank {
        background-color: #a40778; }
        .timeline > li > .pointer.drank i {
          color: white; }
      .timeline > li > .pointer.hotpink {
        background-color: #ff0066; }
        .timeline > li > .pointer.hotpink i {
          color: white; }
      .timeline > li > .pointer.dutch {
        background-color: #1693a5; }
        .timeline > li > .pointer.dutch i {
          color: white; }
      .timeline > li > .pointer.blue {
        background-color: #418bca; }
        .timeline > li > .pointer.blue i {
          color: white; }
      .timeline > li > .pointer.redbrown {
        background-color: #d9544f; }
        .timeline > li > .pointer.redbrown i {
          color: white; }
      .timeline > li > .pointer.slategray {
        background-color: #3f4e62; }
        .timeline > li > .pointer.slategray i {
          color: white; }
      .timeline > li > .pointer i {
        color: #717171;
        font-size: 14px; }
    .timeline > li:after {
      border-bottom: 10px solid transparent;
      border-top: 10px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      top: 48px;
      width: 0;
      z-index: 1; }
    .timeline > li:first-child > .pointer {
      top: 6px; }
    .timeline > li:first-child:after {
      top: 8px; }
    .timeline > li:nth-of-type(even) {
      float: right;
      clear: right;
      text-align: left; }
      .timeline > li:nth-of-type(even) > .el-container {
        margin-right: 0;
        margin-left: 25px; }
      .timeline > li:nth-of-type(even) > .pointer {
        right: auto;
        left: -13px; }
      .timeline > li:nth-of-type(even):after {
        border-right: 10px solid;
        border-right-color: white;
        left: 15px; }
    .timeline > li:nth-of-type(odd):after {
      border-left: 10px solid;
      border-left-color: white;
      left: auto;
      right: 15px; }
    .timeline > li.full-width {
      clear: both;
      float: none;
      text-align: center;
      width: auto;
      z-index: 2; }
      .timeline > li.full-width:after {
        border-bottom: 10px solid;
        border-bottom-color: white;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        left: 50%;
        margin-left: -10px;
        right: auto;
        top: -20px; }
      .timeline > li.full-width > .el-container {
        margin: 0; }
      .timeline > li.full-width > .pointer {
        left: 50%;
        margin-left: -12px;
        right: auto;
        top: -38px; }
        .timeline > li.full-width > .pointer i {
          margin-left: 1px;
          margin-right: 0; }
    .timeline > li.color > .el-container > .content h1,
    .timeline > li.color > .el-container > .content p {
      color: white; }
    .timeline > li.color > .el-container > .content .time,
    .timeline > li.color > .el-container > .content .time i {
      color: rgba(255, 255, 255, 0.6); }
    .timeline > li.color.red > .el-container > .content {
      background-color: #ff4a43; }
    .timeline > li.color.red:nth-of-type(odd):after {
      border-left-color: #ff4a43; }
    .timeline > li.color.red:nth-of-type(even):after {
      border-right-color: #ff4a43; }
    .timeline > li.color.red.full-width:after {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom-color: #ff4a43; }
    .timeline > li.color.cyan > .el-container > .content {
      background-color: #22beef; }
    .timeline > li.color.cyan:nth-of-type(odd):after {
      border-left-color: #22beef; }
    .timeline > li.color.cyan:nth-of-type(even):after {
      border-right-color: #22beef; }
    .timeline > li.color.cyan.full-width:after {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom-color: #22beef; }
    .timeline > li.color.green > .el-container > .content {
      background-color: #a2d200; }
    .timeline > li.color.green:nth-of-type(odd):after {
      border-left-color: #a2d200; }
    .timeline > li.color.green:nth-of-type(even):after {
      border-right-color: #a2d200; }
    .timeline > li.color.green.full-width:after {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom-color: #a2d200; }
    .timeline > li.color.orange > .el-container > .content {
      background-color: #ffc100; }
    .timeline > li.color.orange:nth-of-type(odd):after {
      border-left-color: #ffc100; }
    .timeline > li.color.orange:nth-of-type(even):after {
      border-right-color: #ffc100; }
    .timeline > li.color.orange.full-width:after {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom-color: #ffc100; }
    .timeline > li.color.amethyst > .el-container > .content {
      background-color: #cd97eb; }
    .timeline > li.color.amethyst:nth-of-type(odd):after {
      border-left-color: #cd97eb; }
    .timeline > li.color.amethyst:nth-of-type(even):after {
      border-right-color: #cd97eb; }
    .timeline > li.color.amethyst.full-width:after {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom-color: #cd97eb; }
    .timeline > li.color.greensea > .el-container > .content {
      background-color: #16a085; }
    .timeline > li.color.greensea:nth-of-type(odd):after {
      border-left-color: #16a085; }
    .timeline > li.color.greensea:nth-of-type(even):after {
      border-right-color: #16a085; }
    .timeline > li.color.greensea.full-width:after {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom-color: #16a085; }
    .timeline > li.color.drank > .el-container > .content {
      background-color: #a40778; }
    .timeline > li.color.drank:nth-of-type(odd):after {
      border-left-color: #a40778; }
    .timeline > li.color.drank:nth-of-type(even):after {
      border-right-color: #a40778; }
    .timeline > li.color.drank.full-width:after {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom-color: #a40778; }
    .timeline > li.color.hotpink > .el-container > .content {
      background-color: #ff0066; }
    .timeline > li.color.hotpink:nth-of-type(odd):after {
      border-left-color: #ff0066; }
    .timeline > li.color.hotpink:nth-of-type(even):after {
      border-right-color: #ff0066; }
    .timeline > li.color.hotpink.full-width:after {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom-color: #ff0066; }
    .timeline > li.color.dutch > .el-container > .content {
      background-color: #1693a5; }
    .timeline > li.color.dutch:nth-of-type(odd):after {
      border-left-color: #1693a5; }
    .timeline > li.color.dutch:nth-of-type(even):after {
      border-right-color: #1693a5; }
    .timeline > li.color.dutch.full-width:after {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom-color: #1693a5; }
    .timeline > li.color.blue > .el-container > .content {
      background-color: #418bca; }
    .timeline > li.color.blue:nth-of-type(odd):after {
      border-left-color: #418bca; }
    .timeline > li.color.blue:nth-of-type(even):after {
      border-right-color: #418bca; }
    .timeline > li.color.blue.full-width:after {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom-color: #418bca; }
    .timeline > li.color.redbrown > .el-container > .content {
      background-color: #d9544f; }
    .timeline > li.color.redbrown:nth-of-type(odd):after {
      border-left-color: #d9544f; }
    .timeline > li.color.redbrown:nth-of-type(even):after {
      border-right-color: #d9544f; }
    .timeline > li.color.redbrown.full-width:after {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom-color: #d9544f; }
    .timeline > li.color.slategray > .el-container > .content {
      background-color: #3f4e62; }
    .timeline > li.color.slategray:nth-of-type(odd):after {
      border-left-color: #3f4e62; }
    .timeline > li.color.slategray:nth-of-type(even):after {
      border-right-color: #3f4e62; }
    .timeline > li.color.slategray.full-width:after {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom-color: #3f4e62; }
    .timeline > li.color.transparent-black > .el-container > .content {
      background-color: rgba(0, 0, 0, 0.3); }
      .timeline > li.color.transparent-black > .el-container > .content i.block {
        background-color: rgba(0, 0, 0, 0.2);
        color: rgba(255, 255, 255, 0.6); }
    .timeline > li.color.transparent-black > .el-container > .side {
      background-color: rgba(0, 0, 0, 0.6); }
    .timeline > li.color.transparent-black.textured > .el-container > .content {
      background: rgba(0, 0, 0, 0.3) url(/assets/images/dot_pattern.png) repeat; }
    .timeline > li.color.transparent-black.textured > .el-container > .side {
      background: rgba(0, 0, 0, 0.6) url(/assets/images/dot_pattern.png) repeat; }
    .timeline > li.color.transparent-black:nth-of-type(odd):after {
      border-left-color: rgba(0, 0, 0, 0.3); }
    .timeline > li.color.transparent-black:nth-of-type(even):after {
      border-right-color: rgba(0, 0, 0, 0.3); }
    .timeline > li.color.transparent-black.full-width:after {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.3); }
    .timeline > li.color.transparent-white > .el-container > .content {
      background-color: rgba(255, 255, 255, 0.2); }
      .timeline > li.color.transparent-white > .el-container > .content i.block {
        background-color: rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.9); }
      .timeline > li.color.transparent-white > .el-container > .content .time,
      .timeline > li.color.transparent-white > .el-container > .content .time i {
        color: rgba(255, 255, 255, 0.9); }
    .timeline > li.color.transparent-white > .el-container > .side {
      background-color: rgba(0, 0, 0, 0.3); }
    .timeline > li.color.transparent-white:nth-of-type(odd):after {
      border-left-color: rgba(255, 255, 255, 0.2); }
    .timeline > li.color.transparent-white:nth-of-type(even):after {
      border-right-color: rgba(255, 255, 255, 0.2); }
    .timeline > li.color.transparent-white.full-width:after {
      border-bottom: 10px solid;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom-color: rgba(255, 255, 255, 0.2); }
  .timeline.timeline-mini {
    padding-top: 25px; }
    .timeline.timeline-mini:after {
      left: 20px; }
    .timeline.timeline-mini > li {
      clear: both;
      float: none;
      width: 100%;
      z-index: 2;
      padding-left: 45px;
      margin-bottom: 25px; }
      .timeline.timeline-mini > li > .el-container {
        margin: 0 !important; }
      .timeline.timeline-mini > li:nth-of-type(odd):after, .timeline.timeline-mini > li:nth-of-type(even):after {
        border-right: 10px solid;
        border-right-color: white;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        left: 25px;
        margin-left: 0;
        right: auto;
        top: 14px; }
      .timeline.timeline-mini > li:nth-of-type(odd) > .pointer, .timeline.timeline-mini > li:nth-of-type(even) > .pointer {
        left: 6px;
        right: auto;
        top: 10px;
        margin-left: 0; }
      .timeline.timeline-mini > li:nth-of-type(odd).color.red:after, .timeline.timeline-mini > li:nth-of-type(even).color.red:after {
        border-right: 10px solid;
        border-right-color: #ff4a43;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent; }
      .timeline.timeline-mini > li:nth-of-type(odd).color.cyan:after, .timeline.timeline-mini > li:nth-of-type(even).color.cyan:after {
        border-right: 10px solid;
        border-right-color: #22beef;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent; }
      .timeline.timeline-mini > li:nth-of-type(odd).color.green:after, .timeline.timeline-mini > li:nth-of-type(even).color.green:after {
        border-right: 10px solid;
        border-right-color: #a2d200;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent; }
      .timeline.timeline-mini > li:nth-of-type(odd).color.orange:after, .timeline.timeline-mini > li:nth-of-type(even).color.orange:after {
        border-right: 10px solid;
        border-right-color: #ffc100;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent; }
      .timeline.timeline-mini > li:nth-of-type(odd).color.amethyst:after, .timeline.timeline-mini > li:nth-of-type(even).color.amethyst:after {
        border-right: 10px solid;
        border-right-color: #cd97eb;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent; }
      .timeline.timeline-mini > li:nth-of-type(odd).color.greensea:after, .timeline.timeline-mini > li:nth-of-type(even).color.greensea:after {
        border-right: 10px solid;
        border-right-color: #16a085;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent; }
      .timeline.timeline-mini > li:nth-of-type(odd).color.drank:after, .timeline.timeline-mini > li:nth-of-type(even).color.drank:after {
        border-right: 10px solid;
        border-right-color: #a40778;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent; }
      .timeline.timeline-mini > li:nth-of-type(odd).color.hotpink:after, .timeline.timeline-mini > li:nth-of-type(even).color.hotpink:after {
        border-right: 10px solid;
        border-right-color: #ff0066;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent; }
      .timeline.timeline-mini > li:nth-of-type(odd).color.dutch:after, .timeline.timeline-mini > li:nth-of-type(even).color.dutch:after {
        border-right: 10px solid;
        border-right-color: #1693a5;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent; }
      .timeline.timeline-mini > li:nth-of-type(odd).color.blue:after, .timeline.timeline-mini > li:nth-of-type(even).color.blue:after {
        border-right: 10px solid;
        border-right-color: #418bca;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent; }
      .timeline.timeline-mini > li:nth-of-type(odd).color.redbrown:after, .timeline.timeline-mini > li:nth-of-type(even).color.redbrown:after {
        border-right: 10px solid;
        border-right-color: #d9544f;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent; }
      .timeline.timeline-mini > li:nth-of-type(odd).color.slategray:after, .timeline.timeline-mini > li:nth-of-type(even).color.slategray:after {
        border-right: 10px solid;
        border-right-color: #3f4e62;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent; }
      .timeline.timeline-mini > li:nth-of-type(odd).color.transparent-black:after, .timeline.timeline-mini > li:nth-of-type(even).color.transparent-black:after {
        border-right: 10px solid;
        border-right-color: rgba(0, 0, 0, 0.3);
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent; }
      .timeline.timeline-mini > li:nth-of-type(odd).color.transparent-white:after, .timeline.timeline-mini > li:nth-of-type(even).color.transparent-white:after {
        border-right: 10px solid;
        border-right-color: rgba(255, 255, 255, 0.2);
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent; }