
/************************************/
/************* TOOLTIPS *************/
/************************************/
#tooltip {
  color: #717171;
  font-size: 11px;
  line-height: 11px;
  display: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }
  #tooltip h1 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    margin: 0;
    padding: 0; }

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

#flotTip {
  background-color: white !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
  color: #717171;
  border: 0 !important;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }
  #flotTip b {
    font-family: "Roboto Slab", serif; }

/***************************************/
/************* TYPOGRAPHY **************/
/***************************************/
.thin {
  font-weight: 100 !important; }

.uppercase {
  text-transform: uppercase !important; }

.italic {
  font-style: italic; }

.bold {
  font-weight: 700; }

.small-bold {
  font-size: 11px;
  font-weight: 700; }

/* filled elements */
h1.filled,
h2.filled,
h3.filled,
h4.filled,
h5.filled,
h6.filled {
  background: #717171;
  padding: 10px;
  color: white;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }

p.filled,
blockquote.filled,
div.filled,
ul.filled {
  background: #f8f8f8;
  padding: 10px;
  margin-top: -10px;
  color: #717171;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1); }
  p.filled.red,
  blockquote.filled.red,
  div.filled.red,
  ul.filled.red {
    background: #f15751;
    color: white; }
  p.filled.cyan,
  blockquote.filled.cyan,
  div.filled.cyan,
  ul.filled.cyan {
    background: #34b5dd;
    color: white; }
  p.filled.orange,
  blockquote.filled.orange,
  div.filled.orange,
  ul.filled.orange {
    background: #ecb713;
    color: white; }
  p.filled.green,
  blockquote.filled.green,
  div.filled.green,
  ul.filled.green {
    background: #99c210;
    color: white; }
  p.filled.amethyst,
  blockquote.filled.amethyst,
  div.filled.amethyst,
  ul.filled.amethyst {
    background: #caa0e2;
    color: white; }
  p.filled.greensea,
  blockquote.filled.greensea,
  div.filled.greensea,
  ul.filled.greensea {
    background: #22e1bb;
    color: white; }
  p.filled.drank,
  blockquote.filled.drank,
  div.filled.drank,
  ul.filled.drank {
    background: #ed0aae;
    color: white; }
  p.filled.dutch,
  blockquote.filled.dutch,
  div.filled.dutch,
  ul.filled.dutch {
    background: #26cae2;
    color: white; }
  p.filled.hotpink,
  blockquote.filled.hotpink,
  div.filled.hotpink,
  ul.filled.hotpink {
    background: #ff4d94;
    color: white; }
  p.filled.blue,
  blockquote.filled.blue,
  div.filled.blue,
  ul.filled.blue {
    background: #7db0db;
    color: white; }
  p.filled.slategray,
  blockquote.filled.slategray,
  div.filled.slategray,
  ul.filled.slategray {
    background: #5d7391;
    color: white; }
  p.filled.redbrown,
  blockquote.filled.redbrown,
  div.filled.redbrown,
  ul.filled.redbrown {
    background: #e7918e;
    color: white; }

p.filled.withoutHeader,
blockquote.filled.withoutHeader,
div.filled.withoutHeader,
ul.filled.withoutHeader {
  margin-top: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

blockquote.filled.text-right {
  border-left-width: 0;
  border-right: 5px solid; }

blockquote.filled i {
  font-size: 46px;
  margin: 0 10px 10px 0;
  color: rgba(0, 0, 0, 0.1); }

blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.3); }
  blockquote.pull-right {
    border-right: 5px solid rgba(0, 0, 0, 0.3); }
  blockquote p {
    line-height: 1.6em; }
  blockquote small {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300; }

blockquote.filled {
  min-height: 60px;
  border-color: #717171; }
  blockquote.filled small {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 400; }
  blockquote.filled.red {
    border-color: #ff4a43; }
  blockquote.filled.cyan {
    border-color: #22beef; }
  blockquote.filled.orange {
    border-color: #ffc100; }
  blockquote.filled.green {
    border-color: #a2d200; }
  blockquote.filled.amethyst {
    border-color: #cd97eb; }
  blockquote.filled.greensea {
    border-color: #16a085; }
  blockquote.filled.drank {
    border-color: #a40778; }
  blockquote.filled.dutch {
    border-color: #1693a5; }
  blockquote.filled.hotpink {
    border-color: #ff0066; }
  blockquote.filled.blue {
    border-color: #418bca; }
  blockquote.filled.slategray {
    border-color: #3f4e62; }
  blockquote.filled.redbrown {
    border-color: #d9544f; }

.filled.red {
  background: #ff4a43; }

.filled.cyan {
  background: #22beef; }

.filled.orange {
  background: #ffc100; }

.filled.green {
  background: #a2d200; }

.filled.amethyst {
  background: #cd97eb; }

.filled.greensea {
  background: #16a085; }

.filled.drank {
  background: #a40778; }

.filled.dutch {
  background: #1693a5; }

.filled.hotpink {
  background: #ff0066; }

.filled.blue {
  background: #418bca; }

.filled.slategray {
  background: #3f4e62; }

.filled.redbrown {
  background: #d9544f; }

address.filled {
  background: #f8f8f8;
  padding: 10px;
  font-weight: 300;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #717171; }
  address.filled.addon {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
  address.filled i {
    font-size: 80px;
    opacity: 0.05;
    margin-top: -50px; }
  address.filled strong {
    background: #717171;
    color: white;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    display: block;
    margin: -10px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 300; }
  address.filled.filled-append {
    margin-top: -20px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px; }
    address.filled.filled-append strong {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }
    address.filled.filled-append a {
      color: #fff; }
  address.filled.red {
    background: #ff948f; }
    address.filled.red strong {
      background: #ff4a43; }
  address.filled.cyan {
    background: #69d3f4; }
    address.filled.cyan strong {
      background: #22beef; }
  address.filled.orange {
    background: #ffd44d; }
    address.filled.orange strong {
      background: #ffc100; }
  address.filled.green {
    background: #ccff20; }
    address.filled.green strong {
      background: #a2d200; }
  address.filled.amethyst {
    background: #ecd7f7; }
    address.filled.amethyst strong {
      background: #cd97eb; }
  address.filled.greensea {
    background: #22e1bb; }
    address.filled.greensea strong {
      background: #16a085; }
  address.filled.drank {
    background: #ed0aae; }
    address.filled.drank strong {
      background: #a40778; }
  address.filled.dutch {
    background: #26cae2; }
    address.filled.dutch strong {
      background: #1693a5; }
  address.filled.hotpink {
    background: #ff4d94; }
    address.filled.hotpink strong {
      background: #ff0066; }
  address.filled.blue {
    background: #7db0db; }
    address.filled.blue strong {
      background: #418bca; }
  address.filled.slategray {
    background: #5d7391; }
    address.filled.slategray strong {
      background: #3f4e62; }
  address.filled.redbrown {
    background: #e7918e; }
    address.filled.redbrown strong {
      background: #d9544f; }

dl dt {
  font-size: 1.1em; }

dl.filled {
  background: #f2f2f2;
  color: #717171; }
  dl.filled dt,
  dl.filled dd {
    padding: 5px 10px; }
  dl.filled dt {
    background: #717171;
    font-weight: 500;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 14px; }
  dl.filled dd {
    background: #f8f8f8;
    font-weight: 300; }
  dl.filled.red {
    color: white; }
    dl.filled.red dd {
      background: #ff544d; }
    dl.filled.red dt {
      background: #ff4a43; }
  dl.filled.cyan {
    color: white; }
    dl.filled.cyan dd {
      background: #2cc1f0; }
    dl.filled.cyan dt {
      background: #22beef; }
  dl.filled.green {
    color: white; }
    dl.filled.green dd {
      background: #aadc00; }
    dl.filled.green dt {
      background: #a2d200; }
  dl.filled.orange {
    color: white; }
    dl.filled.orange dd {
      background: #ffc30a; }
    dl.filled.orange dt {
      background: #ffc100; }
  dl.filled.amethyst {
    color: white; }
    dl.filled.amethyst dd {
      background: #d1a0ed; }
    dl.filled.amethyst dt {
      background: #cd97eb; }
  dl.filled.greensea {
    color: white; }
    dl.filled.greensea dd {
      background: #17a98c; }
    dl.filled.greensea dt {
      background: #16a085; }
  dl.filled.hotpink {
    color: white; }
    dl.filled.hotpink dd {
      background: #ff0a6c; }
    dl.filled.hotpink dt {
      background: #ff0066; }
  dl.filled.drank {
    color: white; }
    dl.filled.drank dd {
      background: #ae077f; }
    dl.filled.drank dt {
      background: #a40778; }
  dl.filled.dutch {
    color: white; }
    dl.filled.dutch dd {
      background: #179bae; }
    dl.filled.dutch dt {
      background: #1693a5; }
  dl.filled.blue {
    color: white; }
    dl.filled.blue dd {
      background: #4990cc; }
    dl.filled.blue dt {
      background: #418bca; }
  dl.filled.slategray {
    color: white; }
    dl.filled.slategray dd {
      background: #435368; }
    dl.filled.slategray dt {
      background: #3f4e62; }
  dl.filled.redbrown {
    color: white; }
    dl.filled.redbrown dd {
      background: #db5c57; }
    dl.filled.redbrown dt {
      background: #d9544f; }