
/****************************************/
/************* TYPEAHEAD.JS *************/
/****************************************/
.twitter-typeahead .tt-hint {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px; }

.twitter-typeahead .hint-small {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
  line-height: 1.5; }

.twitter-typeahead .hint-large {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
  line-height: 1.33; }

.twitter-typeahead {
  width: 100%; }

.tt-dropdown-menu {
  width: 100%;
  color: #717171; }

.tt-hint {
  width: 100%; }