
/*********************************/
/************* WELLS *************/
/*********************************/
.well {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #717171; }
  .well.well-transparent-black {
    background-color: rgba(0, 0, 0, 0.3);
    color: white; }
  .well.well-transparent-white {
    background-color: rgba(255, 255, 255, 0.3); }
  .well.well-white {
    background-color: white; }
  .well.well-cyan {
    background-color: #e0f6fd;
    color: #22beef; }
  .well.well-red {
    background-color: #ffdddc;
    color: #ff4a43; }
  .well.well-green {
    background-color: #fbffeb;
    color: #a2d200; }
  .well.well-orange {
    background-color: #fff3cc;
    color: #ffc100; }
  .well.well-amethyst {
    background-color: #f6edfb;
    color: #cd97eb; }
  .well.well-greensea {
    background-color: #d5f9f2;
    color: #16a085; }
  .well.well-dutch {
    background-color: #c3f0f7;
    color: #1693a5; }
  .well.well-hotpink {
    background-color: #ffcce0;
    color: #ff0066; }
  .well.well-drank {
    background-color: #fdc7ee;
    color: #a40778; }
  .well.well-blue {
    background-color: #e1ecf6;
    color: #418bca; }
  .well.well-slategray {
    background-color: #c6cfda;
    color: #3f4e62; }
  .well.well-redbrown {
    background-color: #f4cecd;
    color: #d9544f; }