{{! 意见反馈页面 }}

<!-- Wrap all page content here -->
<div id="wrap">

<!-- row -->
<div class="row">

    <nav class="navbar navbar-reserve navbar-fixed-top navbar-transparent-black">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#introduction-header" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><strong>DD</strong>LISTING</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="introduction-header">
          <ul class="nav navbar-nav">
            <li class="active">{{#link-to 'introduction'}}简介{{/link-to}}</li>
            <li>{{#link-to 'feedback'}}意见反馈{{/link-to}}</li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->

          </ul>
          <ul class="nav navbar-nav pull-right">
            <li class="text-right">{{#link-to 'login'}}登录{{/link-to}}</li>
            <li class="text-right">{{#link-to 'register'}}注册{{/link-to}}</li>
          </ul>
        </div><!-- /.navbar-collapse -->

    </nav>

</div>
<!-- /row -->




  <!-- Make page fluid -->
 <div class="row">

          <!-- <div class="jumbotron bg-transparent-black-3">

            <div class="container text-center">
              <h1>Hello, world!</h1>
              <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <p><a class="btn btn-red btn-large">Learn more</a></p>
            </div>

          </div> -->



  </div>


</div>
<!-- Wrap all page content end -->
