{{! 反馈信息页面 }}

<!-- Wrap all page content here -->
<div id="wrap" class="intro-font-color">

<!-- row -->
<div class="row">

    {{header-page model=model}}

</div>
<!-- /row -->
</div>
<!-- Wrap all page content end -->

<div class="row myfeature1 feature-splie">
    <div class="col-md-4 col-sm-4">
        <div class="hero-wrapper">
            <div class="col">
                <h3 class="">
                    欢迎给我留言
                </h3>
                <p class="subline">
                    联系QQ：1527254027
                </p>
          </div>

        </div>
    </div>
</div>
