{{! 项目介绍页面 }}

<!-- Wrap all page content here -->
<div id="wrap" class="intro-font-color">

<!-- row -->
<div class="row">

    {{header-page model=model}}

</div>
<!-- /row -->
</div>
<!-- Wrap all page content end -->

<div class="row myfeature1 feature-splie">
    <div class="col-md-4 col-sm-4">
        <div class="hero-wrapper">
            <div class="col">
                <h3 class="">
                    天天清单，不一样的清单
                </h3>
                <p class="subline">
                    天天清单，天天清，天天轻。
                </p>
                    {{#link-to 'login' class="button white button-download no-text-decoration" data-safari-modal="true"
                    data-track="Wunderlist:Download:Header"}}
                        已有账号请直接登录
                    {{/link-to}}
                    {{#link-to 'register' class="button outlined-white button-signup no-text-decoration"}}
                        创建帐户
                    {{/link-to}}
          </div>

        </div>
    </div>
    <div class="col-md-8 col-sm-8">
            <img class="img-responsive" height="" src="/assets/images/introduction/1.jpg" />
    </div>
</div>

<div class="row myfeature2 feature-splie" style="">
    <div class="col-md-6 col-sm-6">
        <img class="img-responsive" height="" src="/assets/images/introduction/2.jpg" />
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="hero-wrapper">

            <div class="col">
                <span class="wundercon blue block feature-item-icon">
                    d
                </span>
                <h3>
                    好好规划所有事情
                </h3>
                <p class="subline">
                    随时管理和共享您的待办任务、工作、购物、想看的电影和生活清单。天天清单让您更轻松地完成每一件您正在规划的，生活上的大小事情。
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row myfeature1 feature-splie" style="">
    <div class="col-md-6 col-sm-6">
        <div class="hero-wrapper">
            <div class="col">
                <span class="wundercon blue block feature-item-icon">
                    e
                </span>
                <h3 class="">
                    随时被提醒
                </h3>
                <p class="subline">
                    您可以为任务设置到期日与提醒，和分配任务。无论那是一个办公清单或者是娱乐清单，有了天天清单，您将不会再忘记deadline。
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <img class="img-responsive" src="/assets/images/introduction/3.jpg" style="height:450px;" />
    </div>
</div>

<div class="row myfeature2 feature-splie" style="">
    <div class="col-md-4 col-sm-4">
        <div class="hero-wrapper">
            <div class="col">
                <span class="wundercon blue block feature-item-icon">
                    L
                </span>
                <h3 class="">
                    与任何人协作
                </h3>
                <p class="subline">
                    与您的家庭、朋友及同事共享清单。
                    让您的办公协作变得超级便捷有效。
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-8">
        <img class="img-responsive" src="/assets/images/introduction/4.jpg" />
    </div>
</div>

<div class="row myfeature1 feature-splie" style="">
    <div class="feature padding-bottom padding-top platforms">
        <div class="wrapper center">
            <h3>
                随时随地访问
            </h3>
            <p class="subline">
                您可以在iPhone、iPad、安卓、Windows8Windows 7、Mac、Chromebook、Kindle Fire
                和网络上免费使用天天清单，让您的生活在几乎所有设备上无缝同步。
            </p>
        </div>
        <div class="wrapper center">
            <p>
                {{#if model.isAuthenticated}}
                    {{#link-to 'login' class="button white button-download" data-safari-modal="true"
                    data-track="Wunderlist:Download:Header" title="下载天天清单"}}
                        已有账号请直接登录
                    {{/link-to}}
                {{else}}
                    {{#link-to 'register' class="button outlined-white button-signup" title="创建免费帐户"}}
                        创建帐户
                    {{/link-to}}
                {{/if}}
            </p>
            <span class="over-sized devices img-wrapper"
            style="background-image:url(/assets/images/introduction/5.jpg); width:1016px; height:539px; display:inline-block;">
            </span>
        </div>
    </div>
</div>
<div class="wunderlist-website" style="">

    <div class="feature feature-splie myfeature2" style="">
        <div class="center" id="features">
            <h2>
                天天清单功能一览
            </h2>
        </div>
        <div class="center feature-grid">
            <a class="sidefeatures-item" href="/introduction">
                <span class="wundercon sidefeatures-item-icon">
                    ≤
                </span>
                <h6>
                    清单夹
                </h6>
                <p class="small">
                    将所有同类形的清单归类至单一文件夹
                </p>
            </a>
            <a class="sidefeatures-item" href="/introduction">
                <span class="wundercon sidefeatures-item-icon">
                    I
                </span>
                <h6>
                    发表评论
                </h6>
                <p class="small">
                    将所有对话集合在同一地方，所有人也可以到访。
                </p>
            </a>
            <a class="sidefeatures-item" href="/introduction">
                <span class="wundercon sidefeatures-item-icon">
                    L
                </span>
                <h6>
                    共享清单
                </h6>
                <p class="small">
                    与您的家人，好友和同事共享清单
                </p>
            </a>
            <a class="sidefeatures-item" href="/introduction">
                <span class="wundercon sidefeatures-item-icon">
                    ‰
                </span>
                <h6>
                    支持所有设备
                </h6>
                <p class="small">
                    在iOS、Mac、安卓、Windows和网络上免费使用
                </p>
            </a>
            <a class="sidefeatures-item" href="/introduction">
                <span class="wundercon sidefeatures-item-icon">
                    e
                </span>
                <h6>
                    提醒
                </h6>
                <p class="small">
                    添加提醒以确保不会忘记任务
                </p>
            </a>
            <a class="sidefeatures-item" href="/introduction">
                <span class="wundercon sidefeatures-item-icon">
                    c
                </span>
                <h6>
                    到期日
                </h6>
                <p class="small">
                    设置到期日，确保不会超过最后期限
                </p>
            </a>
            <a class="sidefeatures-item" href="/introduction">
                <span class="wundercon sidefeatures-item-icon">
                    N
                </span>
                <h6>
                    备注
                </h6>
                <p class="small">
                    添加备注以确保您的所有想法都能够被领会
                </p>
            </a>
            <a class="sidefeatures-item" href="/introduction">
                <span class="wundercon sidefeatures-item-icon">
                    l
                </span>
                <h6>
                    通知
                </h6>
                <p class="small">
                    通过推送通知、电子邮件和应用内通知了解最新动态
                </p>
            </a>
            <a class="sidefeatures-item" href="/introduction">
                <span class="wundercon sidefeatures-item-icon">
                    X
                </span>
                <h6>
                    发邮件至天天清单
                </h6>
                <p class="small">
                    只需通过发送便可以将电子邮件转变成待办任务
                </p>
            </a>
            <a class="sidefeatures-item" href="/introduction">
                <span class="wundercon sidefeatures-item-icon">
                    d
                </span>
                <h6>
                    添加至天天清单
                </h6>
                <p class="small">
                    直接从您的浏览器轻松添加网络内容
                </p>
            </a>
            <a class="sidefeatures-item" href="/introduction">
                <span class="wundercon sidefeatures-item-icon">
                    2
                </span>
                <h6>
                    标签任务
                </h6>
                <p class="small">
                    使用标签更便捷地管理任務
                </p>
            </a>
            <a class="sidefeatures-item" href="/introduction">
                <span class="wundercon sidefeatures-item-icon">
                    Z
                </span>
                <h6>
                    打印
                </h6>
                <p class="small">
                    只需点击一下便可以打印您的任务和清单。
                </p>
            </a>
        </div>
        <div class="hidden center twitter-love">
            <h2>
                What people are saying on Twitter
            </h2>
            <a class="twitter-timeline" href="/Wunderlist/timelines/560473527984603136"
            data-widget-id="565557605150769152" width="600" height="540">
                Wunderlist Love
            </a>
        </div>
    </div>

</div>
