{{! APP登录页面 }}

<link href="assets/css/register.css" rel="stylesheet" type="text/css" />
<!-- 登录页面显示登录进度的进度条样式 -->
<link rel="stylesheet" type="text/css" href="assets/tiptools/ns-default.css" />
<link rel="stylesheet" type="text/css" href="assets/tiptools/ns-style-bar.css" />
<link rel="stylesheet" type="text/css" href="assets/css/3th-login/3th-login.css" />
<link rel="stylesheet" type="text/css" href="assets/css/3th-login/style.css" />


<!-- Wrap all page content here -->
<div id="wrap">
  <!-- Make page fluid -->
  <div class="row">
    <!-- Page content -->
    <div id="content-login" class="col-md-12 full-page login">


      <div class="inside-block">
        <div id="loginFormDiv">
          <h1 style="font-size: 46px;">
            <img src="assets/images/logo/login-logo.png" class="logo" height="60" width="60">
            <strong>DD</strong><font style="font-size:38px !important">listing</font>
          </h1>
            {{login-form}}
        </div>
      </div>

    </div>
    <!-- /Page content -->
  </div>
</div>
<!-- Wrap all page content end -->
